Repository jaiarobotics/jaiabot, changes with the labels that .github/labeler.yml gives for each.
All labels: debian, rootfs, github-actions, circleci, systemd

.github/labeler.yml:

# Labels on branch name
feature:
  - head-branch: ['feature/*', 'feat/*']

bug:
  - head-branch: 'bug/*'

task:
  - head-branch: 'task/*'

# Labels on changed files
debian:
  - changed-files:
      - any-glob-to-any-file: 'debian/**'

rootfs:
  - changed-files:
      - any-glob-to-any-file: 'rootfs/**'

github-actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

circleci:
  - changed-files:
      - any-glob-to-any-file: '.circleci/**'

systemd:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/gen/systemd*'
          - 'config/templates/systemd/**'

Run pr-labeler within *target* of PR to ensure it isn't changed by the head branch
  .github/workflows/pr-labeler.yml
Labels: github-actions

Test tmp manufacturer key and clearing on run of fleet config
  .circleci/config.yml
  config/ansible/fleet/ssh-copy-hub-keys.yml
  config/ansible/fleet/ssh-update-hubs.yml
  config/ansible/fleet/tasks/clear-tmp-authorized-keys.yml
  rootfs/customization/includes.chroot/etc/jaiabot/ssh/tmp_authorized_keys
Labels: rootfs, circleci

Don't crash when attempting to load series that aren't present in the file.
  src/python/pyjaia/pyjaia/series.py
  src/web/jdv/server/jaia_h5.py
  src/web/jdv/server/jaialog_store.py
Labels: none

If a plot zoom has no xrange, then set timeRange to null.
  src/web/jdv/client/src/index.tsx
Labels: none

Fix correct install of flash-kernel on Jammy
  .circleci/config.yml
  rootfs/scripts/create_raspi_base_image.sh
Labels: rootfs, circleci

Try another approach to make flash-kernel run in jammy
  rootfs/scripts/create_raspi_base_image.sh
Labels: rootfs

task/move-data-offload-button-to-top-toolbar (#924)
  src/web/jcc/client/components/CommandControl/CommandControl.tsx
  src/web/jcc/client/components/DownloadPanel.tsx
Labels: none

task/move-data-offload-button-to-top-toolbar (#924)
  src/web/jcc/client/components/CommandControl/CommandControl.tsx
  src/web/jcc/client/components/DownloadPanel.tsx
Labels: none

Updating function comments based on documentation standards
  src/web/jcc/client/components/RCControllerPanel.tsx
Labels: none

Feature/rc speed override/jaia 1258 (#929)
  src/web/jcc/client/components/CommandControl/CommandControl.less
  src/web/jcc/client/components/RCControllerPanel.tsx
Labels: none

Feature/rc speed override/jaia 1258 (#929)
  src/web/jcc/client/components/CommandControl/CommandControl.less
  src/web/jcc/client/components/RCControllerPanel.tsx
Labels: none

Fixes and also add ability to preseed first boot with authorized keys entries
  config/ansible/fleet/ssh-copy-hub-keys.yml
  config/ansible/fleet/tasks/clear-tmp-authorized-keys.yml
  rootfs/customization/includes.chroot/etc/jaiabot/init/first-boot.preseed.ex
  rootfs/customization/includes.chroot/etc/jaiabot/init/first-boot.sh
  rootfs/customization/includes.chroot/etc/jaiabot/ssh/tmp_authorized_keys
  rootfs/scripts/includes/import_utils.sh
Labels: rootfs

bug/docker-deploy-script-jaia-1509 (#932)
  scripts/docker-arm64-build-and-deploy.sh
  scripts/docker-build-build-system.sh
Labels: none

bug/docker-deploy-script-jaia-1509 (#932)
  scripts/docker-arm64-build-and-deploy.sh
  scripts/docker-build-build-system.sh
Labels: none

bug/jdv-crashes-selecting-warning-field-bot-status-jaia-1510 (#933)
  src/python/pyjaia/pyjaia/h5_tools.py
  src/python/pyjaia/pyjaia/series.py
  src/web/jdv/client/src/LogApi.ts
  src/web/jdv/client/src/index.tsx
Labels: none

bug/jdv-crashes-selecting-warning-field-bot-status-jaia-1510 (#933)
  src/python/pyjaia/pyjaia/h5_tools.py
  src/python/pyjaia/pyjaia/series.py
  src/web/jdv/client/src/LogApi.ts
  src/web/jdv/client/src/index.tsx
Labels: none
