Repository jaiarobotics/jaiabot, pull requests merged in 2022-11, with the labels that each got.

#282 bug/forgot-to-add-change-log-1-y
  src/doc/markdown/page02_change_log.md
Labels: 1.y

#283 bug/requirement-txt-is-missing
  config/templates/systemd/jaiabot_log_converter.service.in
  config/templates/systemd/jaiabot_plot.service.in
  config/templates/systemd/web.service.in
  src/doc/markdown/page02_change_log.md
  src/plot/CMakeLists.txt
  src/plot/requirements.txt
  src/python/requirements.txt
  src/web/CMakeLists.txt
  src/web/requirements.txt
Labels: release-1

#284 bug/requirement-txt-is-missing
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
  src/doc/markdown/page02_change_log.md
  src/plot/CMakeLists.txt
Labels: 1.y

#290 feature/arduino-settings-versions
  config/templates/bot/bounds.pb.cfg
  config/templates/bot/jaiabot_driver_arduino.pb.cfg.in
  src/arduino/jaiabot_runtime/jaiabot_runtime.ino
  src/bin/drivers/arduino/app.cpp
  src/bin/drivers/arduino/config.proto
  src/bin/web_portal/app.cpp
  src/doc/markdown/page02_change_log.md
  src/lib/messages/arduino.proto
  src/lib/messages/bounds.proto
  src/lib/messages/health.proto
  src/lib/messages/portal.proto
Labels: release-1, feature

#291 bug/wrong-health-error-plot
  src/doc/markdown/page02_change_log.md
  src/lib/messages/health.proto
Labels: bug, release-1

#289 feature/arduino-settings-versions
  config/templates/bot/bounds.pb.cfg
  config/templates/bot/jaiabot_driver_arduino.pb.cfg.in
  src/arduino/jaiabot_runtime/jaiabot_runtime.ino
  src/bin/drivers/arduino/app.cpp
  src/bin/drivers/arduino/config.proto
  src/bin/web_portal/app.cpp
  src/doc/markdown/page02_change_log.md
  src/lib/messages/arduino.proto
  src/lib/messages/bounds.proto
  src/lib/messages/health.proto
  src/lib/messages/portal.proto
Labels: 1.y, feature

#292 bug/wrong-health-error-plot
  src/doc/markdown/page02_change_log.md
Labels: bug, 1.y

#298 bug/gps-req-need-to-be-looser
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/doc/markdown/page02_change_log.md
Labels: bug, release-1

#287 Feature/bot cog desired heading
  src/plot/Makefile
  src/plot/client/src/JaiaMap.js
  src/plot/client/src/LogApi.js
  src/plot/client/src/gui/BotFeature.js
  src/plot/client/src/gui/Contours.js
  src/plot/client/src/gui/Styles.js
  src/plot/client/src/gui/TaskPacketFeatures.js
  src/plot/client/src/gui/botCourseOverGround.svg
  src/plot/client/src/gui/botDesiredHeading.svg
  src/plot/client/src/index.js
  src/plot/server/contours.py
  src/plot/server/jaiabot_data_vision.py
  src/plot/server/jaialogs/__init__.py
  src/web/CMakeLists.txt
  src/web/command_control/client/components/CommandControl.jsx
  src/web/command_control/client/components/EngineeringPanel.jsx
  src/web/command_control/client/components/TaskPackets.jsx
  src/web/jed/helpPane.png
  src/web/jed/index.html
  src/web/jed/script.js
  src/web/jed/style.css
  src/web/server/app.py
  src/web/server/contour_map.py
  src/web/server/contours.py
  src/web/server/jaia.py
Labels: 1.y, feature

#293 Feature/jdv time slider
  src/plot/client/dist/style.css
  src/plot/client/package-lock.json
  src/plot/client/package.json
  src/plot/client/src/DataTable.js
  src/plot/client/src/JaiaMap.js
  src/plot/client/src/TimeSlider.js
  src/plot/client/src/bisect.js
  src/plot/client/src/gui/Styles.js
  src/plot/client/src/index.js
  src/web/server/jaia.py
Labels: 1.y, feature

#296 bug/jed-speed-warn-and-imu-port
  src/doc/markdown/page02_change_log.md
  src/web/command_control/client/components/MissionSpeedSettingsPanel.jsx
  src/web/jed/index.html
  src/web/jed/script.js
Labels: bug, 1.y

#297 Feature/jdv csv download
  src/plot/client/dist/style.css
  src/plot/client/src/DataTable.js
  src/plot/client/src/DownloadCSV.js
  src/plot/client/src/LogSelector.js
  src/plot/client/src/OpenPlotSet.js
  src/plot/client/src/PathSelector.js
  src/plot/client/src/PlotProfiles.js
  src/plot/client/src/gui/MissionFeatures.js
  src/plot/client/src/gui/Styles.js
  src/plot/client/src/index.js
  src/web/command_control/client/components/CommandControl.jsx
Labels: 1.y, feature
