Repository jaiarobotics/jaiabot, pull requests merged in 2022-12, with the labels that each got.

#303 Add tooltips to all buttons
  src/web/command_control/client/components/CommandControl.jsx
  src/web/command_control/client/components/Details.jsx
Labels: feature

#305 Remember dive/drift parameters after editing goals
  src/web/command_control/client/components/CommandControl.jsx
  src/web/command_control/client/components/Details.jsx
  src/web/command_control/client/components/DiveParameters.jsx
  src/web/command_control/client/components/GoalSettings.jsx
  src/web/command_control/client/components/MissionLibrary.jsx
  src/web/command_control/client/components/MissionSpeedSettingsPanel.jsx
  src/web/command_control/client/components/Settings.jsx
Labels: feature

#306 Feature/jcc botdetails number hotkeys + SHIFT-# to stop a bot
  src/web/command_control/client/components/CommandControl.jsx
Labels: feature

#307 Feature/jcc mission upload download buttons
  src/web/command_control/client/components/LoadMissionPanel.jsx
  src/web/command_control/client/components/SaveMissionPanel.jsx
  src/web/command_control/client/components/Utilities.jsx
Labels: feature

#309 Feature/jcc active mission layer
  config/launch/simulation/all.launch
  src/bin/web_portal/app.cpp
  src/lib/messages/portal.proto
  src/plot/client/package-lock.json
  src/plot/client/src/gui/MissionFeatures.js
  src/web/command_control/client/components/CommandControl.jsx
  src/web/server/jaia.py
Labels: feature

#310 added i2c table and led tables and pictures
  src/doc/figures/logic-board-leds.png
  src/doc/figures/power-board-leds.png
  src/doc/markdown/page70_hardware.md
Labels: task

#311 Feature/jcc incontrol
  src/web/command_control/client/components/CommandControl.jsx
  src/web/command_control/client/components/Details.jsx
  src/web/command_control/client/components/Utilities.jsx
  src/web/command_control/client/style/CommandControl.less
  src/web/command_control/common/JaiaAPI.js
  src/web/jed/index.html
  src/web/jed/script.js
  src/web/jed/style.css
  src/web/server/app.py
  src/web/server/jaia.py
Labels: feature

#312 JED migrate from cookies to localStorage
  src/web/jed/script.js
Labels: task

#313 Use finger cursor when hovering on time slider
  src/plot/client/dist/style.css
Labels: feature

#300 feature/gps-req-transit-aft-dive
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/bin/mission_manager/mission_manager.h
Labels: feature

#301 feature/watch-bot-batt-percentage
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  config/templates/bot/jaiabot_health.pb.cfg.in
  src/bin/fusion/config.proto
  src/bin/fusion/fusion.cpp
  src/bin/health/arduino_thread.cpp
  src/bin/health/config.proto
  src/bin/health/system_thread.h
Labels: feature

#128 feature/multi-message-command
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/hub_manager/hub_manager.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/mission_manager.h
  src/bin/web_portal/app.cpp
  src/lib/groups.h
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/mission.proto
  src/web/command_control/client/components/CommandControl.jsx
  src/web/server/jaia.py
  src/web/server/missions.py
Labels: 1.y

#320 added a few charts to the hardware tables
  src/doc/markdown/page70_hardware.md
Labels: task

#322 bug/JAIAB-194-fixing-more-bugs-found-during-1-3-0-beta-testing
  src/bin/health/time_thread.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/machine.h
  src/jdv/client/src/gui/Styles.js
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/mission.proto
  src/web/command_control/client/components/CommandControl.jsx
  src/web/command_control/client/components/Details.jsx
  src/web/command_control/client/style/CommandControl.less
Labels: bug

#323 feature/JAIAB-158-update-state-machine-to-include-surf-task
  config/templates/bot/bot.bhv.in
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/jdv/client/src/gui/Styles.js
  src/lib/messages/mission.proto
  src/lib/moos_gateway/jaiabot_gateway_plugin.cpp
  src/web/command_control/client/components/CommandControl.jsx
  src/web/command_control/client/components/GoalSettings.jsx
Labels: feature

#321 Added satellite icon to bot arrow, when in Reacquire GPS states.
  src/jdv/client/package-lock.json
  src/jdv/client/src/gui/Styles.js
  src/jdv/client/src/gui/satellite.svg
  src/web/command_control/client/components/CommandControl.jsx
  src/web/command_control/client/components/Details.jsx
  src/web/command_control/package.json
Labels: feature

#325 task/update-changelog-with-1.3.0
  src/doc/markdown/page02_change_log.md
Labels: task
