Repository jaiarobotics/jaiabot, pull requests merged in 2023-10, with the labels that each got.

#623 bug/web-portal-bug
  src/lib/messages/portal.proto
  src/web/server/jaia.py
Labels: bug

#624 bug/ansible-mount-not-working
  config/ansible/upgrade-all.yml
Labels: bug

#619 bug/rally-confirmation
  src/web/command_control/client/components/CommandControl.tsx
Labels: bug

#621 Added new h5error.py script, which scans a JaiaH5 file for any error …
  src/python/CMakeLists.txt
  src/python/h5/h5error.py
  src/python/h5/h5size.py
  src/python/h5/objects.py
Labels: task

#620 feature/rc-dive-jcc
  src/web/command_control/client/components/BotLayers.ts
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/RCControllerPanel.tsx
  src/web/command_control/client/components/RCDiveParametersPanel.tsx
  src/web/command_control/client/style/CommandControl.less
  src/web/command_control/tsconfig.json
  src/web/command_control/webpack.config.js
  src/web/package.json
  src/web/shared/BotFeature.ts
  src/web/shared/PortalStatus.ts
  src/web/shared/Styles.ts
Labels: feature

#622 task/a-run-should-not-be-in-edit-mode-after-using-line-tool
  src/web/command_control/client/components/CommandControl.tsx
Labels: task

#630 Feature/jdv not needing to refresh to see new logs
  src/web/.gitignore
  src/web/jdv/.gitignore
  src/web/jdv/client/src/LogApi.ts
  src/web/jdv/client/src/LogSelector.tsx
  src/web/jdv/client/src/index.tsx
  src/web/jdv/client/src/styles/styles.css
Labels: feature

#615 feature/add-error-for-arduino-not-responding
  config/templates/bot/jaiabot_driver_arduino.pb.cfg.in
  config/templates/bot/jaiabot_health.pb.cfg.in
  config/templates/hub/jaiabot_health.pb.cfg.in
  src/bin/drivers/arduino/app.cpp
  src/bin/drivers/arduino/config.proto
  src/bin/health/CMakeLists.txt
  src/bin/health/app.cpp
  src/bin/health/arduino_thread.cpp
  src/bin/health/config.proto
  src/bin/health/system_thread.h
  src/lib/groups.h
  src/lib/messages/arduino.proto
  src/lib/messages/health.proto
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#629 bug/task-packet-to-kmz
  src/web/jdv/server/jaia_messages.py
  src/web/jdv/server/kmz.py
Labels: bug

#631 Feature/jdv loading screens
  src/web/jdv/client/src/JaiaMap.ts
  src/web/jdv/client/src/LogSelector.tsx
  src/web/jdv/client/src/PathSelector.tsx
  src/web/jdv/client/src/index.tsx
  src/web/shared/Popup.tsx
Labels: feature

#633 Feature/download h5 files from jdv
  src/web/jdv/client/src/LogApi.ts
  src/web/jdv/client/src/index.tsx
  src/web/jdv/server/jaiabot_data_vision.py
  src/web/jdv/server/jaialogs.py
  src/web/package.json
  src/web/shared/PortalStatus.ts
Labels: feature

#634 Feature/remove files using jdv
  src/web/jdv/client/src/LogApi.ts
  src/web/jdv/client/src/LogSelector.tsx
  src/web/jdv/client/src/styles/styles.css
  src/web/jdv/server/jaiabot_data_vision.py
  src/web/jdv/server/jaialogs.py
  src/web/jdv/server/tests/test.py
Labels: feature

#635 GPS icon rotates with bot
  src/web/command_control/client/components/BotLayers.ts
  src/web/shared/Styles.ts
Labels: bug

#636 Fixed "null" profiles saved when user clicks Cancel on the save profi…
  src/web/jdv/client/src/index.tsx
Labels: bug

#638 task/configure-jaiabot-data-vision-package
  config/templates/systemd/jaiabot_data_vision.service.in
  config/templates/systemd/jaiabot_log_converter.service.in
  src/web/jdv/CMakeLists.txt
  src/web/jdv/README.md
  src/web/jdv/requirements.txt
  src/web/requirements.txt
Labels: task

#637 Feature/add indicator for files being converted in jdv
  src/web/jdv/client/dist/style.css
  src/web/jdv/client/src/JaiaMap.ts
  src/web/jdv/client/src/Log.ts
  src/web/jdv/client/src/LogApi.ts
  src/web/jdv/client/src/LogSelector.tsx
  src/web/jdv/client/src/index.tsx
  src/web/jdv/run.sh
  src/web/jdv/server/h5_to_taskpacket.py
  src/web/jdv/server/install_services.py
  src/web/jdv/server/jaia_h5.py
  src/web/jdv/server/jaiabot_data_vision.py
  src/web/jdv/server/jaiabot_log_converter.py
  src/web/jdv/server/jaiabot_log_converter.service.template
  src/web/jdv/server/jaialog_store.py
  src/web/jdv/server/jaialogs.py
  src/web/jdv/server/log_conversion.py
  src/web/jdv/server/series.py
  src/web/jdv/server/test.py
  src/web/shared/Styles.ts
Labels: feature

#648 task/update-slip-radius-and-imu-restart
  config/templates/bot/bot.bhv.in
  config/templates/bot/jaiabot_fusion.pb.cfg.in
Labels: task

#649 Bug/arrow should show desired heading in jdv
  src/web/jdv/client/src/JaiaMap.ts
  src/web/jdv/server/jaia_h5.py
  src/web/shared/BotFeature.ts
  src/web/shared/Styles.ts
Labels: bug

#650 Changed title of JDV page to "JDV - JaiaBot Data Vision"
  src/web/jdv/client/dist/index.html
Labels: bug

#646 feature/set-task-packet-date-for-endpoint
  config/launch/simulation/all.launch
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/MapLayersPanel.tsx
  src/web/command_control/client/components/SettingsPanel.tsx
  src/web/command_control/client/components/TaskPackets.tsx
  src/web/command_control/client/style/CommandControl.less
  src/web/command_control/client/style/components/MapLayersPanel.css
  src/web/command_control/client/style/components/SettingsPanel.css
  src/web/command_control/common/JaiaAPI.ts
  src/web/server/app.py
  src/web/server/jaia_portal.py
  src/web/shared/Utilities.tsx
Labels: feature

#639 Bug/hitting cancel in load profiles gives you a forever loading screen
  src/web/jdv/client/src/OpenPlotSet.tsx
  src/web/jdv/client/src/index.tsx
  src/web/shared/Styles.ts
Labels: bug

#640 Bug/google maps needs contribution on screen
  src/web/command_control/client/components/BaseLayers.ts
  src/web/command_control/client/style/CommandControl.less
  src/web/jdv/client/dist/style.css
  src/web/jdv/client/src/JaiaMap.ts
  src/web/shared/Layers.ts
Labels: bug

#647 bug/bot-overshoot-on-dive
  src/arduino/jaiabot_runtime/jaiabot_runtime.ino
  src/bin/fusion/fusion.cpp
  src/bin/jaiabot_pid_control/app.cpp
  src/bin/jaiabot_pid_control/app.h
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/lib/messages/arduino.proto
Labels: bug

#645 Add capture radius style to the waypoint features
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Layers.ts
  src/web/shared/Color.ts
  src/web/shared/MissionFeatures.ts
  src/web/shared/Styles.ts
Labels: feature

#651 Add two comms radii around the hub
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/HubLayers.ts
  src/web/command_control/client/components/Layers.ts
  src/web/shared/HubFeature.ts
  src/web/shared/Styles.ts
Labels: feature

#626 bug/optimize-mission-disable-line-creation-without-start-and-end
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/MissionSettings.tsx
Labels: bug

#653 Fixed appearance of the busy indicator
  src/web/jdv/client/src/index.tsx
  src/web/jdv/client/src/styles/styles.css
Labels: bug

#643 Task/add interpolated drift layer to jdv
  src/web/jdv/client/src/JaiaMap.ts
  src/web/jdv/client/src/LogApi.ts
  src/web/jdv/client/src/index.tsx
  src/web/jdv/server/jaiabot_data_vision.py
  src/web/shared/Contours.ts
Labels: task
