Repository jaiarobotics/jaiabot, pull requests merged in 2023-06, with the labels that each got.

#464 task/limit-number-of-waypoints
  config/templates/systemd/gobyd.service.in
  src/bin/hub_manager/hub_manager.cpp
  src/bin/mission_manager/app.cpp
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/MissionSettings.tsx
Labels: task

#439 Add-flag-at-start-of-run-1
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Missions.tsx
  src/web/shared/Marker.ts
  src/web/shared/MissionFeatures.ts
  src/web/shared/Styles.ts
  src/web/shared/run-flag.svg
Labels: feature

#465 bug/fix-arduino-service-description-for-gpio-pin
  config/templates/systemd/arduino-spi-gpio-pin.service.in
Labels: bug

#457 task/update-doc-to-include-dive-constant-heading
  src/doc/figures/mission-states.png
  src/doc/markdown/page60_mission_management.md
Labels: task

#469 feature/data-offload-hub-id-arg
  config/gen/bot.py
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  scripts/jaiabot-dataoffload.sh
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/bin/mission_manager/mission_manager.h
Labels: feature

#470 task/restart-apache2-when-restarting-services
  src/bin/health/app.cpp
Labels: task

#471 bug/apache2-not-restarting-on-restart
  src/bin/health/app.cpp
Labels: bug

#445 task/add-jdv-link-to-jcc
  src/bin/hub_manager/config.proto
  src/bin/hub_manager/hub_manager.cpp
  src/lib/messages/hub.proto
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/EngineeringPanel.tsx
  src/web/shared/JAIAProtobuf.ts
Labels: task

#460 Feature/throttle goby log file
  config/gen/bot.py
  config/gen/common/logger.py
  config/gen/hub.py
  config/gen/systemd.py
  config/templates/goby_logger.pb.cfg.in
  src/python/h5size/h5size.py
Labels: feature

#475 Bug/weird blue circle when adding wpt then goes away
  config/launch/simulation/all.launch
  src/web/command_control/client/components/CommandControl.tsx
Labels: bug

#476 Converted all camelCase endpoints to kebab-case for JCC, JED, and JDV
  src/web/command_control/common/JaiaAPI.ts
  src/web/jdv/client/src/LogApi.ts
  src/web/jdv/server/jaiabot_data_vision.py
  src/web/jed/script.js
  src/web/server/app.py
Labels: task

#479 Rotate bot labels with view
  src/web/shared/Styles.ts
Labels: bug

#467 feature/jump-scroll-bar-in-bot-details
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/style/CommandControl.less
Labels: feature

#481 task/rename-jcc-to-jaia-command-control
  src/doc/markdown/page81_timing_command.md
  src/doc/markdown/page91_customer_deploy_custom_software.md
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/style/CommandControl.less
  src/web/command_control/public/index.html
  src/web/command_control/public/manifest.json
  src/web/jed/index.html
  src/web/server/README.md
Labels: task

#480 feature/add-tab-in-cockpit-for-jaia
  CMakeLists.txt
  scripts/jaiabot-software-group.sh
  scripts/jaiabot-update-packages.sh
  scripts/jaiabot-version-status.sh
  src/web/CMakeLists.txt
  src/web/jaia_cockpit_extension/jaia-config.html
  src/web/jaia_cockpit_extension/jaia-config.js
  src/web/jaia_cockpit_extension/manifest.json
  src/web/jaia_cockpit_extension/style.css
Labels: feature

#478 task/cleanup-open-layers-map-buttons
  src/web/command_control/client/style/CommandControl.less
Labels: task

#486 bug/moos-log-overload
  config/templates/goby_logger.pb.cfg.in
  src/doc/markdown/page02_change_log.md
Labels: bug

#487 task/update-change-log
  src/doc/markdown/page02_change_log.md
Labels: task

#488 Task/reorder functions in jcc
  src/web/command_control/client/components/CommandControl.tsx
Labels: task

#484 Catch and log serialization/parsing exceptions in xbee driver.
  src/lib/comms/xbee/xbee_driver.cpp
Labels: bug

#490 feature/predive-state
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/doc/figures/mission-states.png
  src/doc/markdown/page60_mission_management.md
  src/lib/messages/mission.proto
Labels: feature

#491 Task/update jcc naming conventions
  src/web/command_control/client/components/BotLayers.ts
  src/web/command_control/client/components/BotListPanel.tsx
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/HubLayers.ts
  src/web/command_control/client/components/KMZ.ts
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/command_control/client/components/Missions.tsx
  src/web/command_control/client/components/PIDGainsPanel.tsx
  src/web/command_control/client/components/QueryBotStatusPanel.tsx
  src/web/command_control/client/components/ScanForBotPanel.tsx
  src/web/command_control/client/components/SurveyLines.ts
  src/web/command_control/client/components/SurveyMission.ts
  src/web/command_control/client/components/SurveyPolygon.ts
  src/web/command_control/client/components/TaskPackets.tsx
  src/web/command_control/client/components/TaskSettingsPanel.tsx
  src/web/command_control/client/components/Utilities.tsx
  src/web/command_control/client/components/mission/RunList.tsx
  src/web/command_control/client/style/CommandControl.less
Labels: task

#489 bug/task-packet-error-jcc
  src/web/command_control/client/components/TaskPackets.tsx
  src/web/shared/TaskPacketFeatures.ts
Labels: bug

#503 Feature/goal-settings-panel-edit-additions
  config/launch/simulation/all.launch
  src/web/command_control/client/components/BotLayers.ts
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/components/HubLayers.ts
  src/web/command_control/client/components/Interactions.ts
  src/web/command_control/client/components/Layers.ts
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/command_control/client/components/Missions.tsx
  src/web/command_control/client/components/PIDGainsPanel.tsx
  src/web/command_control/client/components/QueryBotStatusPanel.tsx
  src/web/command_control/client/components/SaveMissionPanel.tsx
  src/web/command_control/client/components/ScanForBotPanel.tsx
  src/web/command_control/client/components/Settings.tsx
  src/web/command_control/client/components/SurveyLines.ts
  src/web/command_control/client/components/SurveyMission.ts
  src/web/command_control/client/components/TaskPackets.tsx
  src/web/command_control/client/components/TaskSettingsPanel.tsx
  src/web/command_control/client/components/VisibleLayerPersistance.ts
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/command_control/common/JaiaAPI.ts
  src/web/command_control/public/index.html
  src/web/command_control/tsconfig.json
  src/web/jdv/client/src/JaiaMap.ts
  src/web/jdv/client/tsconfig.json
  src/web/shared/MissionFeatures.ts
  src/web/shared/Styles.ts
  src/web/shared/Utilities.tsx
Labels: feature

#504 Bug/should-be-able-to-delete-unassigned-runs-in-jcc
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
Labels: bug

#502 task/keep-track-of-date-when-ntp-is-sync
  CMakeLists.txt
  config/gen/systemd.py
  config/templates/systemd/backup-date.service.in
  scripts/jaia_firm_backup_date.sh
Labels: task

#505 bug/jaiabot-imu-error
  src/CMakeLists.txt
  src/python/CMakeLists.txt
  src/python/adafruit_BNO055/adafruit_bno055.py
Labels: bug

#506 bug/python-req-txt-missing
  src/python/CMakeLists.txt
Labels: bug

#507 bug/python-cmake-setup
  src/python/CMakeLists.txt
Labels: bug
