Repository jaiarobotics/jaiabot, pull requests merged in 2023-04, with the labels that each got.

#383 Change hub icon to circle
  src/jdv/client/src/gui/Styles.ts
  src/jdv/client/src/gui/hub.svg
Labels: feature

#340 Feature/speed window
  config/gen/bot.py
  src/bin/jaiabot_pid_control/app.cpp
  src/bin/jaiabot_pid_control/app.h
  src/bin/jaiabot_pid_control/config.proto
Labels: feature

#390 task/fix-position-of-rc-controls
  src/web/command_control/client/components/RCControllerPanel.tsx
Labels: task

#380 feature/send-task-packets-to-customer-port
  config/templates/hub/jaiabot_web_portal.pb.cfg.in
  src/bin/web_portal/app.cpp
  src/bin/web_portal/config.proto
Labels: feature

#391 task/change-index-of-goal-to-start-with-1
  src/bin/mission_manager/app.cpp
  src/jdv/client/src/gui/MissionFeatures.ts
  src/web/command_control/client/components/CommandControl.tsx
Labels: task

#389 task/set-major-minor-patch-local-build
  CMakeLists.txt
Labels: task

#388 task/add-wave-and-bottom-type-fields-into-task-packet
  src/jdv/client/src/JaiaMap.ts
  src/jdv/client/src/gui/JAIAProtobuf.ts
  src/lib/messages/jaia_dccl.proto
Labels: task

#393 Highlight hub when selected
  src/web/command_control/client/components/BotListPanel.tsx
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/style/CommandControl.less
Labels: bug

#394 feature/add-ability-to-use-controller-for-remote-control
  .docker/focal/amd64/Dockerfile
  .docker/focal/arm64/Dockerfile
  build.sh
  scripts/arm64-build.sh
  scripts/setup-tools-build.sh
  src/web/command_control/client/components/RCControllerPanel.tsx
  src/web/command_control/client/libs/react-gamepad/.babelrc
  src/web/command_control/client/libs/react-gamepad/.gitignore
  src/web/command_control/client/libs/react-gamepad/LICENSE
  src/web/command_control/client/libs/react-gamepad/README.md
  src/web/command_control/client/libs/react-gamepad/examples/FourPlayers.js
  src/web/command_control/client/libs/react-gamepad/lib/Gamepad.js
  src/web/command_control/client/libs/react-gamepad/lib/index.js
  src/web/command_control/client/libs/react-gamepad/lib/layouts/XBOX.js
  src/web/command_control/client/libs/react-gamepad/lib/layouts/index.js
  src/web/command_control/client/libs/react-gamepad/package.json
  src/web/command_control/client/libs/react-gamepad/src/Gamepad.js
  src/web/command_control/client/libs/react-gamepad/src/index.js
  src/web/command_control/client/libs/react-gamepad/src/layouts/XBOX.js
  src/web/command_control/client/libs/react-gamepad/src/layouts/index.js
  src/web/command_control/package.json
Labels: feature

#392 Add delete button in bot detail commands
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
Labels: feature

#396 feature/retry-download-button
  src/web/command_control/client/components/Details.tsx
Labels: feature

#397 task/hide-power-buttons-in-a-accordion
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/style/CommandControl.less
Labels: task

#398 Feature/alert-operator-when-runs-are-deleted
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/LoadMissionPanel.tsx
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/command_control/client/components/mission/RunList.tsx
Labels: feature

#399 bug/active-mission-and-new-mission-show-duplicate-active-goal
  src/jdv/client/src/gui/MissionFeatures.ts
Labels: bug

#356 feature/program-led-hub-button
  config/gen/systemd.py
  config/templates/systemd/hub-button-led-poweroff.service.in
  config/templates/systemd/hub-button-led-services-running.service.in
  config/templates/systemd/hub-button-trigger.service.in
  scripts/75-jaiabot-status
  src/doc/figures/Hub-LED-States.drawio.png
  src/python/led_button/hub-button-led-poweroff.py
  src/python/led_button/hub-button-led-services-running.py
  src/python/led_button/hub-button-trigger.py
  src/python/requirements.txt
Labels: feature

#403 bug/fix-systemd-typo-for-led
  config/gen/systemd.py
Labels: bug

#406 bug/cmake-fails-with-strip
  CMakeLists.txt
Labels: bug

#409 task/add-configurable-app-comms-tick-ivp-stack
  config/gen/bot.py
  config/templates/bot/bot.moos.in
Labels: task

#410 task/add-rpi-gpio-back-to-pip-requirements
  src/python/requirements.txt
Labels: task

#405 feature/more-alerts-and-confirmations
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/RCControllerPanel.tsx
Labels: feature

#414 bug/change-gps-checks-to-reflect-new-output-speed
  config/gen/bot.py
  config/launch/simulation/all.launch
  config/launch/simulation/generate_all_launch.sh
  config/templates/bot/bot.moos.in
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/lib/messages/engineering.proto
  src/web/command_control/client/components/PIDGainsPanel.tsx
Labels: bug

#413 bug/tablet-mode-line-tool-multiple-clicks
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/MissionSettings.tsx
Labels: bug

#412 feature/data-offload-progress
  scripts/jaiabot-dataoffload.sh
  src/bin/fusion/fusion.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/jdv/client/src/gui/JAIAProtobuf.ts
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/mission.proto
  src/web/command_control/client/components/Details.tsx
Labels: feature

#418 swapped pin to match harness
  src/arduino/avrdude.conf
Labels: task

#419 task/remove-elevator-in-jed
  config/templates/bot/jaiabot_engineering.pb.cfg.in
  src/python/requirements.txt
  src/web/jed/index.html
  src/web/jed/script.js
Labels: task

#422 bug/stop-detecting-imu-when-motor-is-off
  src/bin/fusion/fusion.cpp
Labels: bug

#423 task/slow-down-botstatus-poll
  src/web/command_control/client/components/CommandControl.tsx
Labels: task

#424 task/update-comms-settings
  config/gen/bot.py
  config/gen/common/comms.py
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  src/bin/fusion/config.proto
Labels: task

#425 task/update-imu-detection-config
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  src/bin/fusion/config.proto
Labels: task
