Repository jaiarobotics/jaiabot, pull requests merged in 2023-11, with the labels that each got.

#655 Allow deletion of goals in unassigned runs
  src/web/command_control/client/components/GoalSettings.tsx
Labels: bug

#294 feature/version-control-arduino
  CMakeLists.txt
  config/templates/bot/jaiabot_driver_arduino.pb.cfg.in
  src/arduino/jaiabot_runtime/jaiabot_runtime.ino
  src/bin/drivers/arduino/app.cpp
  src/bin/drivers/arduino/config.proto
  src/bin/simulator/arduino_sim_thread.cpp
  src/lib/messages/arduino.proto
Labels: feature

#658 feature/optimize-passing-data-to-arduino
  config/gen/bot.py
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/drivers/arduino/app.cpp
  src/bin/fusion/config.proto
  src/bin/fusion/fusion.cpp
  src/bin/jaiabot_engineering/app.cpp
  src/bin/jaiabot_pid_control/app.cpp
  src/bin/jaiabot_pid_control/app.h
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/doc/markdown/page80_timing.md
  src/doc/markdown/page81_timing_command.md
  src/lib/messages/dive_debug.proto
  src/web/command_control/client/components/CommandControl.tsx
Labels: feature

#644 feature/remove-alerts-and-create-custom-popup
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/EngineeringPanel.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/components/LoadMissionPanel.tsx
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/command_control/client/components/MissionSpeedSettingsPanel.tsx
  src/web/command_control/client/components/Missions.tsx
  src/web/command_control/client/components/PIDGainsPanel.tsx
  src/web/command_control/client/components/QueryBotStatusPanel.tsx
  src/web/command_control/client/components/RCControllerPanel.tsx
  src/web/command_control/client/components/SaveMissionPanel.tsx
  src/web/command_control/client/components/ScanForBotPanel.tsx
  src/web/command_control/client/components/mission/MissionControllerPanel.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/command_control/client/components/mission/RunPanel.tsx
  src/web/jdv/CMakeLists.txt
  src/web/jdv/client/release.webpack.config.js
  src/web/jdv/client/src/JaiaMap.ts
  src/web/jdv/client/src/LogSelector.tsx
  src/web/jdv/client/src/index.css
  src/web/jdv/client/src/index.tsx
  src/web/shared/CustomAlert.css
  src/web/shared/CustomAlert.tsx
Labels: feature

#654 feature/on-screen-help-panel
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/HelpWindow.less
  src/web/command_control/client/components/HelpWindow.tsx
Labels: feature

#657 bug/copying-a-run-should-copy-repeats
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/Missions.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/shared/CustomAlert.tsx
Labels: bug

#664 bug/fix-mission-panel-tablet-scroll
  src/web/command_control/client/components/mission/RunList.tsx
  src/web/shared/Utilities.tsx
Labels: bug

#665 bug/cannot-select-hub-icon-to-open-details
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/HubLayers.ts
  src/web/shared/Styles.ts
Labels: bug

#666 task/jdv-file-size-bytes-to-megabytes
  src/web/jdv/client/src/LogSelector.tsx
Labels: task

#667 bug/omp-clicking-on-rally-point-closes-panel-but-tool-still-active
  src/web/command_control/client/components/CommandControl.tsx
  src/web/shared/CustomAlert.tsx
Labels: bug

#668 task/test-xbox-controller
  src/bin/jaiabot_pid_control/app.cpp
  src/doc/markdown/page80_timing.md
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/RCControllerPanel.tsx
Labels: task

#669 bug/task-packet-date-selection-does-not-reset-when-toggled
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/EditModeToggle.tsx
  src/web/command_control/client/components/WptToggle.tsx
Labels: bug

#659 feature/indicator-for-run-repeat-it-is-on
  scripts/docker-arm64-build-and-deploy.sh
  src/bin/fusion/fusion.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/machine.h
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/mission.proto
  src/web/command_control/client/components/Details.tsx
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#671 Bug/jdv vertical axis labels hard to read
  src/web/jdv/client/src/index.tsx
Labels: bug

#678 bug/jcc-stops-updating-when-new-bots-startup
  src/web/command_control/client/components/CommandControl.tsx
Labels: bug

#675 Bug/task constant heading input
  src/web/command_control/client/components/TaskSettingsPanel.tsx
Labels: bug

#681 task/jdv-message-for-downloading-csv
  src/web/jdv/client/src/index.css
  src/web/jdv/client/src/index.tsx
Labels: task

#682 feature/add-upgrade-link-in-hub-links
  src/web/command_control/client/components/Details.tsx
Labels: feature

#685 bug/fix-syntax-error-in-example
  src/doc/markdown/page110_coding_standards.md
Labels: bug

#686 bug/hub-not-always-showing-on-map
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/HubLayers.ts
  src/web/server/jaia_portal.py
Labels: bug

#687 task/set-arduino-connection-based-on-arduino-type
  config/gen/bot.py
  config/gen/systemd.py
  scripts/docker-arm64-build-and-deploy.sh
  src/bin/drivers/arduino/app.cpp
  src/doc/markdown/page70_hardware.md
Labels: task

#689 bug/omp-switching-dive-to-none-breaks
  src/web/command_control/client/components/CommandControl.tsx
Labels: bug

#690 feature/update-slip-radius-for-wpt-with-no-task
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/lib/messages/mission.proto
  src/lib/moos_gateway/jaiabot_gateway_plugin.cpp
Labels: feature

#641 bug/kmz-drift-icons-not-up-to-date
  src/bin/drivers/adafruit_BNO085/app.cpp
  src/bin/jaiabot_pid_control/app.cpp
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/HelpWindow.tsx
  src/web/command_control/client/components/LoadMissionPanel.tsx
  src/web/command_control/client/components/SurveyExclusions.ts
  src/web/command_control/client/components/TaskPackets.tsx
  src/web/jdv/client/dist/index.html
  src/web/jdv/client/release.webpack.config.js
  src/web/jdv/client/src/KMZExport.ts
  src/web/jdv/client/src/LogApi.ts
  src/web/jdv/client/src/LogSelector.tsx
  src/web/jdv/client/src/PathSelector.tsx
  src/web/jdv/client/src/index.tsx
  src/web/jdv/server/kmz.py
  src/web/shared/Styles.ts
  src/web/shared/drift-arrows/drift-arrow-0.png
  src/web/shared/drift-arrows/drift-arrow-1.png
  src/web/shared/drift-arrows/drift-arrow-2.png
  src/web/shared/drift-arrows/drift-arrow-3.png
  src/web/shared/drift-arrows/drift-arrow-4.png
  src/web/shared/drift-arrows/drift-arrow-5.png
Labels: bug

#695 task/remove-undo-feature
  src/web/command_control/client/components/CommandControl.tsx
Labels: task

#692 feature/after-detecting-arduino-restart-send-stop
  config/templates/bot/jaiabot_driver_arduino.pb.cfg.in
  src/bin/drivers/arduino/app.cpp
  src/bin/drivers/arduino/config.proto
Labels: feature

#693 task/update-readmes-to-point-to-documentation-pages
  src/doc/markdown/page01_main.md
  src/web/README.md
  src/web/jdv/README.md
Labels: task

#694 task/remove-speed-units-from-jcc
  config/templates/bot/jaiabot_pid_control.pb.cfg.in
  src/doc/markdown/page110_coding_standards.md
  src/web/command_control/client/components/MissionSpeedSettingsPanel.tsx
  src/web/command_control/client/components/PIDGainsPanel.tsx
  src/web/command_control/client/components/RCControllerPanel.tsx
Labels: task

#696 task/remove-log-converter
  config/gen/systemd.py
  config/templates/systemd/jaiabot_log_converter.service.in
Labels: task

#676 bug/task-packet-date-selection-start-date
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/TaskPackets.tsx
  src/web/command_control/common/JaiaAPI.ts
  src/web/server/app.py
  src/web/server/jaia_portal.py
  src/web/shared/Utilities.tsx
Labels: bug

#679 feature/jdv-select-logs-shows-hub-storage-space-left
  src/doc/markdown/page110_coding_standards.md
  src/web/jdv/client/src/LogApi.ts
  src/web/jdv/client/src/LogSelector.tsx
  src/web/jdv/server/jaialog_store.py
Labels: feature

#680 feature/when-saving-mission-it-should-keep-name
  src/web/command_control/client/components/SaveMissionPanel.tsx
  src/web/command_control/client/components/TaskSettingsPanel.tsx
Labels: feature

#699 bug/handle-task-packet-retrieval-errors
  src/python/pyjaia/pyjaia/drift_interpolation.py
  src/web/command_control/client/components/TaskPackets.tsx
  src/web/command_control/common/JaiaAPI.ts
Labels: bug

#700 bug/run-flag-delete-does-not-work
  src/web/command_control/client/components/RunInfoPanel.tsx
Labels: bug

#701 task/remove-hover-over-for-custom-buttons
  src/web/shared/CustomAlert.css
Labels: task

#697 task/remove-undo-feature-from-help-window
  src/web/command_control/client/components/HelpWindow.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/command_control/client/style/components/HelpWindow.less
  src/web/command_control/client/style/components/RunItem.less
  src/web/install_dependencies.sh
  src/web/jdv/client/build.sh
Labels: task

#703 bug/remove-lag-from-waypoint-deletion
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/GoalSettings.tsx
Labels: bug

#702 bug/run-copy-does-not-copy-repeat-values
  src/web/command_control/client/components/Missions.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/command_control/client/components/mission/RunList.tsx
  src/web/command_control/client/components/mission/RunPanel.tsx
Labels: bug

#704 bug/remove-lag-when-moving-wpts
  src/web/command_control/client/components/CommandControl.tsx
Labels: bug

#705 bug/deleting-all-runs-confirmations
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/LoadMissionPanel.tsx
  src/web/command_control/client/components/MissionSettings.tsx
Labels: bug

#706 bug/jdv-dependency-cmake
  src/web/jdv/CMakeLists.txt
Labels: bug

#709 task/increase-bot-status-polling-speed
  src/web/command_control/client/components/CommandControl.tsx
Labels: task

#710 bug/omp-runs-being-overridden
  src/web/command_control/client/components/CommandControl.tsx
Labels: bug

#698 bug/false-bottom-detection-dive
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
Labels: bug

#711 task/add-bots-not-avail-for-download-to-confirm-msg
  src/web/command_control/client/components/CommandControl.tsx
Labels: task

#713 task/enlarge-waypoint-panel
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/components/TaskSettingsPanel.tsx
  src/web/command_control/client/style/components/GoalSettingsPanel.css
Labels: task

#707 bug/drift-map-needs-bounds
  src/python/pyjaia/pyjaia/drift_interpolation.py
  src/web/jdv/client/test.webpack.config.js
  src/web/jdv/server/jaiabot_data_vision.py
Labels: bug

#708 bug/select-logs-panel-needs-to-be-bigger-for-tablet
  src/web/jdv/client/src/index.css
Labels: bug

#715 feature/undo-button
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/components/HelpWindow.tsx
  src/web/command_control/client/components/mission/MissionControllerPanel.tsx
  src/web/command_control/client/components/mission/RunPanel.tsx
Labels: feature

#717 task/remove-stale-documentation
  src/doc/markdown/page02_change_log.md
  src/doc/markdown/page10_architecture.md
  src/doc/markdown/page19_repository.md
  src/doc/markdown/page30_configuration.md
  src/doc/markdown/page40_logging.md
  src/doc/markdown/page41_hdf5.md
  src/doc/markdown/page50_communications.md
Labels: task

#716 task/add-more-examples-to-standards-doc
  src/doc/markdown/page110_coding_standards.md
Labels: task

#714 bug/weird-files-showing-in-jdv-select-panel
  src/web/jdv/server/h5_tools.py
  src/web/jdv/server/jaiabot_data_vision.py
  src/web/jdv/server/jaialog_store.py
  src/web/jdv/server/moos_messages.py
  src/web/jdv/server/series.py
Labels: bug

#721 bug/jdv-not-showing-logs-fleet-1
  src/web/jdv/server/h5_tools.py
  src/web/jdv/server/jaia_h5.py
  src/web/jdv/server/jaialog_store.py
Labels: bug
