Repository jaiarobotics/jaiabot, pull requests merged in 2023-07, with the labels that each got.

#509 bug/get-hub-feature-this-scope
  src/web/command_control/client/components/HubLayers.ts
Labels: bug

#501 Task/closing opening panels rewrite to be react approved
  config/launch/simulation/all.launch
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Settings.tsx
  src/web/command_control/client/components/VisibleLayerPersistance.ts
  src/web/command_control/client/style/CommandControl.less
Labels: task

#510 bug/imu-warning-sensor-not-setup
  src/python/adafruit_BNO055/jaiabot_imu.py
Labels: bug

#513 bug/jcc-crash-bot-no-gps
  src/web/command_control/client/components/CommandControl.tsx
Labels: bug

#522 Feature/click-on-map-to-move-wpt
  src/lib/messages/mission.proto
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/components/RunInfoPanel.tsx
  src/web/command_control/client/components/Toggle.tsx
  src/web/command_control/client/components/mission/MissionControllerPanel.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/command_control/client/components/mission/RunList.tsx
  src/web/command_control/client/components/mission/RunPanel.tsx
  src/web/command_control/client/style/components/GoalSettingsPanel.css
  src/web/command_control/client/style/components/RunInfoPanel.css
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#521 task/remove-sym-dir
  scripts/jaiabot-dataoffload.sh
Labels: task

#523 bug/details-toolbar-buttons-go-outside-panel
  src/web/command_control/client/style/CommandControl.less
Labels: bug

#524 bug/play-button-in-details-should-be-disabled-if-no-run
  src/web/command_control/client/components/Details.tsx
Labels: bug

#525 bug/overlapping-panels-for-no-response-and-engineer
  src/web/command_control/client/style/CommandControl.less
Labels: bug

#526 bug/optimize-mission-apply
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/MissionSettings.tsx
Labels: bug

#527 task/mission-panel-toolbar-for-static-buttons
  src/web/command_control/client/components/mission/RunList.tsx
  src/web/command_control/client/style/CommandControl.less
Labels: task

#529 feature/add-edit-button-in-bot-details
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/EditModeToggle.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/components/Missions.tsx
  src/web/command_control/client/components/WptToggle.tsx
  src/web/command_control/client/components/mission/MissionControllerPanel.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/command_control/client/components/mission/RunList.tsx
  src/web/command_control/client/components/mission/RunPanel.tsx
  src/web/command_control/client/style/CommandControl.less
Labels: feature

#528 task/side-panels-should-grow-as-needed-jcc
  src/web/command_control/client/components/EngineeringPanel.tsx
  src/web/command_control/client/components/mission/MissionControllerPanel.tsx
  src/web/command_control/client/components/mission/RunList.tsx
  src/web/command_control/client/style/CommandControl.less
  src/web/command_control/client/style/components/GoalSettingsPanel.css
  src/web/command_control/client/style/components/RunInfoPanel.css
Labels: task

#532 Show filenames of all selected logs
  src/web/jdv/client/src/index.tsx
Labels: task

#531 Fit open log dialog to a screen height of 601 points (web tells me th…
  src/web/jdv/client/dist/style.css
Labels: bug

#533 feature/wpt-details-lat-lon-input
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/style/components/GoalSettingsPanel.css
  src/web/command_control/package.json
Labels: feature

#535 bug/goal-panel-undo-button
  src/web/command_control/client/components/GoalSettings.tsx
Labels: bug

#534 task/remove-wpt-drag-functionality
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/jdv/client/src/JaiaMap.ts
  src/web/shared/MissionFeatures.ts
Labels: task

#536 feature/reject-missions-if-there-are-health-errors
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
Labels: feature

#538 task/label-throttle-rudder-controller-in-rc-mode
  src/web/command_control/client/components/RCControllerPanel.tsx
  src/web/command_control/client/style/CommandControl.less
Labels: task

#540 feature/jcc-delete-wpt
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/style/components/GoalSettingsPanel.css
Labels: feature

#539 Added a readme.md, that gives guidelines on creating icons for new task types.
  src/web/command_control/client/icons/Makefile
  src/web/shared/Styles.ts
  src/web/shared/readme-taskLayer.png
  src/web/shared/readme-taskLayerDeleted.png
  src/web/shared/readme.md
Labels: task

#517 Added diagram showing the JCC render flowchart
  src/doc/figures/jcc-render-flow.png
Labels: task

#542 bug/jdv-and-router-page-no-fleetid-error
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/EngineeringPanel.tsx
Labels: bug

#550 task/auto-scroll-mission-panel
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/mission/MissionControllerPanel.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/shared/Utilities.tsx
Labels: task

#549 feature/bot-is-connected-to-wifi
  config/templates/bot/jaiabot_health.pb.cfg.in
  config/templates/hub/jaiabot_health.pb.cfg.in
  src/bin/fusion/fusion.cpp
  src/bin/health/app.cpp
  src/bin/health/config.proto
  src/bin/health/linux_hardware_thread.cpp
  src/bin/health/system_thread.h
  src/bin/hub_manager/hub_manager.cpp
  src/lib/messages/health.proto
  src/lib/messages/hub.proto
  src/lib/messages/jaia_dccl.proto
  src/web/command_control/client/components/Details.tsx
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#544 bug/reacquire-gps-should-be-a-health-warning
  config/templates/bot/jaiabot_simulator.pb.cfg.in
  src/bin/fusion/fusion.cpp
  src/bin/jaiabot_engineering/app.cpp
  src/bin/jaiabot_pid_control/app.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/bin/simulator/config.proto
  src/lib/messages/health.proto
  src/web/shared/JAIAProtobuf.ts
Labels: bug

#546 task/add-load-averages-to-jcc-hub-details
  src/bin/hub_manager/hub_manager.cpp
  src/lib/messages/health.proto
  src/web/command_control/client/components/Details.tsx
Labels: task

#520 task/log-pressure-sensor-version
  src/bin/drivers/bluerobotics_pressure_sensor/app.cpp
  src/bin/simulator/simulator.cpp
  src/lib/messages/pressure_temperature.proto
  src/python/pressure_sensor/jaiabot_pressure_sensor.py
Labels: task

#545 task/timeout-on-logging-in-failed-state
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
Labels: task

#552 bug/update-simulator-with-wifi-and-pressure-changes
  src/bin/health/app.cpp
  src/bin/simulator/simulator.cpp
Labels: bug
