Repository jaiarobotics/jaiabot, pull requests merged in 2023-03, with the labels that each got.

#367 task/increase-data-received-from-imu
  config/templates/bot/bot.moos.in
  src/bin/drivers/adafruit_BNO055/app.cpp
  src/bin/drivers/atlas_scientific_ezo_ec/app.cpp
  src/bin/jaiabot_engineering/app.cpp
  src/doc/markdown/page80_timing.md
  src/doc/markdown/page81_timing_command.md
  src/python/adafruit_BNO055/jaiabot_imu.py
Labels: task

#369 task/add-nvm-install-in-dockerfile
  .docker/focal/amd64/Dockerfile
  .docker/focal/arm64/Dockerfile
Labels: task

#365 bug/bot-no-gps-crashes-jcc
  src/web/command_control/client/components/CommandControl.tsx
Labels: bug

#371 feature/add-mean-temp-and-salinity-to-kmz
  src/jdv/client/src/JaiaMap.ts
Labels: feature

#372 Fixed bug where bot status panel close button was in wrong location
  src/web/command_control/client/style/CommandControl.less
Labels: bug

#370 bug/npm-version-incompatible-circleci-build
  .docker/focal/amd64/Dockerfile
  .docker/focal/arm64/Dockerfile
  scripts/arm64-build.sh
Labels: bug

#374 feature/mission-creation-panel
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/components/LoadMissionPanel.tsx
  src/web/command_control/client/components/MissionLibrary.tsx
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/command_control/client/components/Missions.tsx
  src/web/command_control/client/components/SaveMissionPanel.tsx
  src/web/command_control/client/components/mission/MissionControllerPanel.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/command_control/client/components/mission/RunList.tsx
  src/web/command_control/client/components/mission/RunPanel.tsx
  src/web/command_control/client/style/CommandControl.less
Labels: feature
