Repository jaiarobotics/jaiabot, pull requests merged in 2023-09, with the labels that each got.

#576 bug/not-all-health-errors-warnings-appear
  config/templates/bot/jaiabot_health.pb.cfg.in
  src/bin/health/app.cpp
  src/bin/mission_manager/machine.cpp
  src/doc/markdown/page41_hdf5
  src/lib/messages/dive_debug.proto
  src/web/shared/JAIAProtobuf.ts
Labels: bug

#577 feature/add-safety-to-prevent-diving-lower-than-60m
  src/bin/mission_manager/app.cpp
  src/lib/messages/health.proto
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/mission.proto
  src/web/command_control/client/components/TaskSettingsPanel.tsx
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#578 feature/panel-for-task-packet-visualizations
  config/launch/simulation/all.launch
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Layers.ts
  src/web/command_control/client/components/TaskPacketPanel.tsx
  src/web/command_control/client/components/TaskPackets.tsx
  src/web/command_control/client/style/components/TaskPacketPanel.css
  src/web/jdv/client/src/JaiaMap.ts
  src/web/shared/Styles.ts
  src/web/shared/TaskPacketFeatures.ts
Labels: feature

#580 bug/distance-to-hub-not-working
  src/web/command_control/client/components/CommandControl.tsx
Labels: bug

#579 bug/status-age-greater-than-30
  src/web/command_control/client/components/CommandControl.tsx
Labels: bug

#582 feature/delete-a-run-while-in-mission
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/mission/MissionControllerPanel.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/command_control/client/components/mission/RunList.tsx
  src/web/command_control/client/components/mission/RunPanel.tsx
Labels: feature

#583 task/update-imu-detection-reaction
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  src/bin/fusion/config.proto
  src/bin/mission_manager/app.cpp
Labels: task

#584 feature/disabled-button-output
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/health/app.cpp
  src/bin/mission_manager/config.proto
  src/lib/messages/engineering.proto
  src/python/requirements.txt
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
Labels: feature

#585 feature/allow-only-one-run-to-be-editable-at-a-time
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/EditModeToggle.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/components/Missions.tsx
  src/web/command_control/client/components/RunInfoPanel.tsx
  src/web/command_control/client/components/mission/MissionControllerPanel.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/command_control/client/components/mission/RunList.tsx
  src/web/command_control/client/components/mission/RunPanel.tsx
Labels: feature

#587 feature/bot-details-and-right-panels-should-use-entire-height
  src/web/command_control/client/components/BotLayers.ts
  src/web/command_control/client/components/HubLayers.ts
  src/web/command_control/client/style/CommandControl.less
  src/web/command_control/client/style/components/MissionSettings.css
  src/web/command_control/client/style/util.less
Labels: feature

#588 bug/optimize-mission-panel-apply
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/MissionSettings.tsx
Labels: bug

#586 JDV: Render goals and bot icon correctly
  src/web/command_control/client/components/PIDGainsPanel.tsx
  src/web/jdv/client/src/JaiaMap.ts
  src/web/jdv/client/src/index.tsx
  src/web/jdv/server/jaialogs.py
  src/web/shared/MissionFeatures.ts
  src/web/shared/PortalStatus.ts
  src/web/shared/Styles.ts
Labels: bug

#590 task/change-css-class-names
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/JaiaAbout.tsx
  src/web/command_control/client/style/components/JaiaAbout.css
Labels: task

#591 bug/saving-mission-in-browser-does-not-work
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  src/bin/fusion/config.proto
  src/bin/fusion/fusion.cpp
  src/web/command_control/client/components/MissionLibrary.tsx
  src/web/command_control/client/components/Settings.tsx
Labels: bug

#592 bug/tap-to-move-not-working
  src/web/command_control/client/components/BotLayers.ts
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/components/TaskPacketPanel.tsx
  src/web/shared/MissionFeatures.ts
Labels: bug

#594 bug/pressure-correction-start-state
  src/bin/mission_manager/machine.cpp
Labels: bug

#598 bug/do-not-allow-data-offload-without-link
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
Labels: bug

#596 Key for heading and course over ground, when bot is clicked on map
  src/web/jdv/client/dist/courseOverGroundIcon.svg
  src/web/jdv/client/dist/headingIcon.svg
  src/web/jdv/client/src/JaiaMap.ts
  src/web/shared/BotFeature.ts
  src/web/shared/Popup.tsx
  src/web/shared/Styles.ts
Labels: task

#597 Time slider is a child of the main vertical flexbox, so it doesn't co…
  src/web/jdv/client/dist/style.css
  src/web/jdv/client/src/index.tsx
Labels: bug

#599 task/button-clean-up
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/style/CommandControl.less
  src/web/command_control/client/style/components/GoalSettingsPanel.css
  src/web/jdv/client/src/index.tsx
Labels: task

#600 bug/multi-message-not-updating-speed
  src/bin/hub_manager/hub_manager.cpp
  src/bin/mission_manager/app.cpp
  src/web/command_control/client/components/BotListPanel.tsx
Labels: bug

#601 feature/ability-to-click-on-wpts-in-a-readonly-view-when-not-in-edit-mode
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/components/TaskSettingsPanel.tsx
  src/web/command_control/client/style/CommandControl.less
  src/web/command_control/client/style/components/GoalSettingsPanel.css
Labels: feature

#603 task/split-task-packet-layer-into-drift-and-dive
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Layers.ts
  src/web/command_control/client/components/TaskPackets.tsx
  src/web/jdv/client/src/JaiaMap.ts
  src/web/shared/TaskPacketFeatures.ts
Labels: task

#604 bug/saving-mission-without-cached-ones
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/LoadMissionPanel.tsx
  src/web/command_control/client/components/MissionLibrary.tsx
  src/web/command_control/client/components/SaveMissionPanel.tsx
Labels: bug

#605 feature/current-icons-grow-base-on-speed
  src/web/command_control/client/components/CommandControl.tsx
  src/web/shared/Styles.ts
  src/web/shared/TaskPacketFeatures.ts
  src/web/shared/drift-arrows/drift-arrow-0.svg
  src/web/shared/drift-arrows/drift-arrow-1.svg
  src/web/shared/drift-arrows/drift-arrow-2.svg
  src/web/shared/drift-arrows/drift-arrow-3.svg
  src/web/shared/drift-arrows/drift-arrow-4.svg
  src/web/shared/drift-arrows/drift-arrow-5.svg
  src/web/shared/drift-arrows/drift-arrow-animated-0.svg
  src/web/shared/drift-arrows/drift-arrow-animated-1.svg
  src/web/shared/drift-arrows/drift-arrow-animated-2.svg
  src/web/shared/drift-arrows/drift-arrow-animated-3.svg
  src/web/shared/drift-arrows/drift-arrow-animated-4.svg
  src/web/shared/drift-arrows/drift-arrow-animated-5.svg
Labels: feature

#607 Constant heading arrow is gold, if canEdit
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/shared/MissionFeatures.ts
Labels: bug

#610 task/remove-lines-between-geometries-for-drift-icon
  src/web/command_control/client/components/CommandControl.tsx
  src/web/server/jaia.py
  src/web/shared/drift-arrows/drift-arrow-0.svg
  src/web/shared/drift-arrows/drift-arrow-1.svg
  src/web/shared/drift-arrows/drift-arrow-2.svg
  src/web/shared/drift-arrows/drift-arrow-3.svg
  src/web/shared/drift-arrows/drift-arrow-4.svg
  src/web/shared/drift-arrows/drift-arrow-5.svg
  src/web/shared/drift-arrows/drift-arrow-animated-0.svg
  src/web/shared/drift-arrows/drift-arrow-animated-1.svg
  src/web/shared/drift-arrows/drift-arrow-animated-2.svg
  src/web/shared/drift-arrows/drift-arrow-animated-3.svg
  src/web/shared/drift-arrows/drift-arrow-animated-4.svg
  src/web/shared/drift-arrows/drift-arrow-animated-5.svg
Labels: task

#608 task/utlize-dccl-with-portal-messages
  src/lib/messages/hub.proto
  src/lib/messages/portal.proto
  src/web/server/jaia.py
Labels: task

#609 task/increase-motor-off-time-during-powered-ascent
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/mission_manager/config.proto
Labels: task

#612 feature/pid-for-constant-heading
  src/bin/drivers/arduino/app.cpp
  src/bin/jaiabot_pid_control/app.cpp
  src/bin/jaiabot_pid_control/app.h
  src/bin/jaiabot_pid_control/config.proto
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/lib/messages/engineering.proto
  src/lib/messages/high_control.proto
  src/web/command_control/client/components/PIDGainsPanel.tsx
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#613 bug/fix-flag-indexing-on-map
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/components/SurveyLines.ts
  src/web/command_control/client/components/SurveyMission.ts
  src/web/shared/MissionFeatures.ts
  src/web/shared/Styles.ts
Labels: bug

#611 bug/task-packet-not-showing
  src/bin/mission_manager/machine.cpp
  src/web/command_control/common/JaiaAPI.ts
  src/web/server/app.py
  src/web/server/jaia.py
  src/web/shared/Styles.ts
  src/web/shared/TaskPacketFeatures.ts
Labels: bug

#616 task/add-option-to-turn-off-cluster
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Settings.ts
  src/web/command_control/client/components/SettingsPanel.tsx
  src/web/command_control/client/components/TaskPackets.tsx
  src/web/command_control/client/components/WptToggle.tsx
  src/web/command_control/client/style/components/SettingsPanel.css
Labels: task

#617 bug/data-offload-retry
  src/web/command_control/client/components/Details.tsx
Labels: bug
