Repository jaiarobotics/jaiabot, pull requests merged in 2023-02, with the labels that each got.

#348 bug/build-fails-fiona-version
  src/web/requirements.txt
Labels: bug

#345 Added a button to download map features as KML file
  src/bin/health/app.cpp
  src/bin/hub_manager/hub_manager.cpp
  src/jdv/client/.gitignore
  src/jdv/client/dist/style.css
  src/jdv/client/package-lock.json
  src/jdv/client/package.json
  src/jdv/client/src/JaiaMap.ts
  src/jdv/client/src/gui/Styles.ts
  src/jdv/client/src/gui/arrowHead.png
  src/jdv/client/src/gui/bottomStrike.png
  src/jdv/client/src/index.tsx
Labels: feature

#352 IMU Quaternions
  src/bin/drivers/adafruit_BNO055/app.cpp
  src/bin/fusion/fusion.cpp
  src/bin/simulator/simulator.cpp
  src/lib/messages/imu.proto
  src/python/adafruit_BNO055/jaiabot_imu.py
Labels: feature

#350 feature/add-stealth-mode-ability
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/arduino/jaiabot_runtime/jaiabot_runtime.ino
  src/bin/fusion/config.proto
  src/bin/fusion/fusion.cpp
  src/bin/health/app.cpp
  src/bin/jaiabot_engineering/app.cpp
  src/bin/jaiabot_metadata/config.proto
  src/bin/jaiabot_pid_control/app.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/doc/markdown/page80_timing.md
  src/doc/markdown/page81_timing_command.md
  src/jdv/client/src/gui/JAIAProtobuf.ts
  src/lib/messages/CMakeLists.txt
  src/lib/messages/engineering.proto
  src/lib/messages/metadata.proto
  src/lib/messages/xbee_info.proto
  src/python/adafruit_BNO055/jaiabot_imu.py
  src/web/command_control/client/components/EngineeringPanel.tsx
  src/web/command_control/client/components/PIDGainsPanel.tsx
  src/web/command_control/client/components/QueryBotStatusPanel.tsx
  src/web/command_control/client/style/CommandControl.less
Labels: feature

#354 task/jdv-use-node-status-instead-of-botstatus
  src/jdv/server/jaialogs.py
Labels: task

#355 Fix goal options component to NOT share parameters between goals (dee…
  src/jdv/client/src/JaiaMap.ts
  src/jdv/client/src/gui/MissionFeatures.ts
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/GoalSettings.tsx
Labels: bug

#362 Added the material design compass icon as the "constant heading" task…
  src/jdv/client/src/gui/Styles.ts
  src/jdv/client/src/gui/taskConstantHeading.svg
Labels: task

#358 task/update-changelog-with-1.4.0
  src/doc/markdown/page02_change_log.md
Labels: task

#359 task/add-carriage-return-plus-b-for-radio
  src/bin/drivers/xbee/xbee.cpp
Labels: task

#363 feature/update-no-heading-response
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  src/bin/fusion/config.proto
  src/bin/fusion/fusion.cpp
  src/web/command_control/client/components/CommandControl.tsx
Labels: feature
