Repository jaiarobotics/jaiabot, pull requests merged in 2023-01, with the labels that each got.

#329 feature/JAIAB-192-waypoint-no-progress-next-task
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/fusion/config.proto
  src/bin/fusion/fusion.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/mission_manager.h
  src/jdv/client/build.sh
  src/jdv/client/package.json
  src/jdv/client/src/gui/Styles.ts
  src/lib/groups.h
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/mission.proto
  src/web/command_control/client/components/CommandControl.jsx
  src/web/command_control/client/components/Details.jsx
  src/web/command_control/client/components/GoalSettings.jsx
  src/web/command_control/client/components/Settings.jsx
  src/web/server/missions.py
Labels: feature

#330 feature/bottom-depth-safety-behavior
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/fusion/config.proto
  src/bin/fusion/fusion.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.h
  src/lib/messages/jaia_dccl.proto
  src/web/command_control/client/components/CommandControl.jsx
  src/web/command_control/client/components/TaskPackets.jsx
Labels: feature

#332 feature/query-engineering-status
  config/templates/bot/jaiabot_engineering.pb.cfg.in
  config/templates/hub/jaiabot_hub_manager.pb.cfg.in
  src/bin/hub_manager/config.proto
  src/bin/hub_manager/hub_manager.cpp
  src/bin/jaiabot_engineering/app.cpp
  src/lib/messages/engineering.proto
  src/web/command_control/client/components/PIDGainsPanel.jsx
Labels: feature

#333 feature/adjusted-pressure-message
  src/bin/drivers/bluerobotics_pressure_sensor/app.cpp
  src/bin/fusion/fusion.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/lib/groups.h
  src/lib/messages/pressure_temperature.proto
Labels: feature

#336 bug/potential-race-condition-adjusted-pressure
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
Labels: bug

#338 feature/imu-state
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.h
  src/doc/figures/mission-states.png
  src/doc/markdown/page60_mission_management.md
  src/lib/messages/mission.proto
Labels: feature

#339 feature/increase-manual-control
  src/bin/drivers/arduino/app.cpp
  src/bin/jaiabot_pid_control/app.cpp
Labels: feature

#341 Feature/wait to detect bottom power descent
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/fusion/config.proto
  src/bin/fusion/fusion.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/lib/messages/pressure_temperature.proto
Labels: feature

#343 bug/fix-heading-flip-when-bot-rolls-over
  src/bin/drivers/adafruit_BNO055/app.cpp
  src/bin/drivers/arduino/app.cpp
  src/lib/messages/imu.proto
  src/python/adafruit_BNO055/jaiabot_imu.py
Labels: bug

#334 Task/mention default port for jcc
  src/jdv/test.sh
  src/web/server/app.py
Labels: task

#335 Bug/spi programming
  scripts/Serial_Moniter.py
  scripts/calibration/bounds-pb2.py
  scripts/calibration/bounds.proto
  scripts/calibration/jaiabot-calibration.py
  scripts/docker-arm64-build-and-deploy.sh
  scripts/gps-i2c/gps-i2c-pipe.py
  scripts/gps-i2c/gps_i2c_pipe.service
  scripts/gps-i2c/install-gps-i2c-pipe-service.py
  scripts/motor-testing/quick-write-motor.py
  scripts/motor-testing/rudder-flap-test-stopButton.py
  scripts/motor-testing/step-throttle-and-log-temp.py
  src/arduino/CMakeLists.txt
  src/arduino/avrdude.conf
  src/arduino/calibration/calibration.ino
  src/arduino/quickMotorcontrol/quickMotorcontrol.ino
  src/arduino/rudder_flap_test/rudder_flap_test.ino
  src/arduino/step_throttle_and_log_temp/step_throttle_and_log_temp.ino
  src/arduino/test_comms/.gitignore
  src/arduino/test_comms/test_comms.ino
  src/arduino/upload_spi.sh
  src/arduino/upload_usb_new.sh
  src/doc/markdown/page20_build.md
Labels: bug

#337 changed to loop
  scripts/kill-jaiabot-processes.sh
Labels: task

#344 feature/powered-ascent-on-off-cycle
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
Labels: feature

#326 task/document-customer-software-update-process
  src/doc/markdown/page02_change_log.md
  src/doc/markdown/page76_battery_health.md
  src/doc/markdown/page90_customer_software_update.md
Labels: task

#327 task/documentation-to-deploy-customer-software-on-bots
  src/doc/markdown/page91_customer_deploy_custom_software.md
Labels: task

#346 feature/hub-on-map-and-command-for-hub
  scripts/kill-jaiabot-processes.sh
  src/bin/health/app.cpp
  src/bin/hub_manager/hub_manager.cpp
  src/bin/mission_manager/app.cpp
  src/bin/web_portal/app.cpp
  src/jdv/client/src/gui/HubFeature.ts
  src/jdv/client/src/gui/JAIAProtobuf.ts
  src/jdv/client/src/gui/Styles.ts
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/portal.proto
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/common/JaiaAPI.ts
  src/web/server/app.py
  src/web/server/jaia.py
Labels: feature

#347 bug/build-failed-during-nvm-install
  build.sh
  scripts/arm64-build.sh
  src/jdv/client/build.sh
  src/web/command_control/build.sh
Labels: bug
