Repository jaiarobotics/jaiabot, pull requests merged in 2023-08, with the labels that each got.

#512 feature/entering-rc-mode-in-failed-state
  src/bin/mission_manager/machine.h
  src/doc/figures/mission-states.png
  src/doc/markdown/page60_mission_management.md
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#554 bug/duplicate-missions
  src/bin/hub_manager/hub_manager.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/mission_manager.h
  src/web/shared/MissionFeatures.ts
Labels: bug

#556 task/grey-out apply-button-in-optimize-mission-until-preview-is-made
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/command_control/client/components/SurveyLines.ts
  src/web/command_control/client/components/SurveyMission.ts
  src/web/command_control/client/style/CommandControl.less
  src/web/command_control/client/style/components/MissionSettings.css
  src/web/command_control/client/style/components/RunInfoPanel.css
  src/web/shared/Styles.ts
Labels: task

#557 Feature/split gobysoft repos
  .circleci/config.yml
  .docker/focal/amd64/Dockerfile
  .docker/focal/arm64/Dockerfile
  scripts/clang-format-hooks/git-pre-commit-format
  scripts/packages/gobysoft-apt-mirror-1.y.list
  scripts/packages/update_gobysoft_mirror.sh
  src/doc/markdown/page20_build.md
Labels: feature

#567 task/increase-number-of-wpts-allowed
  src/web/command_control/client/components/CommandControl.tsx
Labels: task

#566 bug/rework-deploy-script
  config/gen/systemd.py
  scripts/docker-arm64-build-and-deploy.sh
Labels: bug

#563 task/add-scale-into-jdv-map
  src/web/jdv/client/src/JaiaMap.ts
  src/web/jdv/client/src/styles/JaiaMap.css
Labels: task

#561 task/add-course-over-ground-and-heading-indicators-to-jcc
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Layers.ts
  src/web/shared/BotFeature.ts
  src/web/shared/Styles.ts
Labels: task

#568 bug/fleet-id-not-set-in-hub-manager-config
  config/gen/hub.py
  config/templates/hub/jaiabot_hub_manager.pb.cfg.in
Labels: bug

#569 bug/cannot-send-command-to-degraded-bot
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
Labels: bug

#548 feature/data-offload-queue
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/DownloadQueue.tsx
  src/web/command_control/client/style/CommandControl.less
  src/web/command_control/client/style/components/DownloadQueue.css
  src/web/package.json
  src/web/shared/MissionFeatures.ts
Labels: feature

#570 Feature/imu significant wave height pass 2
  .docker/focal/arm64/Dockerfile
  config/launch/simulation/bot.launch
  src/lib/messages/jaia_dccl.proto
  src/python/.gitignore
  src/python/CMakeLists.txt
  src/python/adafruit_BNO055/filters.py
  src/python/adafruit_BNO055/imu.py
  src/python/adafruit_BNO055/jaiabot_imu.py
  src/python/adafruit_BNO055/processing.py
  src/python/adafruit_BNO055/series.py
  src/python/adafruit_BNO055/waves.py
  src/web/command_control/client/components/TaskPackets.tsx
Labels: feature

#573 task/rework-rc-bins
  src/bin/mission_manager/machine.cpp
  src/web/command_control/client/components/RCControllerPanel.tsx
Labels: task

#575 bug/multiple-gps-icons
  src/web/shared/MissionFeatures.ts
Labels: bug

#547 feature/add-bot-pitch-to-imu-detection
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  src/bin/fusion/config.proto
  src/bin/fusion/fusion.cpp
  src/bin/mission_manager/app.cpp
  src/lib/groups.h
Labels: feature

#519 bug/bot-getting-stuck-while-doing-bottom-dive
  config/gen/bot.py
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/jaiabot_pid_control/app.cpp
  src/bin/jaiabot_pid_control/app.h
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/doc/figures/mission-states.png
  src/doc/markdown/page60_mission_management.md
  src/lib/messages/engineering.proto
  src/lib/messages/high_control.proto
  src/lib/messages/mission.proto
  src/web/command_control/client/components/PIDGainsPanel.tsx
  src/web/shared/JAIAProtobuf.ts
Labels: bug
