Repository jaiarobotics/jaiabot, pull requests merged in 2023-05, with the labels that each got.

#416 Feature/automate kmz generation for task packets
  src/web/jdv/requirements.txt
  src/web/jdv/server/jaia_messages.py
  src/web/jdv/server/jaiabot_data_vision.py
  src/web/jdv/server/jaiabot_log_converter.py
  src/web/jdv/server/jaialogs.py
  src/web/jdv/server/kmz.py
  src/web/jdv/server/kmz_files/arrowHead.png
  src/web/jdv/server/kmz_files/bottomStrike.png
  src/web/jdv/server/objects.py
Labels: feature

#415 Added new script to archive and optionally purge logs
  scripts/archive-jaia-offloads.py
Labels: feature

#428 Feature/repeat run a certain amount of times
  config/launch/simulation/all.launch
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/machine.h
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/mission.proto
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/Missions.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#431 task/add-bot-id-to-kmz
  src/lib/messages/jaia_dccl.proto
  src/web/command_control/client/components/QueryBotStatusPanel.tsx
  src/web/command_control/client/style/CommandControl.less
  src/web/jdv/client/src/JaiaMap.ts
  src/web/jdv/server/kmz.py
Labels: task

#433 bug/goal-settings-and-optimize-mission-panel
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/GoalSettings.tsx
Labels: bug

#435 feature/add-bottom-depth-safety-task
  config/gen/bot.py
  config/gen/hub.py
  config/launch/simulation/generate_all_launch.sh
  config/templates/bot/jaiabot_health.pb.cfg.in
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  config/templates/hub/jaiabot_health.pb.cfg.in
  src/bin/health/app.cpp
  src/bin/health/config.proto
  src/bin/jaiabot_engineering/app.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/bin/simulator/simulator.cpp
  src/lib/messages/engineering.proto
  src/lib/messages/health.proto
  src/lib/messages/mission.proto
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/command_control/client/components/PIDGainsPanel.tsx
  src/web/command_control/client/components/Settings.tsx
  src/web/command_control/client/components/mission/MissionControllerPanel.tsx
  src/web/command_control/client/components/mission/RunList.tsx
  src/web/command_control/client/components/mission/RunPanel.tsx
  src/web/command_control/client/style/CommandControl.less
  src/web/server/jaia.py
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#436 task/move-next-task-button
  src/web/command_control/client/components/Details.tsx
Labels: task

#437 task/update-data-offload-script-to-move-files-to-archive
  scripts/jaiabot-dataoffload.sh
Labels: task

#441 task/increase-comms-slot-time
  config/gen/common/comms.py
Labels: task

#442 feature/add-ability-to-scan-for-bots
  config/gen/bot.py
  config/templates/bot/jaiabot_engineering.pb.cfg.in
  src/bin/fusion/fusion.cpp
  src/bin/hub_manager/hub_manager.cpp
  src/bin/jaiabot_engineering/app.cpp
  src/bin/jaiabot_engineering/config.proto
  src/lib/messages/hub.proto
  src/lib/messages/jaia_dccl.proto
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/EngineeringPanel.tsx
  src/web/command_control/client/components/ScanForBotPanel.tsx
  src/web/jdv/server/kmz.py
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#443 feature/add-xbee-encryption
  config/gen/bot.py
  config/gen/common/comms.py
  config/templates/xbee.pb.cfg
  src/bin/hub_manager/hub_manager.cpp
  src/doc/markdown/page50_communications.md
  src/lib/comms/xbee/xbee.cpp
  src/lib/comms/xbee/xbee.h
  src/lib/comms/xbee/xbee_driver.cpp
  src/lib/messages/xbee_extensions.proto
Labels: feature

#440 task/change-font-style-of-map-layers-panel-to-match-JCC
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/style/CommandControl.less
Labels: task

#447 feature/create-task-packet-file-on-bot
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  scripts/jaiabot-dataoffload.sh
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
Labels: feature

#444 task/make-global-font-variable
  src/web/command_control/client/style/CommandControl.less
Labels: task

#449 bug/fix-data-offload-script-with-task-packet-arg
  scripts/jaiabot-dataoffload.sh
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
Labels: bug

#454 feature/create-single-lat-lon-endpoint
  src/lib/messages/mission.proto
  src/web/command_control/client/components/MissionSpeedSettingsPanel.tsx
  src/web/command_control/client/components/ScanForBotPanel.tsx
  src/web/server/app.py
  src/web/server/jaia.py
Labels: feature

#450 task/document-best-practices-using-openlayers
  src/doc/markdown/page100_open_layers.md
Labels: task

#452 task/re-style-rc-panel-making-dual-control-default
  src/web/command_control/client/components/RCControllerPanel.tsx
  src/web/command_control/client/components/Settings.tsx
  src/web/command_control/client/style/CommandControl.less
Labels: task

#455 bug/fix-endpoint-typo
  src/web/server/jaia.py
Labels: bug
