Repository jaiarobotics/jaiabot, pull requests merged in 2024-12, with the labels that each got.

#1017 task/create-accordion-test-example-jaia-1685
  src/web/install_dependencies.sh
  src/web/tests/example/Accordion.test.tsx
Labels: task

#1025 bug/imu-reporting-data-but-not-changing/JAIA-1735
  src/bin/drivers/adafruit_BNO085/config.proto
  src/python/adafruit/imu_bno085.py
Labels: bug

#988 feature/add-driver-for-motor-rpm
  cmake/JaiaVersions.cmake
  config/gen/bot.py
  config/gen/common/udp.py
  config/gen/systemd.py
  config/templates/bot/jaiabot_driver_arduino.pb.cfg.in
  config/templates/bot/jaiabot_health.pb.cfg.in
  debian/jaiabot-embedded.config
  debian/jaiabot-embedded.postinst
  debian/jaiabot-embedded.templates
  rootfs/customization/includes.chroot/etc/jaiabot/init/first-boot.preseed.ex
  scripts/arm64-deploy.sh
  src/arduino/jaiabot_runtime/jaiabot_runtime.ino
  src/bin/health/CMakeLists.txt
  src/bin/health/app.cpp
  src/bin/health/config.proto
  src/bin/health/motor_thread.cpp
  src/bin/health/system_thread.h
  src/bin/tool/actions/admin/ssh.cpp
  src/bin/tool/actions/admin/ssh/known.h
  src/bin/tool/actions/common.h
  src/lib/groups.h
  src/lib/messages/CMakeLists.txt
  src/lib/messages/arduino.proto
  src/lib/messages/health.proto
  src/lib/messages/motor.proto
  src/python/CMakeLists.txt
  src/python/motor/rpm.py
Labels: feature, debian, rootfs, systemd

#1024 bug/downloading-data-to-hub/JAIA-1741
  src/bin/hub_manager/hub_manager.cpp
Labels: bug

#1031 task/add-pressure-sensor-to-jaiabot-embedded-config-JAIA-1768
  config/gen/systemd.py
  debian/jaiabot-embedded.config
  debian/jaiabot-embedded.postinst
  debian/jaiabot-embedded.templates
  src/bin/drivers/bluerobotics_pressure_sensor/app.cpp
  src/lib/messages/pressure_temperature.proto
  src/python/pressure_sensor/jaiabot_pressure_sensor.py
Labels: task, debian, systemd, circleci

#1032 bug/motor-harness-type-config-not-prompted
  debian/jaiabot-embedded.config
Labels: bug, debian

#1034 bug/pressure-sensor-data-type-mismatch-simulator
  src/bin/simulator/simulator.cpp
Labels: bug

#1035 feature/enter-full-screen-on-user-click
  src/web/context/GlobalContext.tsx
  src/web/context/actions/GlobalActions.ts
  src/web/jcc/client/components/CommandControl/CommandControl.tsx
  src/web/jcc/client/components/CommandControl/__tests__/CommandControl.test.tsx
  src/web/jcc/client/components/SettingsPanel.tsx
Labels: feature, circleci

#1039 bug/deploy-script-not-setting-systemd-config-files-correctly/JAIA-1788
  scripts/arm64-deploy.sh
Labels: bug

#1043 bug/docker-deploy-script-pre-commit-hook/JAIA-1789
  scripts/docker-arm64-build-and-deploy.sh
  scripts/setup-tools-build-nodocker.sh
Labels: bug

#1040 bug/jdv-graph-table-map-data-not-aligned-when-hover/JAIA-1787
  src/web/jdv/client/src/index.tsx
Labels: bug

#1042 bug/gps-data-rates-tvp-sky/JAIA-1552
  src/python/gps/gps-spi-pty.py
Labels: bug
