Repository jaiarobotics/jaiabot, pull requests merged in 2024-01, with the labels that each got.

#677 Update jaiabot-software diagram to reflect current implementation
  src/doc/figures/jaiabot-software.png
Labels: doc

#725 Feature/jed tail bounds calibration
  config/gen/bot.py
  config/launch/simulation/bot.launch
  scripts/docker-arm64-build-and-deploy.sh
  src/bin/drivers/arduino/app.cpp
  src/bin/jaiabot_engineering/app.cpp
  src/bin/jaiabot_pid_control/app.cpp
  src/lib/messages/bounds.proto
  src/lib/messages/engineering.proto
  src/python/CMakeLists.txt
  src/web/command_control/common/JaiaAPI.ts
  src/web/jed/ActuatorConfigSlider.js
  src/web/jed/ActuatorConfigTextInputs.js
  src/web/jed/BotDropdown.js
  src/web/jed/api.js
  src/web/jed/byId.js
  src/web/jed/calibration.css
  src/web/jed/calibration.js
  src/web/jed/deadMansSwitch.js
  src/web/jed/domQuery.js
  src/web/jed/index.html
  src/web/jed/script.js
  src/web/jed/style.css
  src/web/jed/updateStatus.js
  src/web/jed/utils.js
  src/web/package.json
  src/web/server/app.py
  src/web/server/jaia_portal.py
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#749 bug/wpt-panel-does-not-update-when-clicking-between-wpts
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/components/TaskSettingsPanel.tsx
Labels: bug

#748 feature/jed-imu-calibration
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  scripts/imu-bno085/cal_uart.py
  scripts/imu-bno085/create-python-virt-env.sh
  scripts/imu-bno085/requirements.txt
  scripts/imu-bno085/show_cal_uart.py
  scripts/imu-bno085/uart_imu_test.py
  src/bin/fusion/fusion.cpp
  src/bin/jaiabot_engineering/app.cpp
  src/lib/messages/engineering.proto
  src/lib/messages/imu.proto
  src/lib/messages/jaia_dccl.proto
  src/python/adafruit_BNO085/imu.py
  src/python/adafruit_BNO085/jaiabot_imu.py
  src/web/jed/api.js
  src/web/jed/calibration.css
  src/web/jed/calibration.js
  src/web/jed/index.html
  src/web/jed/style.css
Labels: feature

#750 feature/imu-reset-line
  config/gen/bot.py
  src/python/adafruit_BNO085/jaia_firm_bno085_reset_gpio_pin.py
Labels: feature

#757 bug/change-imu-log-level
  src/python/adafruit_BNO085/imu.py
Labels: bug

#760 task/detect-bot-roll
  src/python/adafruit_BNO055/imu.py
  src/python/adafruit_BNO085/imu.py
Labels: task

#761 task/exclude-downloaded-taskpackets-to-reduce-server-load
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
Labels: task

#759 task/setup-dynamic-radio-config
  config/gen/bot.py
  config/gen/common/comms.py
  config/templates/xbee.pb.cfg
Labels: task

#755 task/change-reverse-start-bound-when-diving-to-match-dive-throttle
  config/gen/bot.py
  src/arduino/jaiabot_runtime/jaiabot_runtime.ino
  src/bin/drivers/arduino/app.cpp
  src/bin/mission_manager/machine.cpp
  src/lib/messages/high_control.proto
Labels: task

#762 task/remove-dive-init-start-code
  src/bin/drivers/arduino/app.cpp
  src/bin/mission_manager/machine.cpp
  src/lib/messages/high_control.proto
Labels: task

#733 task/missing-environment-dependencies
  .docker/focal/amd64/Dockerfile
  build.sh
  scripts/docker-login-to-build-system.sh
  scripts/setup-tools-build-docker.sh
  scripts/setup-tools-build-nodocker.sh
  scripts/setup-tools-build.sh
  scripts/setup-tools-runtime.sh
  scripts/test-setup-build/Dockerfile
  scripts/test-setup-build/test-setup-build.sh
  src/doc/markdown/page92_customer_launch_simulator.md
  src/web/CMakeLists.txt
  src/web/command_control/build.sh
Labels: task

#740 bug/drift-map-zero-division-error
  src/python/pyjaia/pyjaia/drift_interpolation.py
Labels: bug
