Repository jaiarobotics/jaiabot, pull requests merged in 2024-09, with the labels that each got.

#964 bug/rootfs-image-has-previous-version
  .circleci/config.yml
Labels: bug, low risk merge, circleci

#688 feature/trail-movement
  CMakeLists.txt
  config/gen/bot.py
  config/gen/common/hub.py
  config/gen/common/udp.py
  config/gen/hub.py
  config/launch/simulation/hub.launch
  config/templates/bot/bot.bhv.in
  config/templates/bot/bot.moos.in
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  config/templates/goby_gps.pb.cfg.in
  config/templates/hub/jaiabot_hub_manager.pb.cfg.in
  config/templates/hub/jaiabot_simulator.pb.cfg.in
  config/templates/systemd/backup-date.service.in
  rootfs/customization/includes.chroot/etc/default/gpsd
  src/bin/fusion/config.proto
  src/bin/hub_manager/config.proto
  src/bin/hub_manager/hub_manager.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/bin/mission_manager/mission_manager.h
  src/bin/simulator/config.proto
  src/bin/simulator/simulator.cpp
  src/bin/web_portal/app.cpp
  src/doc/figures/mission-states.png
  src/doc/markdown/page60_mission_management.md
  src/lib/groups.h
  src/lib/messages/CMakeLists.txt
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/mission.proto
  src/lib/messages/portal.proto
  src/lib/moos_gateway/jaiabot_gateway_plugin.cpp
  src/web/jcc/client/components/CommandControl/CommandControl.tsx
  src/web/jcc/client/components/ContactInfoPanel.tsx
  src/web/jcc/client/components/ContactLayers.ts
  src/web/jcc/client/components/Missions.tsx
  src/web/jcc/client/icons/pacman-contact.svg
  src/web/jcc/client/style/components/ContactInfoPanel.css
  src/web/server/jaia_portal.py
  src/web/shared/JAIAProtobuf.ts
  src/web/shared/PortalStatus.ts
  src/web/shared/Styles.ts
  src/web/shared/Utilities.tsx
  src/web/shared/pacman-contact.svg
Labels: feature, high risk merge, rootfs, systemd

#970 bug/jcc-server-crash-cloudhub/jaia/1702
  src/web/server/jaia_portal.py
Labels: bug
