Repository jaiarobotics/jaiabot, pull requests merged in 2024-06, with the labels that each got.

#886 bug/data-offload-percent-missing-from-details-panel
  src/web/jcc/client/components/Details.tsx
Labels: bug

#882 Minor renaming of src/bin directories
  src/bin/CMakeLists.txt
  src/bin/engineering/CMakeLists.txt
  src/bin/engineering/app.cpp
  src/bin/engineering/config.proto
  src/bin/metadata/CMakeLists.txt
  src/bin/metadata/app.cpp
  src/bin/metadata/config.proto
  src/bin/pid_control/CMakeLists.txt
  src/bin/pid_control/PID/PID.h
  src/bin/pid_control/PID/README.md
  src/bin/pid_control/app.cpp
  src/bin/pid_control/app.h
  src/bin/pid_control/config.proto
Labels: task, low risk merge

#877 feature/create-a-script-to-help-characterize-gps-reqirements
  scripts/log-analysis/gps.py
Labels: feature

#873 feature/add-error-for-no-connection-to-arduino
  CMakeLists.txt
  src/bin/drivers/arduino/app.cpp
  src/bin/hub_manager/hub_manager.cpp
  src/lib/messages/CMakeLists.txt
  src/lib/messages/health.proto
  src/lib/metadata.h
  src/web/jcc/client/App.js
  src/web/jed/script.js
Labels: feature

#893 bug/install-web-dependencies-clears-pre-commit-hooks
  scripts/git-hooks/init/pre-commit/pre-commit
  scripts/git-hooks/init/pre-commit/set-pre-commit-hook.sh
  src/web/run.sh
Labels: bug

#864 feature/update-hub-location-sim
  config/ansible/check-version.yml
  config/ansible/tasks/install-jaiabot.yml
  config/ansible/upgrade-all.yml
  config/gen/hub.py
  config/templates/hub/jaiabot_metadata.pb.cfg.in
  src/bin/metadata/app.cpp
  src/bin/metadata/config.proto
  src/bin/pid_control/PID/README.md
  src/bin/simulator/simulator.cpp
  src/bin/web_portal/app.cpp
  src/doc/markdown/page111_developing_with_react_context.md
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/metadata.proto
  src/web/jcc/client/components/CommandControl.tsx
  src/web/jcc/client/components/SetHubLocation.tsx
  src/web/jcc/client/components/SettingsPanel.tsx
  src/web/jcc/client/style/components/SetHubLocation.less
  src/web/jcc/client/style/components/SettingsPanel.css
  src/web/run.sh
  src/web/shared/JAIAProtobuf.ts
  src/web/shared/PortalStatus.ts
Labels: feature

#897 bug/data-offload-command/JAIA-1259
  src/web/jcc/client/components/CommandControl.tsx
Labels: bug

#901 Task/post rootfs merge cleanup
  .circleci/config.yml
  rootfs/README.md
  src/doc/markdown/page19_repository.md
  src/doc/markdown/page25_embedded_setup.md
  src/doc/markdown/page56_cloud.md
Labels: task, low risk merge

#899 bug/moving-waypoint-with-edit-mode-off/jaia-1248
  src/web/jcc/client/components/CommandControl.tsx
Labels: bug

#902 bug/slow-first-boot/JAIA-1288
  .circleci/config.yml
  rootfs/scripts/create_raspi_base_image.sh
Labels: bug

#905 bug/prettier-working-outside-web
  scripts/git-hooks/prettier/write.sh
Labels: bug

#906 task/clean-up-significant-wave-height-debugs/jaia-1283
  config/templates/bot/jaiabot_imu.py.pb.cfg.in
Labels: task

#904 task/move-ip/jaia-1306
  CMakeLists.txt
  config/ansible/tasks/cloud-read-ip-addresses.yml
  config/ansible/tasks/cloud-vfleet-vpn-setup.yml
  rootfs/cloud/aws/create_vpc.sh
  rootfs/customization/includes.chroot/etc/jaiabot/vpn_gen.sh
  scripts/data-offload/jaiahub-dataoffload-cloudhub.sh
  scripts/jaia-ip.py
  src/bin/tool/CMakeLists.txt
  src/bin/tool/actions/common.h
  src/bin/tool/actions/ip.cpp
  src/bin/tool/actions/ip.h
  src/bin/tool/actions/ip.proto
  src/bin/tool/config.proto
  src/bin/tool/jaia_tool.cpp
  src/doc/markdown/page56_cloud.md
Labels: task, low risk merge

#911 task/clear-deb-test-branch
  .circleci/config.yml
Labels: task

#913 task/move-rally-button-to-right-toolbar-jaia-1249
  src/web/jcc/client/components/CommandControl/CommandControl.tsx
Labels: task
