Repository jaiarobotics/jaiabot, pull requests merged in 2024-05, with the labels that each got.

#851 task/disable-bot-path
  src/web/jcc/client/components/CommandControl.tsx
  src/web/jcc/client/components/Layers.ts
  src/web/server/jaia_portal.py
Labels: task

#831 task/separate-imu-drivers-from-wave-calculations
  config/gen/bot.py
  config/templates/bot/jaiabot_imu.py.pb.cfg.in
  scripts/arm64-deploy.sh
  src/bin/fusion/fusion.cpp
  src/bin/hub_manager/hub_manager.cpp
  src/bin/jaiabot_engineering/app.cpp
  src/bin/mission_manager/app.cpp
  src/bin/web_portal/app.cpp
  src/lib/intervehicle.h
  src/python/adafruit/imu.py
  src/python/adafruit/imu_simulator.py
  src/python/adafruit/jaiabot_imu.py
  src/python/adafruit/style.css
  src/python/pyjaia/pyjaia/waves/analyzer.py
  src/python/pyjaia/pyjaia/waves/filters.py
  src/python/pyjaia/pyjaia/waves/jaia-analyze-waves.py
  src/python/pyjaia/pyjaia/waves/processing.py
  src/python/pyjaia/pyjaia/waves/series.py
  src/python/pyjaia/pyjaia/waves/waves.md
  src/python/pyjaia/pyproject.toml
  src/python/pyjaia/setup.py
Labels: task, low risk merge

#852 task/change-check-for-old-times-to-repeat-times
  config/gen/hub.py
  src/bin/hub_manager/hub_manager.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/machine.cpp
Labels: task

#854 task/reinstate-auto-assign-feature-with-omp
  src/web/jcc/client/components/CommandControl.tsx
Labels: task

#853 task/move-engineering-button-into-settings-panel
  src/web/.gitignore
  src/web/jcc/client/components/CommandControl.tsx
  src/web/jcc/client/components/Details.tsx
  src/web/jcc/client/components/EngineeringPanel.tsx
  src/web/jcc/client/components/HelpWindow.tsx
  src/web/jcc/client/components/MissionSpeedSettings.tsx
  src/web/jcc/client/components/MissionSpeedSettingsPanel.tsx
  src/web/jcc/client/components/SettingsPanel.tsx
  src/web/jcc/client/components/mission/MissionControllerPanel.tsx
  src/web/jcc/client/style/CommandControl.less
  src/web/jcc/client/style/components/DownloadPanel.css
  src/web/jcc/client/style/components/GoalSettingsPanel.css
  src/web/jcc/client/style/components/MissionSettings.css
  src/web/jcc/client/style/components/MissionSpeedSettings.less
  src/web/jcc/client/style/components/RallyPointPanel.css
  src/web/jcc/client/style/components/RunInfoPanel.css
  src/web/jcc/client/style/components/RunItem.less
  src/web/jcc/client/style/components/SettingsPanel.css
  src/web/jcc/client/style/components/TaskPacketPanel.css
  src/web/jcc/client/style/util.less
  src/web/shared/Utilities.tsx
Labels: task

#843 feature/increase-wave-detection-to-20-second-periods-with-bno085
  config/gen/bot.py
  config/gen/systemd.py
  config/launch/imu-simulation/all.launch
  config/launch/imu-simulation/bot.launch
  config/launch/imu-simulation/generate_all_launch.sh
  config/launch/imu-simulation/hub.launch
  config/launch/imu-simulation/preseed.goby
  config/launch/imu-test/all.launch
  config/launch/imu-test/bot.launch
  config/templates/bot/jaiabot_imu.py.pb.cfg.in
  src/bin/jaiabot_metadata/app.cpp
  src/python/adafruit/build_messages.sh
  src/python/adafruit/imu.py
  src/python/adafruit/imu_bno085.py
  src/python/adafruit/imu_reading.py
  src/python/adafruit/imu_simulator.py
  src/python/adafruit/jaiabot_imu.py
  src/python/h5/h5metadata.py
  src/python/pyjaia/pyjaia/h5_tools.py
  src/python/pyjaia/pyjaia/series.py
  src/python/pyjaia/pyjaia/time_range.py
  src/python/pyjaia/pyjaia/waves/__init__.py
  src/python/pyjaia/pyjaia/waves/acceleration_analyzer.py
  src/python/pyjaia/pyjaia/waves/analysis_html.py
  src/python/pyjaia/pyjaia/waves/analyzer.py
  src/python/pyjaia/pyjaia/waves/drift.py
  src/python/pyjaia/pyjaia/waves/filters.py
  src/python/pyjaia/pyjaia/waves/jaia-analyze-waves.py
  src/python/pyjaia/pyjaia/waves/processing.py
  src/python/pyjaia/pyjaia/waves/series.py
  src/python/pyjaia/pyjaia/waves/series_set.py
  src/python/pyjaia/pyjaia/waves/spectrogram.py
  src/python/pyjaia/setup.py
  src/web/jdv/server/jaia_h5.py
  src/web/jdv/server/moos_messages.py
  src/web/jdv/server/series.py
Labels: feature

#858 bug/imu-detection-reboot
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/drivers/adafruit_BNO055/app.cpp
  src/bin/drivers/adafruit_BNO055/config.proto
  src/bin/drivers/adafruit_BNO085/app.cpp
  src/bin/drivers/adafruit_BNO085/config.proto
  src/bin/fusion/fusion.cpp
  src/bin/mission_manager/config.proto
Labels: bug

#861 bug/add-geotiff-scripts
  CMakeLists.txt
  config/templates/systemd/jaiabot_data_vision.service.in
  config/templates/systemd/liaison-prelaunch.service.in
  scripts/setup-tools-build-nodocker.sh
  src/web/jdv/run.sh
  src/web/jdv/server/jaiabot_data_vision.py
Labels: bug

#862 bug/imu-var-not-initialized
  src/python/pyjaia/pyjaia/waves/acceleration_analyzer.py
Labels: bug

#865 bug/rally-location-undefined
  src/web/jcc/client/components/SurveyMission.ts
Labels: bug

#857 Use large resource task for regular builds
  .circleci/config.yml
Labels: task, low risk merge

#869 feature/custom-overlay-script-improvements
  scripts/geotiff_format.py
  src/doc/markdown/feature-custom_overlays.md
Labels: feature

#868 Fix intermittent crash of goby_liaison_standalone on boot
  config/gen/systemd.py
Labels: bug, low risk merge

#871 task/change-config-for-imu-errors
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  src/bin/fusion/config.proto
Labels: task

#802 Task/data pull
  .circleci/config.yml
  .docker/focal/amd64/Dockerfile
  .docker/focal/arm64/Dockerfile
  CMakeLists.txt
  config/ansible/check-version.yml
  config/gen/bot.py
  config/gen/common/__init__.py
  config/gen/hub.py
  config/gen/systemd-local.sh
  config/gen/systemd.py
  config/preseed.goby
  config/templates/bot/goby_moos_gateway.pb.cfg.in
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  config/templates/goby_logger.pb.cfg.in
  config/templates/hub/jaiabot_hub_manager.pb.cfg.in
  scripts/amd64-build-vbox.sh
  scripts/arm64-deploy.sh
  scripts/data-offload/jaiabot-postdataoffload.sh
  scripts/data-offload/jaiabot-predataoffload.sh
  scripts/data-offload/jaiahub-dataoffload-cloudhub.sh
  scripts/data-offload/jaiahub-dataoffload.sh
  scripts/docker-arm64-build-and-deploy.sh
  scripts/docker-build-build-system.sh
  scripts/jaiabot-dataoffload.sh
  src/bin/fusion/fusion.cpp
  src/bin/hub_manager/config.proto
  src/bin/hub_manager/hub_manager.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/doc/figures/data-offload-sequence.png
  src/doc/figures/mission-states.png
  src/doc/markdown/page60_mission_management.md
  src/lib/messages/CMakeLists.txt
  src/lib/messages/health.proto
  src/lib/messages/hub.proto
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/mission.proto
  src/lib/moos_gateway/CMakeLists.txt
  src/lib/moos_gateway/jaiabot_gateway_config.proto
  src/lib/moos_gateway/jaiabot_gateway_plugin.h
Labels: task, high risk merge

#863 Task/status repo and version
  .circleci/config.yml
  config/preseed.goby
  scripts/75-jaiabot-status
  scripts/arm64-deploy.sh
  src/bin/tool/actions/version.cpp
  src/bin/tool/actions/version.proto
  src/lib/messages/metadata.proto
  src/lib/metadata.h
Labels: task, low risk merge

#874 feature/jcc-retry-offload
  scripts/data-offload/jaiahub-dataoffload.sh
  src/web/jcc/client/components/CommandControl.tsx
  src/web/jcc/client/components/Details.tsx
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#878 bug/120-second-jed-dive
  src/web/jed/script.js
Labels: bug

#879 feature/jcc-hubstatus-download-progress
  src/web/jcc/client/components/CommandControl.tsx
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#866 task/increase-speed-bot-and-hub-connect
  config/gen/bot.py
  config/gen/hub.py
  config/templates/_link_wifi.pb.cfg.in
  config/templates/_sub_buffer.pb.cfg.in
  config/templates/hub/jaiabot_web_portal.pb.cfg.in
  config/templates/link_udp.pb.cfg.in
  config/templates/link_xbee.pb.cfg.in
  config/templates/systemd/gobyd.service.in
  config/templates/systemd/health-app.service.in
  config/templates/systemd/moosdb-sim.service.in
  config/templates/systemd/moosdb.service.in
  scripts/arm64-deploy.sh
  src/bin/web_portal/config.proto
Labels: task, high risk merge

#872 task/add-imu-detection-values
  src/bin/fusion/fusion.cpp
  src/lib/messages/imu.proto
Labels: task

#884 feature/add-warning-data-offload-fails
  CMakeLists.txt
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/machine.cpp
  src/lib/messages/CMakeLists.txt
  src/lib/messages/health.proto
  src/web/jcc/client/components/CommandControl.tsx
  src/web/jcc/client/components/Details.tsx
Labels: feature
