Repository jaiarobotics/jaiabot, pull requests merged in 2024-11, with the labels that each got.

#1000 task/hide-salinity-data-from-jcc-JAIA-1743
  src/web/jcc/client/components/Details.tsx
Labels: task

#1001 task/eliminate-leading-zeros-in-task-parameter-inputs-JAIA-1751
  src/web/jcc/client/components/TaskSettingsPanel.tsx
Labels: task

#997 task/package-lock-copy
  src/web/CMakeLists.txt
Labels: task

#993 task/remove-power-data-from-botstatus-message/JAIA-1728
  cmake/JaiaVersions.cmake
  src/bin/fusion/fusion.cpp
  src/doc/markdown/page41_hdf5.md
  src/lib/messages/CMakeLists.txt
  src/lib/messages/jaia_dccl.proto
  src/web/jcc/client/components/Details.tsx
  src/web/jed/updateStatus.js
  src/web/shared/JAIAProtobuf.ts
  src/web/utils/protobuf-types.ts
Labels: task, rootfs

#1009 Bug/docker sim fails on tagged builds
  scripts/sim-docker/Dockerfile.in
Labels: bug

#1011 Bug/first boot fails on 1.14.0/Jaia-1758
  CMakeLists.txt
  config/ssh/root_authorized_keys
  config/ssh/tmp_authorized_keys
  rootfs/customization/includes.chroot/etc/jaiabot/init/first-boot.sh
Labels: bug, rootfs

#1002 task/document-web-files-jaia-1750
  src/web/.eslintignore
  src/web/.eslintrc.json
  src/web/.sequelizerc
  src/web/README.md
  src/web/babel.config.js
  src/web/jcc/client/components/MissionSettings.tsx
  src/web/tsconfig.json
  src/web/webpack.config.js
Labels: task

#1013 task/create-jaiaToggle-test-example-jaia-1680
  src/web/jcc/client/components/GoalSettings.tsx
  src/web/jcc/client/components/JaiaToggle/JaiaToggle.tsx
  src/web/jcc/client/components/JaiaToggle/__tests__/JaiaToggle.test.tsx
  src/web/jcc/client/components/MissionSettings.tsx
  src/web/jcc/client/components/RCControllerPanel.tsx
  src/web/jcc/client/components/SettingsPanel.tsx
  src/web/jcc/client/components/TaskSettingsPanel.tsx
  src/web/jcc/client/components/mission/RunItem.tsx
Labels: task

#1022 bug/git-commits-are-adding-untracked-files/JAIA-1761
  scripts/git-hooks/prettier/write.sh
Labels: bug

#1021 feature/driver-tsys01-temperature-sensor
  config/gen/bot.py
  config/gen/common/udp.py
  config/gen/systemd.py
  config/templates/bot/jaiabot_tsys01_temperature_sensor_driver.pb.cfg.in
  debian/jaiabot-embedded.config
  debian/jaiabot-embedded.postinst
  debian/jaiabot-embedded.templates
  src/bin/drivers/CMakeLists.txt
  src/bin/drivers/tsys01_temperature_sensor/CMakeLists.txt
  src/bin/drivers/tsys01_temperature_sensor/app.cpp
  src/bin/drivers/tsys01_temperature_sensor/config.proto
  src/lib/groups.h
  src/lib/messages/CMakeLists.txt
  src/lib/messages/health.proto
  src/lib/messages/tsys01.proto
  src/python/CMakeLists.txt
  src/python/tsys01_temperature_sensor/jaiabot_tsys01.py
  src/python/tsys01_temperature_sensor/tsys01/LICENSE
  src/python/tsys01_temperature_sensor/tsys01/__init__.py
  src/python/tsys01_temperature_sensor/tsys01/tsys01.py
Labels: feature, debian, systemd, circleci
