Repository jaiarobotics/jaiabot, pull requests merged in 2024-08, with the labels that each got.

#895 bug/race-condition-fleet2-radio-jaia-497
  src/lib/comms/xbee/xbee.cpp
  src/lib/comms/xbee/xbee.h
Labels: bug

#938 bug/jammy-image-does-not-boot
  rootfs/scripts/create_raspi_base_image.sh
Labels: bug, low risk merge, rootfs

#939 task/add-task-packets-to-rest-api-jaia-1517
  src/lib/messages/rest_api.proto
  src/web/rest_api/common/shared_data.py
  src/web/rest_api/test/short_api_test.py
  src/web/rest_api/v1/api.py
Labels: task

#946 bug/clicking-hub-button-no-gps-jaia-1520
  src/web/containers/HubDetails.tsx
  src/web/context/HubContext.tsx
  src/web/jcc/client/components/SetHubLocation.tsx
  src/web/shared/Utilities.tsx
Labels: bug

#951 task/turn-off-default-layers-jdv/JAIA-1570
  src/web/jdv/client/src/JaiaMap.ts
Labels: task

#942 task/increase-time-to-detect-imu-issue
  config/gen/bot.py
  config/templates/bot/jaiabot_fusion.pb.cfg.in
Labels: task

#953 bug/change-delimiter-for-entering-xbee-command-mode
  src/lib/comms/xbee/xbee.cpp
Labels: bug

#956 bug/jcc-crashes-hub-services-restart
  src/web/containers/HubDetails.tsx
Labels: bug

#958 bug/update-hub-id-error-handling-jcc
  debian/jaiabot-embedded.postinst
  src/web/context/GlobalContext.tsx
Labels: bug, debian

#959 bug/check-subscription-file-exists-before-deletion
  debian/jaiabot-embedded.postinst
Labels: bug, debian

#965 feature/add-full-screen-toggle
  src/web/context/GlobalContext.tsx
  src/web/context/actions/GlobalActions.ts
  src/web/jcc/client/components/CommandControl/__tests__/CommandControl.test.tsx
  src/web/jcc/client/components/SettingsPanel.tsx
  src/web/jcc/client/style/components/SettingsPanel.css
Labels: feature
