Repository jaiarobotics/jaiabot, pull requests merged in 2024-02, with the labels that each got.

#558 feature/ubuntu22-04
  .circleci/config.yml
  .docker/focal/amd64/Dockerfile
  .docker/focal/arm64/Dockerfile
  .docker/jammy
  scripts/docker-create-push-for-circleci.sh
Labels: feature

#769 task/stop-auto-assign-with-degraded-comms
  src/web/command_control/client/components/CommandControl.tsx
Labels: task

#770 task/document-web-api-endpoints
  src/doc/markdown/page12_web_api.md
Labels: task

#768 task/clean-up-gitignores
  .gitignore
  config/.gitignore
  config/launch/simulation/all.launch
  config/launch/simulation/generate_all_launch.sh
  src/arduino/.gitignore
  src/arduino/jaiabot_runtime/.gitignore
  src/python/.gitignore
  src/python/adafruit_BNO055/.gitignore
  src/python/adafruit_BNO085/.gitignore
  src/python/pressure_sensor/.gitignore
  src/web/.gitignore
  src/web/command_control/build.sh
  src/web/jdv/.gitignore
  src/web/jdv/client/.gitignore
  src/web/jdv/client/build.sh
  src/web/server/.gitignore
Labels: task

#722 task/organize-using-software-docs
  src/doc/markdown/page120_working_with_jaia_software.md
  src/doc/markdown/page82_timing_health_updates.md
  src/doc/markdown/page90_updating_software.md
  src/doc/markdown/page91_customer_deploy_custom_software.md
  src/doc/markdown/page92_customer_launch_simulator.md
Labels: task

#739 task/wmm-current-year
  src/bin/fusion/fusion.cpp
Labels: task

#763 feature/jdv-refresh-data-from-new-file
  src/web/jdv/client/src/JaiaMap.ts
  src/web/jdv/client/src/index.tsx
Labels: feature

#776 task/clarify-wmm-year
  src/bin/fusion/fusion.cpp
Labels: task

#754 feature/simulator-seafloor-eggshell
  config/templates/bot/jaiabot_simulator.pb.cfg.in
  src/bin/simulator/config.proto
  src/bin/simulator/simulator.cpp
Labels: feature

#778 bug/playall-not-working-after-reassigning
  src/web/command_control/client/components/CommandControl.tsx
Labels: bug

#777 feature/ui-is-bot-logging
  src/web/command_control/client/components/Details.tsx
Labels: feature

#779 task/change-style-of-panel-headings
  src/web/command_control/client/components/Details.tsx
  src/web/command_control/client/style/CommandControl.less
  src/web/command_control/client/style/components/Details.less
  src/web/command_control/client/style/util.less
Labels: task

#780 task/remove-unused-omp-elements
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/command_control/client/components/SurveyMission.ts
Labels: task

#782 feature/update-mission-proto-to-include-srp-fields
  src/lib/messages/engineering.proto
  src/lib/messages/mission.proto
Labels: feature

#786 task/change-omp-panel-title
  src/web/command_control/client/components/MissionSettings.tsx
Labels: task

#781 feature/add-point-and-line-spacing-to-omp
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/command_control/client/components/SurveyLines.ts
  src/web/command_control/client/components/SurveyPolygon.ts
Labels: feature

#784 feature/add-srp-fields-in-omp
  src/bin/hub_manager/hub_manager.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/mission_manager.h
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/command_control/client/style/components/MissionSettings.css
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#788 feature/first-wpt-task-option-omp
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/command_control/client/components/PIDGainsPanel.tsx
  src/web/command_control/client/components/SurveyMission.ts
  src/web/command_control/client/style/CommandControl.less
Labels: feature

#751 bug/catch-duplicate-task-packets
  src/web/server/jaia_portal.py
Labels: bug

#758 bug/reduce-time-to-process-task-packets
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/web/server/jaia_portal.py
Labels: bug

#747 bug/bottom-detection-wave-detection-race-condition
  src/python/adafruit_BNO085/imu.py
  src/python/adafruit_BNO085/processing.py
  src/python/adafruit_BNO085/waves.py
Labels: bug

#792 bug/omp-spacing-input-render-and-validation
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/command_control/client/components/SurveyLines.ts
Labels: bug

#790 task/handle-retrofit-imu-reset
  config/gen/systemd.py
  src/doc/markdown/page70_hardware.md
  src/python/adafruit_BNO085/jaia_firm_bno085_reset_gpio_pin.py
Labels: task

#791 task/handle-data-offload-options
  config/gen/bot.py
  config/gen/systemd.py
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
Labels: task

#793 task/update-command-current-size
  src/lib/messages/jaia_dccl.proto
Labels: task

#783 Task/apt cacher
  config/ansible/ansible-liaison.cfg
  config/ansible/change-sources.yml
  config/ansible/install.yml
  config/ansible/tasks/check-deb-proxy.yml
  config/ansible/tasks/install-deb-proxy.yml
  config/ansible/tasks/install-jaiabot.yml
  config/ansible/tasks/prefetch-python.yml
  config/ansible/tasks/read-debconf.yml
  config/ansible/upgrade-all.yml
  config/templates/hub/goby_liaison_prelaunch.pb.cfg.in
  scripts/bundle_update.sh
  src/doc/figures/alternative-updates.png
  src/doc/figures/offline-updates.png
  src/doc/markdown/page20_build.md
  src/lib/liaison/prelaunch/liaison_upgrade.cpp
  src/python/requirements.txt
  src/web/jcc.conf
Labels: task

#794 bug/rc-dive
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/RCControllerPanel.tsx
Labels: bug

#795 bug/imu-install-type-for-resetting
  config/gen/systemd.py
Labels: bug

#796 Task/fix apt cacher
  config/ansible/change-sources.yml
  config/ansible/tasks/read-debconf.yml
  config/templates/hub/goby_liaison_prelaunch.pb.cfg.in
Labels: task

#797 task/streamline-omp-using-constant-heading
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/MissionSettings.tsx
  src/web/command_control/client/components/PIDGainsPanel.tsx
  src/web/command_control/client/components/Settings.ts
  src/web/command_control/client/components/TaskSettingsPanel.tsx
  src/web/command_control/client/style/components/MissionSettings.css
  src/web/shared/JAIAProtobuf.ts
Labels: task

#765 feature/echo-driver
  config/gen/bot.py
  config/gen/systemd.py
  config/templates/bot/jaiabot_echo_driver.pb.cfg.in
  config/templates/systemd/echo-reset-gpio-pin.service.in
  src/bin/drivers/CMakeLists.txt
  src/bin/drivers/echo/CMakeLists.txt
  src/bin/drivers/echo/app.cpp
  src/bin/drivers/echo/config.proto
  src/bin/health/app.cpp
  src/bin/jaiabot_engineering/app.cpp
  src/lib/groups.h
  src/lib/messages/CMakeLists.txt
  src/lib/messages/echo.proto
  src/lib/messages/engineering.proto
  src/lib/messages/health.proto
  src/python/CMakeLists.txt
  src/python/echo/build_messages.sh
  src/python/echo/echo.py
  src/python/echo/jaia_firm_echo_reset_gpio_pin.py
  src/python/echo/jaiabot_echo.py
  src/web/jed/echo.css
  src/web/jed/echo.js
  src/web/jed/index.html
  src/web/jed/script.js
  src/web/shared/JAIAProtobuf.ts
Labels: feature

#745 feature/add-echo-task-option-in-jcc
  src/web/command_control/client/components/Settings.ts
  src/web/command_control/client/components/SurveyMission.ts
  src/web/command_control/client/components/TaskSettingsPanel.tsx
  src/web/shared/JAIAProtobuf.ts
  src/web/shared/Styles.ts
  src/web/shared/taskDiveEcho.svg
  src/web/shared/taskDriftEcho.svg
  src/web/shared/taskListen.svg
Labels: feature

#766 task/refactor-state-machine-to-create-pause-state
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/bin/simulator/config.proto
  src/bin/simulator/simulator.cpp
  src/doc/figures/mission-states.png
  src/lib/groups.h
  src/lib/messages/CMakeLists.txt
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/mission.proto
  src/lib/messages/simulator.proto
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Details.tsx
  src/web/shared/JAIAProtobuf.ts
Labels: task

#789 bug/undo-button
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/GoalSettings.tsx
  src/web/command_control/client/components/TaskSettingsPanel.tsx
Labels: bug
