Repository jaiarobotics/jaiabot, pull requests merged in 2024-03, with the labels that each got.

#807 1.9.z
  src/lib/comms/xbee/xbee.cpp
  src/web/command_control/client/components/PIDGainsPanel.tsx
  src/web/shared/CSVExport.ts
Labels: low risk merge

#735 task/web-apps-build-tree
  .gitignore
  CMakeLists.txt
  scripts/setup-tools-build-nodocker.sh
  scripts/test-setup-build/test-setup-build.sh
  scripts/test-setup-build/test-setup-web-run.sh
  src/python/CMakeLists.txt
  src/python/build_venv.sh
  src/python/pyjaia/build_messages.sh
  src/web/.gitignore
  src/web/CMakeLists.txt
  src/web/command_control/build.sh
  src/web/command_control/client/components/RCControllerPanel.tsx
  src/web/command_control/development.env
  src/web/command_control/production.env
  src/web/command_control/tsconfig.json
  src/web/command_control/webpack.config.js
  src/web/install_dependencies.sh
  src/web/jdv/CMakeLists.txt
  src/web/jdv/Makefile
  src/web/jdv/client/build.sh
  src/web/jdv/client/package.json
  src/web/jdv/client/release.webpack.config.js
  src/web/jdv/client/test.webpack.config.js
  src/web/jdv/client/tsconfig.json
  src/web/jdv/run.sh
  src/web/jdv/server/jaiabot_data_vision.py
  src/web/package.json
  src/web/run.sh
  src/web/server/app.py
Labels: task, high risk merge

#736 task/command-control-build-targets
  src/web/CMakeLists.txt
  src/web/command_control/build.sh
  src/web/jdv/CMakeLists.txt
  src/web/jdv/client/build.sh
Labels: task, high risk merge

#738 task/jed-use-webpack
  src/web/CMakeLists.txt
  src/web/jed/CMakeLists.txt
  src/web/jed/api.js
  src/web/jed/favicon.png
  src/web/jed/package.json
  src/web/jed/run.sh
  src/web/jed/script.js
  src/web/jed/webpack.config.js
  src/web/package.json
Labels: task, high risk merge

#737 task/add-custom-command-should-use-complete-list-of-depends
  src/web/CMakeLists.txt
  src/web/jdv/CMakeLists.txt
Labels: task, high risk merge

#811 feature/mission-panel-table-list-goals
  src/web/command_control/client/components/CommandControl.tsx
  src/web/command_control/client/components/Missions.tsx
  src/web/command_control/client/components/mission/MissionControllerPanel.tsx
  src/web/command_control/client/components/mission/RunItem.tsx
  src/web/command_control/client/components/mission/RunList.tsx
  src/web/command_control/client/components/mission/RunPanel.tsx
  src/web/command_control/client/style/components/RunItem.less
Labels: feature, low risk merge

#817 feature/add-bot-type-to-bot-status
  config/gen/bot.py
  config/gen/systemd.py
  config/launch/simulation/generate_all_launch.sh
  config/templates/bot/jaiabot_fusion.pb.cfg.in
  src/bin/fusion/config.proto
  src/bin/fusion/fusion.cpp
  src/lib/messages/jaia_dccl.proto
Labels: feature, low risk merge

#819 bug/take-control-button-behind-rc-panel
  src/web/jcc/client/style/CommandControl.less
Labels: bug

#813 feature/jdv-show-url
  src/python/.gitignore
  src/python/pyjaia/pyjaia/__init__.py
  src/python/pyjaia/pyjaia/utils.py
  src/web/jdv/run.sh
  src/web/jdv/server/jaiabot_data_vision.py
  src/web/jdv/server/jaialog_store.py
Labels: feature, low risk merge

#785 feature/bottom-dive-task-jcc
  src/lib/messages/mission.proto
  src/web/jcc/client/components/Settings.ts
  src/web/jcc/client/components/TaskSettingsPanel.tsx
  src/web/shared/JAIAProtobuf.ts
Labels: feature, low risk merge

#806 feature/no-forward-progress-state
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  config/templates/bot/jaiabot_simulator.pb.cfg.in
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/config.proto
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/bin/mission_manager/mission_manager.h
  src/bin/simulator/config.proto
  src/bin/simulator/simulator.cpp
  src/doc/figures/mission-states.png
  src/doc/markdown/page60_mission_management.md
  src/lib/messages/health.proto
  src/lib/messages/mission.proto
  src/lib/messages/simulator.proto
Labels: feature, high risk merge

#773 bug/update-docker-arm64-build-and-deploy-script
  CMakeLists.txt
  scripts/75-jaiabot-status
  scripts/arm64-deploy.sh
  scripts/clean-lib-directory.py
  scripts/docker-arm64-build-and-deploy.sh
  src/web/CMakeLists.txt
Labels: bug, low risk merge

#822 bug/watchdog-version-mismatch
  src/python/requirements.txt
Labels: bug
