Repository jaiarobotics/jaiabot, pull requests merged in 2024-07, with the labels that each got.

#917 bug/move-init-and-update-submodule-command-before-build
  build.sh
Labels: bug

#919 bug/jdv-map-headings-off
  src/web/jdv/client/src/JaiaMap.ts
  src/web/jdv/server/jaia_h5.py
Labels: bug

#907 bug/jdv-bot-wpts-not-appearing-jaia-1284
  src/python/pyjaia/pyjaia/series.py
  src/web/jdv/client/src/JaiaMap.ts
  src/web/jdv/client/src/LogApi.ts
  src/web/jdv/client/src/index.tsx
  src/web/jdv/server/jaia_h5.py
  src/web/jdv/server/jaiabot_data_vision.py
Labels: bug

#915 feature/collapse-expand-rc-panel-jaia-1256
  src/web/jcc/client/components/RCControllerPanel.tsx
Labels: feature

#909 task/round-corners-ol-buttons
  src/web/jcc/client/components/CommandControl/CommandControl.tsx
Labels: task

#914 task/remove-venv-when-removing-jaiabot-python-jaia-1281
  debian/jaiabot-python.postrm
Labels: task

#916 Parse ntpq for peer status code rather than waiting ntpstat
  config/templates/systemd/jaiabot.service.in
Labels: task, low risk merge

#922 task/remove-gps-outliers-from-jdv-map
  src/web/jdv/client/src/JaiaMap.ts
Labels: task

#926 Setup fixes for NVM install directory and submodule URL
  .gitmodules
  build.sh
  scripts/setup-tools-build-nodocker.sh
Labels: bug

#927 task/add-gps-outliers-to-jdv-map
  src/web/jdv/client/src/JaiaMap.ts
Labels: task

#908 bug/editing-task-packet-time-not-updating-contour-or-drift-interp-jaia-1286
  src/web/jcc/client/components/CommandControl/CommandControl.tsx
  src/web/jcc/client/components/TaskPackets.tsx
  src/web/jcc/common/JaiaAPI.ts
  src/web/shared/Contours.ts
Labels: bug

#930 task/update-first-boot-config
  rootfs/customization/includes.chroot/etc/jaiabot/init/first-boot.preseed.ex
Labels: task

#896 Task/hub yubikey/jaia-68
  .circleci/config.yml
  config/ansible/cloud-check-virtualfleet-state.yml
  config/ansible/cloud-manage-virtualfleet.yml
  config/ansible/cloud/check-virtualfleet-state.yml
  config/ansible/cloud/create-virtualfleet.yml
  config/ansible/cloud/fleet-config.yml
  config/ansible/cloud/manage-virtualfleet.yml
  config/ansible/cloud/tasks/check-state.yml
  config/ansible/cloud/tasks/gen-node-map.yml
  config/ansible/cloud/tasks/instance-state.yml
  config/ansible/cloud/tasks/read-env.yml
  config/ansible/cloud/tasks/read-ip-addresses.yml
  config/ansible/cloud/tasks/run-fleet-config.yml
  config/ansible/cloud/tasks/vfleet-vpn-setup.yml
  config/ansible/cloud/tasks/wait-hosts.yml
  config/ansible/cloud/tasks/write-etc-hosts.yml
  config/ansible/cloud/templates/cloud_vfleet_user_data.sh.j2
  config/ansible/cloud/templates/wireguard_client.conf.j2
  config/ansible/cloud/templates/wireguard_peer.j2
  config/ansible/cloud/update-vfleet.yml
  config/ansible/cloud/vfleet-nodes-to-preseed.py
  config/ansible/fleet/configure-additional-bot.yml
  config/ansible/fleet/configure-additional-hub.yml
  config/ansible/fleet/customer-pair-new-bot.yml
  config/ansible/fleet/customer-pair-new-hub.yml
  config/ansible/fleet/retrofit-ssh-config.yml
  config/ansible/fleet/ssh-copy-hub-keys.yml
  config/ansible/fleet/ssh-create-hub-keys.yml
  config/ansible/fleet/ssh-update-hubs.yml
  config/ansible/fleet/tasks/append-hub-pubkey-to-bot-authorized_keys.yml
  config/ansible/fleet/tasks/bot-copy-yubikey.yml
  config/ansible/fleet/tasks/bot-write-pubkey-from-hostvars.yml
  config/ansible/fleet/tasks/check-yubikey-files.yml
  config/ansible/fleet/tasks/copy-yubikey.yml
  config/ansible/fleet/tasks/hub-add-known-host.yml
  config/ansible/fleet/tasks/set-facts.yml
  config/ansible/fleet/tasks/set-jaiabot-ssh-perms.yml
  config/ansible/reboot-all.yml
  config/fleet/fleet-config.sh
  config/fleet/include/tasks.sh
  config/gen/hub.py
  config/templates/hub/_liaison_prelaunch_vfleet_playbooks.pb.cfg.in
  rootfs/cloud/aws/cloud-init-user-data.sh.in
  rootfs/customization/hooks/10-enable-authorized-users.chroot
  rootfs/customization/includes.chroot/etc/jaiabot/ssh/root_authorized_keys
  rootfs/customization/includes.chroot/etc/resolv.conf
  rootfs/customization/includes.chroot/etc/ssh/sshd_config.d/jaia_sshd.conf
  rootfs/customization/includes.chroot/etc/udev/rules.d/70-jaiabot_yubikey.rules
  rootfs/customization/package-lists/core.list.chroot
  rootfs/scripts/includes/import_utils.sh
  src/doc/figures/jaia-ssh-use-cases.png
Labels: task, high risk merge

#924 task/move-data-offload-button-to-top-toolbar
  src/web/jcc/client/components/CommandControl/CommandControl.tsx
  src/web/jcc/client/components/DownloadPanel.tsx
Labels: task

#932 bug/docker-deploy-script-jaia-1509
  scripts/docker-arm64-build-and-deploy.sh
  scripts/docker-build-build-system.sh
Labels: bug

#934 tasks / Support updating root yubikeys and security labels on PRs
  .github/labeler.yml
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
  CMakeLists.txt
  debian/jaiabot-embedded.install
Labels: task, low risk merge, debian, github-actions

#936 bug/jdv-crashed-when-loading-groups
  src/bin/tool/actions/admin/ssh.cpp
  src/bin/tool/actions/admin/ssh.h
  src/bin/tool/actions/admin/ssh/add.h
  src/bin/tool/actions/admin/ssh/clear.h
  src/bin/tool/actions/admin/ssh/list.h
  src/bin/tool/actions/admin/ssh/rm.h
  src/bin/tool/jaia_tool.cpp
  src/python/pyjaia/pyjaia/series.py
  src/web/jcc/client/components/CommandControl/CommandControl.tsx
  src/web/jcc/client/components/TaskPackets.tsx
  src/web/jcc/common/JaiaAPI.ts
  src/web/jdv/client/src/JaiaMap.ts
  src/web/jdv/client/src/OpenPlotSet.tsx
  src/web/jdv/client/src/index.tsx
  src/web/jdv/server/jaia_h5.py
  src/web/jdv/server/jaialog_store.py
  src/web/shared/Contours.ts
Labels: bug

#937 bug/jdv-zoom-on-vertical-axis-jaia-1513
  src/web/jdv/client/src/index.tsx
Labels: bug
