Repository jaiarobotics/jaiabot, pull requests merged in 2024-04, with the labels that each got.

#824 feature/remove-sending-mission-limitation
  src/web/jcc/client/components/Details.tsx
  src/web/shared/CustomAlert.tsx
Labels: feature, low risk merge

#830 task/accordion-toolbar-update
  src/web/jcc/client/components/Details.tsx
  src/web/jcc/client/style/CommandControl.less
  src/web/jcc/client/style/components/RunItem.less
Labels: task, low risk merge

#826 bug/spurious-depth
  src/web/jdv/server/jaialog_store.py
Labels: bug

#614 feature/create-a-robust-wave-simulator
  config/gen/bot.py
  config/gen/common/udp.py
  config/launch/simulation/bot.launch
  config/preseed.goby
  config/templates/bot/jaiabot_adafruit_BNO055_driver.pb.cfg.in
  config/templates/bot/jaiabot_adafruit_BNO085_driver.pb.cfg.in
  config/templates/bot/jaiabot_imu.py.pb.cfg.in
  src/bin/mission_manager/app.cpp
  src/bin/simulator/simulator.cpp
  src/python/adafruit_BNO055/imu.py
  src/python/adafruit_BNO055/jaiabot_imu.py
  src/python/adafruit_BNO055/processing.py
  src/python/adafruit_BNO055/series.py
  src/python/adafruit_BNO055/waves.py
Labels: feature, low risk merge

#805 task/create-script-to-detect-bots-not-moving-in-transit
  scripts/log-analysis/false_dive.py
  scripts/log-analysis/false_transit.py
Labels: task, low risk merge

#827 feature/add-edit-mode-to-wpt-settings-menu
  src/web/jcc/client/components/CommandControl.tsx
  src/web/jcc/client/components/GoalSettings.tsx
Labels: feature, low risk merge

#632 Intervehicle API version
  .circleci/config.yml
  CMakeLists.txt
  cmake/CheckDCCLHASH.cmake
  config/templates/hub/_liaison_load.pb.cfg.in
  src/bin/fusion/fusion.cpp
  src/bin/hub_manager/hub_manager.cpp
  src/bin/jaiabot_engineering/app.cpp
  src/bin/jaiabot_metadata/app.cpp
  src/bin/mission_manager/app.cpp
  src/bin/web_portal/app.cpp
  src/lib/comms/comms.h
  src/lib/groups.h
  src/lib/intervehicle.h
  src/lib/messages/CMakeLists.txt
  src/lib/messages/health.proto
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/metadata.proto
  src/lib/version.h
Labels: feature, high risk merge

#835 bug/bot-type-should-be-optional-field
  CMakeLists.txt
  src/lib/messages/CMakeLists.txt
  src/lib/messages/jaia_dccl.proto
Labels: bug

#836 bug/missing-dependency-dccl4-apps
  scripts/setup-tools-build-nodocker.sh
Labels: bug

#839 bug/jdv-not-loading-logs
  src/web/jdv/server/jaia_h5.py
  src/web/jdv/server/log_conversion.py
Labels: bug

#832 bug/nproc-in-build-script
  README.md
  build.sh
Labels: bug

#834 task/button-icon-OMP-on-left-side-toolbar
  src/web/jcc/client/components/CommandControl.tsx
  src/web/jcc/client/components/HelpWindow.tsx
Labels: task, low risk merge

#842 bug/after-performing-a-task-mission-manager-breaks
  src/bin/mission_manager/machine.cpp
Labels: bug

#844 task/hide-echo-field-if-not-bots-are-echos
  src/web/jcc/client/components/CommandControl.tsx
  src/web/jcc/client/components/GoalSettings.tsx
  src/web/jcc/client/components/MissionSettings.tsx
  src/web/jcc/client/components/TaskSettingsPanel.tsx
  src/web/shared/JAIAProtobuf.ts
Labels: task

#731 Feature/aws cloud
  .circleci/config.yml
  CMakeLists.txt
  config/ansible/change-sources.yml
  config/ansible/cloud-check-virtualfleet-state.yml
  config/ansible/cloud-create-virtualfleet.yml
  config/ansible/cloud-fleet-config.yml
  config/ansible/cloud-manage-virtualfleet.yml
  config/ansible/cloud-update-vfleet.yml
  config/ansible/cloud-vfleet-nodes-to-preseed.py
  config/ansible/restart-jaiabot-services.yml
  config/ansible/tasks/cloud-check-state.yml
  config/ansible/tasks/cloud-gen-node-map.yml
  config/ansible/tasks/cloud-instance-state.yml
  config/ansible/tasks/cloud-read-env.yml
  config/ansible/tasks/cloud-read-ip-addresses.yml
  config/ansible/tasks/cloud-run-fleet-config.yml
  config/ansible/tasks/cloud-vfleet-vpn-setup.yml
  config/ansible/tasks/cloud-wait-hosts.yml
  config/ansible/tasks/cloud-write-etc-hosts.yml
  config/ansible/tasks/restart-jaiabot.yml
  config/ansible/templates/cloud_vfleet_user_data.sh.j2
  config/ansible/templates/wireguard_client.conf.j2
  config/ansible/templates/wireguard_peer.j2
  config/fleet/fleet-config.preseed.ex
  config/fleet/fleet-config.sh
  config/fleet/include/setup_updates.sh
  config/fleet/include/tasks.sh
  config/fleet/include/wt_tools.sh
  config/gen/bot.py
  config/gen/common/__init__.py
  config/gen/common/comms.py
  config/gen/hub.py
  config/gen/systemd.py
  config/templates/goby_liaison.pb.cfg.in
  config/templates/hub/_liaison_prelaunch_vfleet_playbooks.pb.cfg.in
  config/templates/hub/goby_liaison_prelaunch.pb.cfg.in
  config/templates/hub/jaiabot_hub_manager.pb.cfg.in
  config/templates/hub/jaiabot_web_portal.pb.cfg.in
  scripts/jaiabot-software-group.sh
  scripts/jaiabot-update-packages.sh
  scripts/jaiabot-version-status.sh
  scripts/jaiahub-dataoffload-cloudhub.sh
  src/bin/hub_manager/config.proto
  src/bin/hub_manager/hub_manager.cpp
  src/doc/figures/ci-cloud.png
  src/doc/figures/jaia-fleet-in-the-cloud.png
  src/doc/markdown/page56_cloud.md
  src/lib/liaison/prelaunch/config.proto
  src/lib/liaison/prelaunch/liaison_upgrade.cpp
  src/lib/liaison/prelaunch/liaison_upgrade.h
  src/web/server/app.py
  src/web/server/app.wsgi
  src/web/server/jaia_portal.py
Labels: feature, low risk merge

#846 bug/echo-services-systemd
  config/gen/bot.py
  config/gen/systemd.py
Labels: bug

#848 bug/bot-is-logging-jcc
  src/web/jcc/client/components/Details.tsx
Labels: bug

#849 bug/bot-details-should-not-close-when-toggling-edit
  src/web/jcc/client/components/CommandControl.tsx
Labels: bug

#825 feature/add-angular-output-for-imu
  config/gen/systemd.py
  config/launch/imu-test/bot.launch
  src/doc/markdown/page80_timing.md
  src/doc/markdown/page82_timing_health_updates.md
  src/lib/messages/imu.proto
  src/python/CMakeLists.txt
  src/python/adafruit/.gitignore
  src/python/adafruit/adafruit_bno055.py
  src/python/adafruit/analyze.py
  src/python/adafruit/build_messages.sh
  src/python/adafruit/filters.py
  src/python/adafruit/imu.py
  src/python/adafruit/imu_bno055.py
  src/python/adafruit/imu_bno085.py
  src/python/adafruit/imu_simulator.py
  src/python/adafruit/jaia_firm_bno085_reset_gpio_pin.py
  src/python/adafruit/jaiabot_imu.py
  src/python/adafruit/orientation.py
  src/python/adafruit/processing.py
  src/python/adafruit/quaternion.py
  src/python/adafruit/series.py
  src/python/adafruit/style.css
  src/python/adafruit/test.sh
  src/python/adafruit/vector3.py
  src/python/adafruit/waves.md
  src/python/adafruit/waves.py
  src/python/adafruit_BNO055/imu.py
  src/python/adafruit_BNO055/processing.py
  src/python/adafruit_BNO055/waves.py
  src/python/adafruit_BNO085/analyze.py
  src/python/adafruit_BNO085/filters.py
  src/python/adafruit_BNO085/jaiabot_imu.py
  src/python/adafruit_BNO085/orientation.py
  src/python/adafruit_BNO085/quaternion.py
  src/python/adafruit_BNO085/series.py
  src/python/adafruit_BNO085/style.css
  src/python/adafruit_BNO085/vector3.py
  src/python/adafruit_BNO085/waves.md
Labels: feature, high risk merge

#850 task/button-icons-right-button-toolbar
  src/web/jcc/client/components/CommandControl.tsx
Labels: task

#845 feature/show-bot-path
  src/web/jcc/client/components/CommandControl.tsx
  src/web/jcc/client/components/Layers.ts
  src/web/jcc/common/JaiaAPI.ts
  src/web/jdv/client/src/JaiaMap.ts
  src/web/server/app.py
  src/web/server/jaia_portal.py
  src/web/shared/BotPathColors.ts
Labels: feature
