Repository jaiarobotics/jaiabot, pull requests merged in 2024-10, with the labels that each got.

#981 bug/radio-not-entering-command-mode
  src/lib/comms/xbee/xbee.cpp
Labels: bug

#983 bug/botstatus-radio-connection-dropout
  config/gen/common/comms.py
  src/lib/comms/xbee/xbee.cpp
  src/lib/comms/xbee/xbee.h
  src/lib/comms/xbee/xbee_driver.cpp
  src/lib/messages/xbee_extensions.proto
Labels: bug

#985 bug/contour-map-holes-jaia-1717
  src/python/pyjaia/pyjaia/contours.py
  src/python/pyjaia/tests/test_contours.py
Labels: bug

#989 task/update-global-protobuf-extension-number
  src/lib/messages/option_extensions.proto
Labels: task, low risk merge

#980 task/add-table-of-contents-for-rest-api-doc-jaia-1706
  build.sh
  src/doc/markdown/page12_rest_api.py
Labels: task

#979 Remove unused imports in .protos
  src/bin/drivers/adafruit_BNO055/config.proto
  src/bin/drivers/adafruit_BNO085/config.proto
  src/bin/drivers/atlas_scientific_ezo_ec/config.proto
  src/bin/drivers/echo/config.proto
  src/bin/web_portal/config.proto
  src/lib/messages/echo.proto
  src/lib/messages/metadata.proto
  src/lib/messages/moos.proto
  src/lib/moos_gateway/jaiabot_gateway_config.proto
Labels: task, low risk merge

#969 feature/jdv-goby-conversion-directory-jaia-929
  src/web/jdv/server/log_conversion.py
Labels: feature

#982 task/add-web-client-id-to-goby-log-jaia-1705
  src/bin/web_portal/app.cpp
  src/lib/groups.h
  src/lib/messages/portal.proto
  src/web/server/jaia_portal.py
Labels: task

#974 task/add-description-of-datetime-in-rest-api-documentation-jaia-1704
  src/doc/markdown/page12_rest_api.py
  src/lib/comms/xbee/xbee.cpp
  src/lib/comms/xbee/xbee.h
  src/lib/comms/xbee/xbee_driver.cpp
  src/lib/messages/rest_api.proto
Labels: task

#973 bug/ip-incorrect-for-jdv-liaison-when-using-vpn-jaia-532
  src/web/containers/HubDetails.tsx
  src/web/shared/IPPrefix.ts
Labels: bug

#972 feature/jcc-cloud-distinction-JAIA-931
  src/web/jcc/client/components/CommandControl/CommandControl.less
  src/web/jcc/client/components/CommandControl/CommandControl.tsx
  src/web/jcc/client/style/util.less
  src/web/jcc/public/index.html
Labels: feature

#990 bug/salinity-calibration-high-low-jaia-1707
  src/python/atlas_scientific_ezo_ec/calibrate_atlas_oem.py
Labels: bug

#995 Task/add simulator docker container to circleci/jaia 1731
  .circleci/config.yml
  CMakeLists.txt
  cmake/ConfigureDockerfiles.cmake
  cmake/JaiaVersions.cmake
  cmake/ReadCommonVersions.cmake
  scripts/sim-docker/Dockerfile.in
  scripts/sim-docker/README.md
Labels: task, low risk merge, circleci

#994 task/install-doxygen-in-setup-tools-script/JAIA-1729
  scripts/setup-tools-build-nodocker.sh
Labels: task
