Repository jaiarobotics/jaiabot, pull requests merged in 2025-08, with the labels that each got.

#1291 task/2.y/add-back-skeleton-settings-panel/JAIA-2052
  src/web/components/ButtonList/ButtonList.tsx
  src/web/components/SettingsPanel/SettingsPanel.less
  src/web/components/SettingsPanel/SettingsPanel.tsx
  src/web/jcc/App.tsx
  src/web/types/context-types.ts
Labels: task, dev-friendly-jcc

#1293 task/2.y/make-button-sizes-uniform
  src/web/components/ActivateAllButton/ActivateAllButton.tsx
  src/web/components/ActivateButton/ActivateButton.tsx
  src/web/components/ButtonList/ButtonList.less
  src/web/components/ButtonList/ButtonList.tsx
  src/web/components/DataOfffloadAllButton/DataOffloadAllButton.tsx
  src/web/components/DataOffloadButton/DataOffloadButton.tsx
  src/web/components/DeleteMissionButton/DeleteMissionButton.tsx
  src/web/components/GoToRallyButton/GoToRallyButton.tsx
  src/web/components/NextTaskButton/NextTaskButton.tsx
  src/web/components/StartAllMissionsButton/StartAllMissionsButton.tsx
  src/web/components/StartMissionButton/StartMissionButton.tsx
  src/web/components/StopAllBots/StopAllBotsButton.tsx
  src/web/components/StopButton/StopButton.tsx
  src/web/components/SystemButton/SystemButton.tsx
  src/web/containers/MissionsPanel/MissionsList/MissionsList.tsx
  src/web/containers/MissionsPanel/MissionsPanel.tsx
  src/web/jcc/App.less
  src/web/style/stylesheets/button-list.less
  src/web/style/stylesheets/button.less
  src/web/types/context-types.ts
  src/web/utils/constants.ts
Labels: task

#1292 bug/2.y/target-waypoint-not-highlighted
  src/web/components/StartAllMissionsButton/StartAllMissionsButton.tsx
  src/web/components/StartMissionButton/StartMissionButton.tsx
  src/web/components/WaypointPanel/WaypointPanel.tsx
  src/web/context/JaiaContext.tsx
  src/web/context/jaia-actions.ts
Labels: bug, dev-friendly-jcc

#1294 task/2.y/add-back-reacquire-gps-icon
  src/web/containers/BotDetails/BotDetails.tsx
  src/web/openlayers/features/bot-feature.ts
  src/web/style/icons/satellite.svg
Labels: task

#1304 task/2.y/add-back-drift-icons
  src/web/components/Map/Map.tsx
  src/web/components/TaskPacketPanel/TaskPacketPanel.tsx
  src/web/context/JaiaContext.tsx
  src/web/jcc/index.tsx
  src/web/openlayers/features/dive-feature.ts
  src/web/openlayers/features/drift-feature.ts
  src/web/openlayers/layers/layers.ts
  src/web/openlayers/layers/vector/drift-layer.ts
  src/web/openlayers/layers/zindex.ts
  src/web/style/icons/drift-arrows/drift-arrow-1.svg
  src/web/style/icons/drift-arrows/drift-arrow-2.svg
  src/web/style/icons/drift-arrows/drift-arrow-3.svg
  src/web/style/icons/drift-arrows/drift-arrow-4.svg
  src/web/style/icons/drift-arrows/drift-arrow-5.svg
  src/web/style/icons/drift-arrows/drift-arrow-6.svg
  src/web/types/openlayers-types.ts
Labels: task, dev-friendly-jcc

#1308 bug/remove-square-when-no-nodes-connected
  src/web/containers/NodeList/NodeList.tsx
Labels: bug

#1161 feature/2.y/iridium/jaia-1972/jaia-2021
  CMakeLists.txt
  config/gen/bot.py
  config/gen/common/__init__.py
  config/gen/common/comms.py
  config/gen/hub.py
  config/gen/systemd.py
  config/launch/simulation/bot.launch
  config/launch/simulation/hub.launch
  config/launch/simulation/iridium/bot-sim.launch
  config/launch/simulation/iridium/hub-sim.launch
  config/templates/hub/goby_liaison_prelaunch.pb.cfg.in
  config/templates/hub/jaiabot_hub_manager.pb.cfg.in
  config/templates/link_iridium.pb.cfg.in
  config/templates/link_iridium_shore.pb.cfg.in
  debian/jaiabot-embedded.templates
  rootfs/cloud/aws/cloud-init-user-data.sh.in
  rootfs/cloud/aws/create_specialty_server.sh
  rootfs/cloud/aws/create_vpc.sh
  rootfs/cloud/aws/delete_specialty_server.sh
  rootfs/cloud/aws/includes/aws_run.sh
  rootfs/cloud/aws/iridium/iridium.conf
  rootfs/cloud/aws/iridium/user-data.sh.in
  rootfs/cloud/aws/iridium/user-data.yaml.in
  rootfs/cloud/aws/vpc.conf
  rootfs/customization/includes.chroot/etc/jaiabot/init/first-boot.preseed.yml.j2
  rootfs/customization/includes.chroot/etc/jaiabot/init/install-hub-ssh-keys.sh
  rootfs/customization/includes.chroot/etc/udev/rules.d/90-jaiabot_serial.rules
  scripts/fleet/jaia-create-fleet-config.sh
  scripts/fleet/jaia-generate-first-boot.py
  scripts/system/jaia_iridium_tunnel.sh
  src/bin/hub_manager/config.proto
  src/bin/hub_manager/hub_manager.cpp
  src/doc/figures/iridium-server.png
  src/doc/markdown/page50_communications.md
  src/doc/markdown/page56_cloud.md
  src/lib/comms/comms.h
  src/lib/messages/CMakeLists.txt
  src/lib/messages/fleet_config.proto
  src/lib/messages/link.proto
  src/lib/messages/link_config.proto
  src/test/comms/test.cpp
Labels: feature, debian, rootfs, systemd, circleci

#1257 bug/jdv-delete-jaia-1167
  scripts/setup-tools-runtime.sh
  src/web/jdv/client/src/LogSelector.tsx
Labels: bug

#1299 bug/2.y/Fix Documentation
  CMakeLists.txt
  scripts/jaia-doc.py
  scripts/setup-tools-build.sh
  src/doc/deployment/runtime_deployment.yml
  src/doc/deployment/simulation_deployment.yml
  src/doc/doxygen/jaiabot.doxy.in
  src/doc/markdown/page001_main.md
  src/doc/markdown/page005_jaia_tool.md
  src/doc/markdown/page010_architecture.md
  src/doc/markdown/page011_simulator.md
  src/doc/markdown/page012_rest_api.py
  src/doc/markdown/page013_ssh_keys.md
  src/doc/markdown/page014_sensors.md
  src/doc/markdown/page019_repository.md
  src/doc/markdown/page020_build.md
  src/doc/markdown/page025_embedded_setup.md
  src/doc/markdown/page030_configuration.md
  src/doc/markdown/page040_logging.md
  src/doc/markdown/page041_hdf5.md
  src/doc/markdown/page050_communications.md
  src/doc/markdown/page055_vpn.md
  src/doc/markdown/page056_cloud.md
  src/doc/markdown/page060_mission_management.md
  src/doc/markdown/page061_mission_repeater.md
  src/doc/markdown/page065_port_map.md
  src/doc/markdown/page070_hardware.md
  src/doc/markdown/page075_health.md
  src/doc/markdown/page076_battery_health.md
  src/doc/markdown/page080_timing.md
  src/doc/markdown/page081_timing_command.md
  src/doc/markdown/page082_timing_health_updates.md
  src/doc/markdown/page090_updating_software.md
  src/doc/markdown/page091_major_upgrade.md
  src/doc/markdown/page111_developing_with_react_context.md
  src/doc/markdown/page121_using_simulator_docker.md
Labels: bug, low risk merge

#1267 feature/xbee-simulator-jaia-2019
  .gitignore
  config/gen/bot.py
  config/gen/common/hub.py
  config/gen/hub.py
  config/launch/simulation/generate_all_launch.sh
  config/launch/simulation/hub.launch
  config/launch/simulation/preseed.goby
  config/launch/simulation/world_sim.launch
  config/templates/link_xbee.pb.cfg.in
  rootfs/customization/includes.chroot/etc/jaiabot/init/jaia-create-ansible-inventory.sh
  src/lib/comms/xbee/xbee_driver.cpp
  src/lib/messages/xbee_extensions.proto
  src/python/requirements.txt
  src/python/xbee_simulator/jaiasim_xbee.py
  src/python/xbee_simulator/sxbee_network.py
  src/python/xbee_simulator/sxbee_radio.py
  src/python/xbee_simulator/sxbee_server.py
  src/python/xbee_simulator/sxbee_test.py
  src/python/xbee_simulator/vserial.py
Labels: feature, low risk merge, rootfs

#1315 feature/sentinel-app
  src/lib/messages/CMakeLists.txt
  src/lib/messages/sentinel.proto
  src/python/sentinel/README.md
  src/python/sentinel/sentinel_app.py
  src/web/server/app.py
  src/web/server/jaia_portal.py
Labels: feature
