Repository jaiarobotics/jaiabot, pull requests merged in 2025-03, with the labels that each got.

#1094 task/configure-visible-panel-structure-to-integrate-new-code/JAIA-1876
  src/web/components/SideButtonList/SideButtonList.tsx
  src/web/components/TopButtonList/TopButtonList.tsx
  src/web/containers/CommandControl/CommandControl.tsx
  src/web/containers/CommandControl/__tests__/CommandControl.test.tsx
  src/web/containers/HubDetails/HubDetails.less
  src/web/containers/HubDetails/HubDetails.tsx
  src/web/containers/MissionsPanel/MissionsPanel.less
  src/web/containers/MissionsPanel/MissionsPanel.tsx
  src/web/containers/MissionsPanel/__tests__/MissionsPanel.test.tsx
  src/web/containers/NodeList/NodeList.less
  src/web/containers/NodeList/NodeList.tsx
  src/web/containers/NodeList/__tests__/NodeList.test.tsx
  src/web/context/Jaia/JaiaContext.tsx
  src/web/context/Jaia/jaia-actions.ts
  src/web/custom.d.ts
  src/web/data/missions/mission.ts
  src/web/jcc/App.less
  src/web/jcc/App.tsx
  src/web/jcc/index.tsx
  src/web/openlayers/features/bot-feature.ts
  src/web/openlayers/features/hub-feature.ts
  src/web/openlayers/features/waypoint-feature.ts
  src/web/style/openlayers/colors.ts
  src/web/style/openlayers/zindex.ts
  src/web/style/stylesheets/accordion.less
  src/web/style/stylesheets/button-list.less
  src/web/style/stylesheets/button.less
  src/web/style/stylesheets/buttons.less
  src/web/style/stylesheets/panel.less
  src/web/style/stylesheets/util.less
  src/web/types/context-types.ts
  src/web/webpack.config.js
Labels: task, dev-friendly-jcc

#1095 task/clean-up-command-sending-code/JAIA-1843
  src/web/components/DataOffloadButton/DataOffloadButton.tsx
  src/web/components/StopButton/StopButton.tsx
  src/web/containers/BotDetails/BotDetails.tsx
  src/web/containers/BotDetails/bot-details.ts
  src/web/containers/CommandControl/CommandControl.tsx
  src/web/containers/CommandControl/__tests__/CommandControl.test.tsx
  src/web/containers/HubDetails/HubDetails.tsx
  src/web/context/Jaia/JaiaContext.tsx
  src/web/context/Jaia/jaia-actions.ts
  src/web/types/commands.ts
  src/web/utils/command.ts
  src/web/utils/commands.ts
  src/web/utils/constants.ts
Labels: task, dev-friendly-jcc

#1100 bug/systemd-echo-config-incorrect/JAIA-1909
  config/gen/systemd.py
Labels: bug, systemd

#1099 task/pressure-read-function-review/JAIA-1864
  src/python/pressure_sensor/jaiabot_pressure_sensor.py
Labels: task

#1102 Workaround graphviz bug
  CMakeLists.txt
Labels: bug, circleci

#1085 Task/streaming log output on JCU/JAIA-1882
  config/ansible/ansible-liaison.cfg
  config/ansible/callback_plugins/jaia_json_file.py
  config/gen/hub.py
  config/templates/hub/_liaison_prelaunch_vfleet_playbooks.pb.cfg.in
  config/templates/hub/goby_liaison_prelaunch.pb.cfg.in
  src/lib/liaison/prelaunch/config.proto
  src/lib/liaison/prelaunch/liaison_upgrade.cpp
  src/lib/liaison/prelaunch/liaison_upgrade.h
Labels: task, circleci

#1108 Bug/2.y ami name cannot contain tilde
  .circleci/config.yml
Labels: bug, circleci

#1106 Fix jaia_json_file.py run for playbooks in child directory of config/ansible
  config/ansible/cloud/callback_plugins
  config/ansible/fleet/callback_plugins
  config/ansible/major_upgrade/callback_plugins
Labels: bug, low risk merge

#1113 Task/2.y/merge 1.y
  config/ansible/major_upgrade/major-upgrade.yml
  config/ansible/major_upgrade/tasks/copy-fleet-config.yml
  config/ansible/major_upgrade/templates/do-major-upgrade.sh.j2
  config/ansible/reboot-hubs.yml
  config/templates/hub/goby_liaison_prelaunch.pb.cfg.in
  debian/jaiabot-web.install
  src/lib/liaison/prelaunch/CMakeLists.txt
  src/lib/liaison/prelaunch/config.proto
  src/lib/liaison/prelaunch/liaison_upgrade.cpp
  src/lib/liaison/prelaunch/reboot-check/index.html
  src/lib/liaison/prelaunch/reboot-check/liaison.css
  src/web/jcc.conf
Labels: task, low risk merge, debian

#1112 Bug/2.y/new firmware wrong uart numbers
  rootfs/customization/includes.chroot/etc/udev/rules.d/90-jaiabot_serial.rules
Labels: bug, rootfs

#1114 bug/1.y/throttle download for major_upgrade
  config/ansible/major_upgrade/tasks/get-new-filesystems.yml
Labels: bug

#1115 bug/1.y/Remove known hosts on major upgrade
  config/ansible/major_upgrade/major-upgrade.yml
Labels: bug

#1118 task/1.y/Increase number of fleets to 250
  debian/jaiabot-embedded.templates
  scripts/fleet/jaia-create-fleet-config.sh
Labels: task, debian

#1117 task/2.y/Remove old fleet config
  config/fleet/fleet-config.preseed.ex
  config/fleet/fleet-config.sh
  config/fleet/include/setup_updates.sh
  config/fleet/include/tasks.sh
  config/fleet/include/wt_tools.sh
Labels: task
