Repository jaiarobotics/jaiabot, pull requests merged in 2025-01, with the labels that each got.

#1003 task/Make vpn.jaia.tech and packages.jaia.tech use similar SSH authentication with temporary keys as hubs and bots/jaia-1725
  src/bin/tool/actions/common.h
  src/doc/markdown/page05_jaia_tool.md
  src/doc/markdown/page13_ssh_keys.md
Labels: task

#1045 task/decrease-max-depth-and-max-hold-time
  cmake/JaiaVersions.cmake
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/bin/mission_manager/config.proto
  src/lib/messages/CMakeLists.txt
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/mission.proto
  src/web/containers/TaskSettingsPanel/TaskSettingsPanel.tsx
Labels: task

#996 bug/bot-will-hold-on-ocean-floor-jaia-1733
  src/bin/mission_manager/machine.h
  src/bin/pid_control/app.cpp
  src/bin/pid_control/app.h
Labels: bug

#975 Fix upload of large files to CloudHub s3fs (/var/log/jaiabot/bot_offload)
  rootfs/cloud/aws/cloud-init-user-data.sh.in
  rootfs/customization/includes.chroot/etc/fstab
  rootfs/scripts/create_raspi_base_image.sh
Labels: feature, low risk merge, rootfs

#1047 Bug/docker sim ci builds fail on tags/jaia 1805
  .circleci/config.yml
Labels: bug, circleci

#1048 task/define-typescript-classes-to-represent-data-model
  src/web/data/bots/bot-sensors.ts
  src/web/data/bots/bot.ts
  src/web/data/bots/bots.ts
  src/web/data/hubs/hub-sensors.ts
  src/web/data/hubs/hub.ts
  src/web/data/hubs/hubs.ts
  src/web/data/missions/__tests__/mission.test.ts
  src/web/data/missions/__tests__/missions.test.ts
  src/web/data/missions/mission.ts
  src/web/data/missions/missions.ts
  src/web/data/sensors/conductivity.ts
  src/web/data/sensors/gps.ts
  src/web/data/sensors/imu.ts
  src/web/data/sensors/pressure.ts
  src/web/data/sensors/temperature.ts
  src/web/data/task_packets/task-packets-new.ts
  src/web/data/tasks/parameters/constant-heading-parameters.ts
  src/web/data/tasks/parameters/dive-parameters.ts
  src/web/data/tasks/parameters/drift-parameters.ts
  src/web/data/tasks/parameters/station-keep-parameters.ts
  src/web/data/tasks/task.ts
  src/web/data/tests/__mocks__/mission-mock.ts
  src/web/data/tests/__mocks__/task-mock.ts
  src/web/data/tests/__mocks__/waypoint-mock.ts
  src/web/data/tests/index.ts
  src/web/data/waypoints/waypoint.ts
  src/web/package-lock.json
  src/web/package.json.in
  src/web/tsconfig.json
  src/web/types/jaia-system-types.ts
  src/web/utils/protobuf-types.ts
Labels: task, dev-friendly-jcc

#1051 Debconf queries with reasonable defaults should be medium priority
  debian/jaiabot-embedded.config
Labels: bug, debian

#1056 bug/broken-link-to-simulation-setup
  README.md
  src/doc/markdown/page01_main.md
  src/doc/markdown/page20_build.md
Labels: bug

#1050 task/use-react-context-to-store-mission-data
  src/web/context/Bot/BotContext.tsx
  src/web/context/Global/GlobalContext.tsx
  src/web/context/Hub/HubContext.tsx
  src/web/context/Mission/MissionContext.tsx
  src/web/context/Mission/mission-action.ts
  src/web/jcc/App.tsx
Labels: task, dev-friendly-jcc

#1058 task/combine-contexts-for-simplicity/JAIA-1831
  src/web/containers/HubDetails/HubDetails.tsx
  src/web/context/Bot/BotContext.tsx
  src/web/context/Bot/bot-actions.ts
  src/web/context/Hub/HubActions.ts
  src/web/context/Hub/HubContext.tsx
  src/web/context/JaiaSystem/JaiaSystemContext.tsx
  src/web/context/JaiaSystem/jaia-system-actions.ts
  src/web/context/Mission/MissionContext.tsx
  src/web/context/Mission/mission-action.ts
  src/web/jcc/App.tsx
Labels: task, dev-friendly-jcc

#1063 bug/init-context-on-mount
  src/web/context/JaiaSystem/JaiaSystemContext.tsx
Labels: bug, dev-friendly-jcc

#1060 task/create-missions-manager/JAIA-1834
  src/web/data/bots/bot.ts
  src/web/data/missions/mission.ts
  src/web/data/missions_manager/__tests__/missions-manager.test.ts
  src/web/data/missions_manager/missions-manager.ts
Labels: task, dev-friendly-jcc

#955 REST API updates: add multiple hub support, update metadata, and allow multiple api keys with differing permission sets.
  config/gen/bot.py
  config/gen/hub.py
  config/templates/bot/jaiabot_metadata.pb.cfg.in
  config/templates/jaiabot_metadata.pb.cfg.in
  src/bin/hub_manager/hub_manager.cpp
  src/bin/metadata/app.cpp
  src/bin/metadata/config.proto
  src/bin/web_portal/app.cpp
  src/lib/messages/hub.proto
  src/lib/messages/metadata.proto
  src/lib/messages/option_extensions.proto
  src/lib/messages/rest_api.proto
  src/web/jcc.conf
  src/web/jdv/client/src/index.tsx
  src/web/rest_api/app.py
  src/web/rest_api/app.wsgi
  src/web/rest_api/common/endpoint_parse.py
  src/web/rest_api/common/shared_data.py
  src/web/rest_api/common/streaming_client.py
  src/web/rest_api/gen_api_key.py
  src/web/rest_api/run.sh
  src/web/rest_api/test/short_api_test.py
  src/web/rest_api/test/test.sh
  src/web/rest_api/v1/api.py
Labels: feature, low risk merge, circleci

#1019 Task/test app for repeatable missions/jaia 1759
  config/gen/bot.py
  config/templates/bot/jaiabot_mission_repeater.pb.cfg.in
  src/bin/CMakeLists.txt
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/mission_manager.h
  src/bin/mission_repeater/CMakeLists.txt
  src/bin/mission_repeater/config.proto
  src/bin/mission_repeater/mission_repeater.cpp
  src/bin/pid_control/app.cpp
  src/bin/pid_control/app.h
  src/doc/figures/mission-repeater-rudder.png
  src/doc/markdown/page61_mission_repeater.md
  src/lib/groups.h
  src/lib/messages/high_control.proto
Labels: task, high risk merge, circleci

#1065 Remove mindisk option as this leads to out of disk space on EC2
  .circleci/config.yml
  rootfs/cloud/aws/vpc.conf
  rootfs/scripts/create_raspi_base_image.sh
Labels: bug, rootfs, circleci

#1066 Bug/cloud overlayfs runs out of space
  .circleci/config.yml
  config/ansible/cloud/create-virtualfleet.yml
Labels: bug, circleci
