Repository jaiarobotics/jaiabot, pull requests merged in 2025-09, with the labels that each got.

#1319 feature/offline-maps
  .husky/_/.gitignore
  .husky/_/pre-commit
  config/launch/simulation/generate_all_launch.sh
  debian/control
  scripts/git-hooks/init/pre-commit/pre-commit
  scripts/setup-tools-runtime.sh
  src/doc/markdown/feature-custom_overlays.md
  src/web/containers/CommandControl/CommandControl.tsx
  src/web/containers/CommandControl/__tests__/CommandControl.test.tsx
  src/web/containers/HubMapPanel/HubMapDownloader.ts
  src/web/containers/HubMapPanel/HubMapPanel.less
  src/web/containers/HubMapPanel/HubMapPanel.tsx
  src/web/containers/SettingsPanel/SettingsPanel.tsx
  src/web/openlayers/map/layers/base-layers.ts
  src/web/openlayers/map/layers/chart-layers.ts
  src/web/openlayers/map/layers/geotiffs/CustomLayerRasterWorker.ts
  src/web/openlayers/map/layers/geotiffs/CustomLayerRasterWorkerPool.ts
  src/web/openlayers/map/layers/geotiffs/CustomLayers.ts
  src/web/openlayers/map/layers/layers.ts
  src/web/openlayers/map/layers/offline-layers.ts
  src/web/openlayers/map/layers/tile-db.ts
  src/web/openlayers/map/map.ts
  src/web/server/app.py
  src/web/server/geotiffs.py
  src/web/server/map_tile_server/__init__.py
  src/web/server/map_tile_server/geotiff.py
  src/web/server/map_tile_server/mime_types.py
  src/web/server/map_tile_server/utils.py
  src/web/shared/Layers.ts
  src/web/utils/jaia-api.ts
  src/web/webpack.config.js
Labels: feature, high risk merge, debian, release 2.1

#1313 task/2.y/add-back-hub-connection-error
  src/web/jcc/App.less
  src/web/jcc/App.tsx
  src/web/jcc/index.tsx
Labels: task, dev-friendly-jcc

#1329 Task/1.y/add checksum to major upgrade and fix no disk space bug
  config/ansible/major_upgrade/tasks/directory_creation.yml
  config/ansible/major_upgrade/tasks/get-new-filesystems.yml
  config/ansible/major_upgrade/templates/do-major-upgrade.sh.j2
Labels: task, circleci

#1332 bug/sim-bot-jump-last-wpt
  src/bin/mission_manager/machine.h
Labels: bug

#1334 Task/add jdv documentation
  src/doc/markdown/page120_working_with_jaia_software.md
  src/web/jdv/README.md
Labels: task
