Repository jaiarobotics/jaiabot, pull requests merged in 2025-06, with the labels that each got.

#1186 task/increase-number-of-wpts
  config/templates/bot/jaiabot_mission_manager.pb.cfg.in
  src/lib/messages/CMakeLists.txt
  src/lib/messages/jaia_dccl.proto
  src/lib/messages/mission.proto
  src/web/containers/CommandControl/CommandControl.tsx
Labels: task, circleci

#1202 task/add-back-jaia-button
  src/web/components/ButtonList/ButtonList.tsx
  src/web/components/JaiaAbout/JaiaAbout.less
  src/web/components/JaiaAbout/JaiaAbout.tsx
  src/web/components/SideButtonList/SideButtonList.tsx
  src/web/components/TopButtonList/TopButtonList.tsx
  src/web/containers/BotDetails/BotDetails.tsx
  src/web/containers/MissionsPanel/__tests__/MissionsPanel.test.tsx
  src/web/context/JaiaContext.tsx
  src/web/jcc/App.tsx
  src/web/style/icons/jaia-logo.svg
  src/web/style/stylesheets/button-list.less
  src/web/types/context-types.ts
  src/web/types/jaia-system-types.ts
Labels: task, dev-friendly-jcc

#1212 bug/add-remainder-to-survey-tool
  scripts/setup-tools-runtime.sh
  src/bin/drivers/atlas_scientific_ezo_ec/app.cpp
  src/bin/fusion/fusion.cpp
  src/bin/mission_manager/app.cpp
  src/bin/sensors/drivers/atlas_scientific__oem_do.cpp
  src/bin/sensors/drivers/atlas_scientific__oem_ec.cpp
  src/bin/sensors/drivers/atlas_scientific__oem_ph.cpp
  src/bin/sensors/drivers/turner__c_fluor.cpp
  src/lib/groups.h
  src/lib/utils/specific_conductivity.h
  src/test/utils/test.cpp
  src/web/containers/CommandControl/CommandControl.tsx
  src/web/containers/MissionSettingsPanel/MissionSettingsPanel.tsx
  src/web/missions/survey/survey-lines.ts
  src/web/missions/survey/survey-mission.ts
Labels: bug

#1207 task/make-lat-lon-coordinates-editable/JAIA-1963
  src/web/components/TaskParameters/TaskParameters.less
  src/web/components/TaskParameters/TaskParameters.tsx
  src/web/components/WaypointPanel/WaypointPanel.less
  src/web/components/WaypointPanel/WaypointPanel.tsx
  src/web/context/JaiaContext.tsx
  src/web/context/jaia-actions.ts
  src/web/data/missions/mission.ts
  src/web/data/waypoints/waypoint.ts
  src/web/style/stylesheets/input.less
  src/web/style/stylesheets/util.less
  src/web/types/jaia-system-types.ts
  src/web/utils/__tests__/input.test.ts
  src/web/utils/constants.ts
  src/web/utils/input.ts
Labels: task, dev-friendly-jcc

#1211 task/add-back-mission-speed-sliders/JAIA-1981
  src/web/components/MissionSpeedSliders/MissionSpeedSliders.less
  src/web/components/MissionSpeedSliders/MissionSpeedSliders.tsx
  src/web/components/MissionSpeedSliders/__tests__/MissionSpeedSliders.test.tsx
  src/web/containers/MissionsPanel/MissionsPanel.tsx
  src/web/context/JaiaContext.tsx
  src/web/context/jaia-actions.ts
  src/web/data/missions/mission.ts
  src/web/data/missions/missions.ts
  src/web/utils/constants.ts
Labels: task, dev-friendly-jcc

#1216 feature/z-axis-60
  src/web/containers/DepthContourPlot3D/DepthContourPlot3D.tsx
Labels: feature

#1217 task/auto-scroll-accordions
  src/web/containers/BotDetails/BotDetails.tsx
  src/web/containers/HubDetails/HubDetails.tsx
  src/web/containers/LayerSwitcherMenu/__tests__/LayerSwitcherMenu.test.tsx
  src/web/containers/MissionsPanel/MissionsList/MissionsList.less
  src/web/containers/MissionsPanel/MissionsList/MissionsList.tsx
  src/web/containers/MissionsPanel/MissionsList/__tests__/MissionsList.test.tsx
  src/web/containers/MissionsPanel/MissionsPanel.less
  src/web/containers/MissionsPanel/MissionsPanel.tsx
  src/web/openlayers/features/waypoint-feature.ts
  src/web/utils/constants.ts
  src/web/utils/style.ts
Labels: task, dev-friendly-jcc

#1214 task/add-back-tap-to-move/JAIA-1983
  src/web/components/ButtonList/ButtonList.tsx
  src/web/components/Map/Map.tsx
  src/web/components/WaypointPanel/WaypointPanel.less
  src/web/components/WaypointPanel/WaypointPanel.tsx
  src/web/context/JaiaContext.tsx
  src/web/context/jaia-actions.ts
  src/web/data/missions/mission.ts
  src/web/data/waypoints/waypoint.ts
  src/web/utils/comparisons.ts
Labels: task, dev-friendly-jcc

#1226 Added .gitignore for husky
  .husky/_/.gitignore
Labels: bug

#1222 task/highlight-target-waypoint
  src/web/components/Map/__tests__/Map.test.tsx
  src/web/components/StartAllMissionsButton/StartAllMissionsButton.tsx
  src/web/components/StartMissionButton/StartMissionButton.tsx
  src/web/containers/BotDetails/BotDetails.tsx
  src/web/containers/BotDetails/bot-details.ts
  src/web/context/JaiaContext.tsx
  src/web/context/jaia-actions.ts
  src/web/data/bots/bots.ts
  src/web/jcc/index.tsx
  src/web/openlayers/features/waypoint-feature.ts
  src/web/style/openlayers/colors.ts
  src/web/style/stylesheets/details.less
  src/web/types/jaia-system-types.ts
  src/web/utils/commands.ts
Labels: task, dev-friendly-jcc

#1228 bug/2.y/docker-on-dev-not-needed
  scripts/setup-tools-build-nodocker.sh
  scripts/setup-tools-build.sh
Labels: bug

#1135 task/2.y/yubikey
  scripts/fleet/jaia-create-fleet-config.sh
Labels: task, high risk merge, circleci

#1163 feature/2.y/jaia-simulator-starter-stopper-gui
  scripts/sim-docker/jaia-sim-launcher-gui/README.md
  scripts/sim-docker/jaia-sim-launcher-gui/jaia_simulator_launcher.py
  scripts/sim-docker/jaia-sim-launcher-gui/jaia_simulator_stop.py
  scripts/sim-docker/jaia-sim-launcher-gui/mac/JaiaSimulatorLauncher.app/Contents/Info.plist
  scripts/sim-docker/jaia-sim-launcher-gui/mac/JaiaSimulatorLauncher.app/Contents/MacOS/JaiaSimulatorLauncher
  scripts/sim-docker/jaia-sim-launcher-gui/mac/JaiaSimulatorLauncher.app/Contents/Resources/icon-windowed.icns
  scripts/sim-docker/jaia-sim-launcher-gui/mac/JaiaSimulatorLauncher.app/Contents/_CodeSignature/CodeResources
  scripts/sim-docker/jaia-sim-launcher-gui/mac/JaiaSimulatorStopper.app/Contents/Info.plist
  scripts/sim-docker/jaia-sim-launcher-gui/mac/JaiaSimulatorStopper.app/Contents/MacOS/JaiaSimulatorStopper
  scripts/sim-docker/jaia-sim-launcher-gui/mac/JaiaSimulatorStopper.app/Contents/Resources/icon-windowed.icns
  scripts/sim-docker/jaia-sim-launcher-gui/mac/JaiaSimulatorStopper.app/Contents/_CodeSignature/CodeResources
  scripts/sim-docker/jaia-sim-launcher-gui/simulator_progress.py
  scripts/sim-docker/jaia-sim-launcher-gui/windows/JaiaSimulatorLauncher.exe
  scripts/sim-docker/jaia-sim-launcher-gui/windows/JaiaSimulatorStopper.exe
Labels: feature

#1238 bug/bookworm-image-compress
  .circleci/config.yml
Labels: bug, circleci

#1230 feature/updating-instructions-simulator
  src/doc/markdown/page120_working_with_jaia_software.md
Labels: feature

#1225 task/add-back-take-control
  src/web/components/ActivateButton/ActivateButton.tsx
  src/web/components/ActivateButton/ActivateDialog.tsx
  src/web/components/ActivateButton/__tests__/ActivateButton.test.tsx
  src/web/components/TakeControlDialog/TakeControl.less
  src/web/components/TakeControlDialog/TakeControlDialog.tsx
  src/web/types/context-types.ts
  src/web/utils/commands.ts
Labels: task, dev-friendly-jcc

#1239 task/2.y/document-imu-jaia-1975
  src/python/adafruit/README.md
  src/python/adafruit/bot_pitch_positive.png
  src/python/adafruit/bot_roll.png
  src/python/adafruit/bot_standard.png
  src/python/adafruit/bot_xyz.svg
  src/python/adafruit/chip_orientation.jpg
  src/python/adafruit/quaternion.py
Labels: task
