Repository jaiarobotics/jaiabot, pull requests merged in 2025-04, with the labels that each got.

#1126 task/cleanup-crc-check-code-sub-sensor-app
  .circleci/config.yml
  src/bin/sensors/app.cpp
Labels: task, circleci

#1128 bug/1.y/fix-docker-sim
  scripts/sim-docker/entrypoint.sh
Labels: bug, circleci

#1129 feature/deploy-to-stm32-without-debugger
  .circleci/config.yml
  config/gen/bot.py
  config/templates/bot/_liaison_load.pb.cfg.in
  scripts/stm32-deploy/README.md
  scripts/stm32-deploy/deploy.sh
  scripts/stm32-deploy/stm32flash-0.7.tar.gz
  src/bin/sensors/app.cpp
  src/lib/groups.h
  src/lib/messages/sensor/sensor_core.proto
Labels: bug, feature, circleci

#1137 task/publish-ph-do-temperature-readings
  src/bin/sensors/drivers/atlas_scientific__oem_do.cpp
  src/bin/sensors/drivers/atlas_scientific__oem_ph.cpp
  src/bin/sensors/drivers/blue_robotics_bar30.cpp
Labels: task

#1138 task/hide-mcu-raw-data-from-goby-logs
  config/gen/common/logger.py
Labels: task

#1139 task/update-ec-driver-to-reflect-optional-fields
  src/bin/sensors/drivers/atlas_scientific__oem_ec.cpp
Labels: task

#1140 bug/camera-driver-not-able-to-save-images
  src/python/camera/camera_driver.py
  src/python/camera/camera_driver.service.template
Labels: bug

#1132 task/add-udev-rules-for-bio
  config/gen/bot.py
  rootfs/customization/includes.chroot/etc/udev/rules.d/90-jaiabot_serial.rules
Labels: task, rootfs

#1136 Task/1.y/major upgrade hubkey switch
  config/ansible/major_upgrade/major-upgrade.yml
  config/ansible/major_upgrade/tasks/fetch-reuse-files.yml
  config/ansible/major_upgrade/tasks/hub-check-ssh-key.yml
  config/ansible/major_upgrade/templates/do-major-upgrade.sh.j2
  config/ansible/major_upgrade/vars/staging.yml
Labels: task, circleci

#1141 task/reset-stm32-when-starting-jaiabot-sensors-service
  CMakeLists.txt
  config/gen/systemd.py
  config/templates/systemd/goby-app.service.in
  scripts/reset-bio-payload-board.sh
Labels: task, systemd

#1124 feature/add-bio-bot-type/JAIA-1912
  cmake/JaiaVersions.cmake
  config/gen/systemd.py
  debian/jaiabot-embedded.templates
  src/bin/sensors/app.cpp
  src/bin/sensors/drivers/atlas_scientific__oem_do.cpp
  src/bin/sensors/drivers/atlas_scientific__oem_ec.cpp
  src/bin/sensors/drivers/atlas_scientific__oem_ph.cpp
  src/bin/sensors/drivers/turner__c_fluor.cpp
  src/lib/messages/CMakeLists.txt
  src/lib/messages/jaia_dccl.proto
Labels: feature, debian, systemd, circleci

#1146 task/add-bio-payload-software-version-number
  src/bin/sensors/app.cpp
  src/lib/messages/sensor/metadata.proto
Labels: task

#1144 task/show-errors-for-failed-bio-sensor-initializations
  .circleci/config.yml
  README.md
  src/bin/sensors/app.cpp
  src/lib/messages/CMakeLists.txt
  src/lib/messages/health.proto
  src/lib/messages/sensor/metadata.proto
Labels: task, circleci

#1143 task/add-voltage-to-ph-do-and-fluorometer-messages
  src/bin/sensors/drivers/atlas_scientific__oem_do.cpp
  src/bin/sensors/drivers/atlas_scientific__oem_ph.cpp
  src/bin/sensors/drivers/turner__c_fluor.cpp
  src/lib/groups.h
  src/lib/messages/sensor/atlas_scientific__oem_do.proto
  src/lib/messages/sensor/atlas_scientific__oem_ph.proto
  src/lib/messages/sensor/turner__c_fluor.proto
Labels: task

#1145 feature/add-error-handling-for-missing-sensor-data-mcu
  config/templates/bot/jaiabot_sensors.pb.cfg.in
  src/bin/sensors/app.cpp
  src/bin/sensors/config.proto
  src/bin/sensors/drivers/atlas_scientific__oem_do.cpp
  src/bin/sensors/drivers/atlas_scientific__oem_do.h
  src/bin/sensors/drivers/atlas_scientific__oem_ec.cpp
  src/bin/sensors/drivers/atlas_scientific__oem_ec.h
  src/bin/sensors/drivers/atlas_scientific__oem_ph.cpp
  src/bin/sensors/drivers/atlas_scientific__oem_ph.h
  src/bin/sensors/drivers/blue_robotics_bar30.cpp
  src/bin/sensors/drivers/blue_robotics_bar30.h
  src/bin/sensors/drivers/turner__c_fluor.cpp
  src/bin/sensors/drivers/turner__c_fluor.h
  src/lib/messages/CMakeLists.txt
  src/lib/messages/health.proto
  src/lib/messages/sensor/sensor_core.proto
Labels: feature

#1148 bug/missing-data-vision-system-config
  config/gen/systemd.py
Labels: bug, systemd

#1151 task/change-doc-for-salinity
  src/doc/markdown/page41_hdf5.md
Labels: task

#1120 Feature/1.y/create pi zero image/jaia 1915
  .circleci/config.yml
  rootfs/rpicam-zero/README.md
  rootfs/rpicam-zero/build.sh
  rootfs/rpicam-zero/flash.sh
  rootfs/rpicam-zero/packer/build.pkr.hcl
  rootfs/rpicam-zero/packer/plugins.pkr.hcl
  rootfs/rpicam-zero/packer/sources.pkr.hcl
  rootfs/rpicam-zero/scripts/install-cloud-init.sh
  rootfs/rpicam-zero/scripts/install-jaia-rpicam.sh
  scripts/fleet/jaia-generate-first-boot.py
  scripts/jaia-ip.py
Labels: feature, low risk merge, rootfs, circleci

#1023 task/create-mcu-messages-for-comms/jaia-1754, feature/skeleton-app-for-running-sensor-drivers/jaia-1757
  CMakeLists.txt
  cmake/ArduinoCompile.cmake
  cmake/FindProtobufLocal.cmake
  src/arduino/jaiabot_runtime/.gitignore
  src/arduino/jaiabot_runtime/jaiabot_runtime.ino
  src/bin/CMakeLists.txt
  src/bin/drivers/atlas_scientific_ezo_ec/app.cpp
  src/bin/drivers/bluerobotics_pressure_sensor/app.cpp
  src/bin/fusion/fusion.cpp
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/machine.h
  src/bin/sensors/CMakeLists.txt
  src/bin/sensors/app.cpp
  src/bin/sensors/config.proto
  src/bin/sensors/drivers/atlas_scientific__oem_ec.cpp
  src/bin/sensors/drivers/atlas_scientific__oem_ec.h
  src/bin/simulator/simulator.cpp
  src/bin/web_portal/app.cpp
  src/doc/figures/data-pipeline.png
  src/doc/figures/sensor-mcu-sequence.png
  src/doc/markdown/page14_sensors.md
  src/lib/groups.h
  src/lib/liaison/postlaunch/liaison_jaiabot.h
  src/lib/lora/serial.h
  src/lib/messages/CMakeLists.txt
  src/lib/messages/arduino.options
  src/lib/messages/feather.options
  src/lib/messages/feather.proto
  src/lib/messages/sensor/atlas_scientific__oem_do.proto
  src/lib/messages/sensor/atlas_scientific__oem_ec.proto
  src/lib/messages/sensor/atlas_scientific__oem_ph.proto
  src/lib/messages/sensor/blue_robotics__bar30.proto
  src/lib/messages/sensor/catalog.proto
  src/lib/messages/sensor/configuration.proto
  src/lib/messages/sensor/example.proto
  src/lib/messages/sensor/metadata.proto
  src/lib/messages/sensor/pressure_temperature.proto
  src/lib/messages/sensor/salinity.proto
  src/lib/messages/sensor/sensor_core.proto
  src/lib/messages/sensor/turner__c_fluor.proto
  src/lib/units/conductivity.h
  src/python/pyjaiaprotobuf/build_messages.sh
  src/test/CMakeLists.txt
  src/test/sensor/CMakeLists.txt
  src/test/sensor/mcu/CMakeLists.txt
  src/test/sensor/mcu/cobs.h
  src/test/sensor/nanopb/CMakeLists.txt
  src/test/sensor/nanopb/test.c
  src/test/sensor/units/CMakeLists.txt
  src/test/sensor/units/test.cpp
Labels: feature

#1121 Bug/2.y/change jaiabot repository regression
  config/ansible/change-sources.yml
Labels: bug, low risk merge

#1154 bug/python-jaia-serial-not-found
  src/python/build_venv.sh
Labels: bug

#1156 bug/remove-none-bot-type-for-systemd-sensor-services
  config/gen/systemd.py
Labels: bug, systemd

#1123 Task/1.y/refactor major upgrade
  config/ansible/major_upgrade/major-upgrade.yml
  config/ansible/major_upgrade/tasks/check-disk-space.yml
  config/ansible/major_upgrade/tasks/check-hub-id.yml
  config/ansible/major_upgrade/tasks/check-latest-minor-version-installed.yml
  config/ansible/major_upgrade/tasks/check-versions.yml
  config/ansible/major_upgrade/tasks/copy-fleet-config.yml
  config/ansible/major_upgrade/tasks/directory_creation.yml
  config/ansible/major_upgrade/tasks/fetch-reuse-files.yml
  config/ansible/major_upgrade/tasks/generate-upgrade-script.yml
  config/ansible/major_upgrade/tasks/handle_failure.yml
  config/ansible/major_upgrade/tasks/hub-check-ssh-key.yml
  config/ansible/major_upgrade/tasks/hub-mount-updates-disk.yml
  config/ansible/major_upgrade/tasks/hub-stage-fleet-config.yml
  config/ansible/major_upgrade/tasks/prepare-boot-fs.yml
  config/ansible/major_upgrade/tasks/set-error-fact.yml
  config/ansible/major_upgrade/tasks/set-fleet-config-facts.yml
  config/ansible/major_upgrade/templates/do-major-upgrade.sh.j2
  config/ansible/major_upgrade/vars/staging.yml
  config/templates/hub/goby_liaison_prelaunch.pb.cfg.in
  rootfs/scripts/import_vms.sh
  rootfs/scripts/includes/import_utils.sh
  scripts/fleet/jaia-generate-first-boot.py
Labels: task, low risk merge, rootfs, circleci

#1122 Task/2.y/refactor major upgrade
  .circleci/config.yml
  config/ansible/major_upgrade/major-upgrade.yml
  config/ansible/major_upgrade/tasks/check-disk-space.yml
  config/ansible/major_upgrade/tasks/check-hub-id.yml
  config/ansible/major_upgrade/tasks/check-latest-minor-version-installed.yml
  config/ansible/major_upgrade/tasks/check-versions.yml
  config/ansible/major_upgrade/tasks/copy-fleet-config.yml
  config/ansible/major_upgrade/tasks/directory_creation.yml
  config/ansible/major_upgrade/tasks/generate-upgrade-script.yml
  config/ansible/major_upgrade/tasks/handle_failure.yml
  config/ansible/major_upgrade/tasks/hub-check-ssh-key.yml
  config/ansible/major_upgrade/tasks/hub-clear-known-hosts.yml
  config/ansible/major_upgrade/tasks/hub-mount-updates-disk.yml
  config/ansible/major_upgrade/tasks/hub-stage-fleet-config.yml
  config/ansible/major_upgrade/tasks/prepare-boot-fs.yml
  config/ansible/major_upgrade/tasks/set-error-fact.yml
  config/ansible/major_upgrade/tasks/set-fleet-config-facts.yml
  config/ansible/major_upgrade/templates/do-major-upgrade.sh.j2
  config/ansible/major_upgrade/vars/staging.yml
  config/templates/hub/goby_liaison_prelaunch.pb.cfg.in
  scripts/fleet/jaia-generate-first-boot.py
Labels: task, low risk merge, circleci

#1158 task/multiple-crc-files-in-lib-jaia-1968
  src/arduino/jaiabot_runtime/crc16.h
  src/arduino/jaiabot_runtime/fletcher16.h
  src/arduino/jaiabot_runtime/jaiabot_runtime.ino
  src/bin/drivers/arduino/app.cpp
  src/bin/drivers/camera/app.cpp
  src/bin/sensors/app.cpp
  src/lib/crc/fletcher16.h
  src/lib/lora/crc16.h
  src/lib/lora/crc32.h
  src/lib/messages/CMakeLists.txt
  src/lib/messages/lora_test.proto
  src/lib/serial/serial_crc32.h
  src/lib/serial/serial_fletcher16.h
Labels: task
