Repository jaiarobotics/jaiabot, pull requests merged in 2025-05, with the labels that each got.

#1169 Fix bug in jq usage for newer jq versions
  rootfs/cloud/aws/create_vpc.sh
Labels: low risk merge

#1159 task/2.y/add-kernel-upgrades-to-cloud-images/jaia-1976
  config/ansible/upgrade-all.yml
Labels: task, low risk merge

#1160 Fix 2.y AWS upgrades to use correct destination repo (release, beta, etc.)
  .circleci/config.yml
  rootfs/cloud/aws/packer/packer-create-ami-by-upgrade.sh
Labels: bug, low risk merge, rootfs, circleci

#1164 feature/3d-depth-plot-only
  .circleci/config.yml
  config/templates/bot/bot-sim.moos.in
  config/templates/bot/jaiabot_simulator.pb.cfg.in
  src/python/pyjaia/src/pyjaia/contours.py
  src/web/containers/CommandControl/CommandControl.less
  src/web/containers/CommandControl/CommandControl.tsx
  src/web/containers/DepthContourPlot3D/DepthColorMap.ts
  src/web/containers/DepthContourPlot3D/DepthContourPlot3D.less
  src/web/containers/DepthContourPlot3D/DepthContourPlot3D.tsx
  src/web/data/task_packets/task-packets.ts
  src/web/package-lock.json
  src/web/package.json.in
  src/web/shared/Popup.tsx
  src/web/tests/jest.setup.js
Labels: feature, circleci

#1173 bug/cicrleci-amd-focal-failing
  .circleci/config.yml
  CMakeLists.txt
  src/web/CMakeLists.txt
Labels: bug, circleci

#1175 task/refactor-health-row/JAIA-1958
  src/web/components/HealthRow/HealthRow.less
  src/web/components/HealthRow/HealthRow.tsx
  src/web/components/HealthRow/__tests__/HealthRow.test.tsx
  src/web/components/HealthStatusLine/HealthStatusLine.less
  src/web/components/HealthStatusLine/HealthStatusLine.tsx
  src/web/containers/BotDetails/BotDetails.tsx
  src/web/containers/HubDetails/HubDetails.tsx
Labels: task, dev-friendly-jcc

#1172 task/zoom-to-first-bot-with-GPS-fix/JAIA-1965
  src/web/jcc/index.tsx
  src/web/openlayers/views/view.ts
  src/web/utils/constants.ts
Labels: task, dev-friendly-jcc

#1174 task/develop-structure-for-buttons-that-apply-to-multiple-bots/JAIA-1978
  src/web/components/ActivateAllButton/ActivateAllButton.tsx
  src/web/components/ActivateAllButton/ActivateAllDialog.tsx
  src/web/components/ActivateAllButton/__tests__/ActivateAllButton.test.tsx
  src/web/components/TopButtonList/TopButtonList.tsx
  src/web/data/bots/bot.ts
  src/web/style/stylesheets/dialog.less
  src/web/utils/constants.ts
  src/web/utils/conversions.ts
Labels: task, dev-friendly-jcc

#1179 task/activate-button-full-integration/JAIA-1906
  src/web/components/ActivateButton/ActivateButton.tsx
  src/web/components/ActivateButton/ActivateDialog.tsx
  src/web/components/ActivateButton/__tests__/ActivateButton.test.tsx
  src/web/components/ActivateButton/activate-messages.ts
  src/web/containers/BotDetails/BotDetails.tsx
Labels: task

#1178 task/create-layer-switcher-menu/JAIA-1966
  src/web/containers/LayerSwitcherMenu/LayerSwitcherMenu.less
  src/web/containers/LayerSwitcherMenu/LayerSwitcherMenu.tsx
  src/web/containers/LayerSwitcherMenu/__tests__/LayerSwitcherMenu.test.tsx
  src/web/context/JaiaContext.tsx
  src/web/context/jaia-actions.ts
  src/web/openlayers/layers/__tests__/layers.test.ts
  src/web/openlayers/layers/jaia-layers.ts
  src/web/openlayers/layers/layers.ts
  src/web/openlayers/layers/tile/arc-gis-sattelite-layer.ts
  src/web/openlayers/layers/tile/noaa-enc-layer.ts
  src/web/types/context-types.ts
  src/web/types/openlayers-types.ts
Labels: task, dev-friendly-jcc

#1171 task/introduce-tasks-to-minimal-jcc/JAIA-1980
  src/web/components/Map/Map.tsx
  src/web/components/Map/__tests__/Map.test.tsx
  src/web/components/MissionAssignMenu/MissionAssignMenu.tsx
  src/web/components/TaskParameters/TaskParameters.less
  src/web/components/TaskParameters/TaskParameters.tsx
  src/web/components/TaskParameters/__tests__/TaskParameters.test.tsx
  src/web/components/WaypointPanel/WaypointPanel.less
  src/web/components/WaypointPanel/WaypointPanel.tsx
  src/web/containers/BotDetails/BotDetails.tsx
  src/web/containers/HubDetails/HubDetails.tsx
  src/web/containers/NodeList/NodeList.tsx
  src/web/context/JaiaContext.tsx
  src/web/context/jaia-actions.ts
  src/web/data/jaia_global/jaia-global.ts
  src/web/data/tasks/parameters/constant-heading-parameters.ts
  src/web/data/tasks/parameters/dive-parameters.ts
  src/web/data/tasks/parameters/drift-parameters.ts
  src/web/data/tasks/parameters/station-keep-parameters.ts
  src/web/data/tasks/task.ts
  src/web/data/tests/__mocks__/task-mock.ts
  src/web/jcc/App.tsx
  src/web/openlayers/features/waypoint-feature.ts
  src/web/style/stylesheets/details.less
  src/web/types/context-types.ts
  src/web/types/jaia-system-types.ts
  src/web/utils/constants.ts
  src/web/utils/input.ts
Labels: task, dev-friendly-jcc

#1176 feature/survey-tool-multiple-lanes-per-run
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/web/containers/CommandControl/CommandControl.tsx
  src/web/containers/MissionSettingsPanel/MissionSettingsPanel.tsx
  src/web/missions/survey/survey-lines.ts
  src/web/missions/survey/survey-mission.ts
Labels: feature

#1184 task/send-activate-all-command-to-hub
  src/web/components/ActivateAllButton/ActivateAllButton.tsx
Labels: task, dev-friendly-jcc

#1185 task/add-functionality-to-next-task-button
  src/web/components/NextTaskButton/NextTaskButton.tsx
  src/web/components/NextTaskButton/NextTaskDialog.tsx
  src/web/components/NextTaskButton/__tests__/NextTaskButton.test.tsx
  src/web/components/NextTaskButton/next-task-messages.ts
  src/web/containers/BotDetails/BotDetails.tsx
  src/web/style/stylesheets/dialog.less
Labels: task, dev-friendly-jcc

#1195 task/sensor-pressure-uniform-output-python-and-stm32/JAIA-1991
  src/bin/sensors/drivers/blue_robotics_bar30.cpp
Labels: task, circleci

#1190 task/add-back-system-power-buttons
  src/web/components/StopButton/__tests__/StopButton.test.tsx
  src/web/components/SystemButton/SystemButton.tsx
  src/web/components/SystemButton/SystemDialog.tsx
  src/web/components/SystemButton/__tests__/SystemButton.test.tsx
  src/web/components/SystemButton/system-messages.ts
  src/web/containers/BotDetails/BotDetails.tsx
  src/web/types/jaia-system-types.ts
  src/web/utils/commands.ts
Labels: task, dev-friendly-jcc

#1199 Updating stm32 deploy script and README
  scripts/stm32-deploy/README.md
  scripts/stm32-deploy/deploy.sh
Labels: task

#1197 task/add-back-start-all-missions-button
  src/web/components/ActivateAllButton/__tests__/ActivateAllButton.test.tsx
  src/web/components/StartAllMissionsButton/StartAllMissionsButton.tsx
  src/web/components/StartAllMissionsButton/StartAllMissionsDialog.tsx
  src/web/components/StartAllMissionsButton/__tests__/StartAllMissionsButton.test.tsx
  src/web/components/StartMissionButton/StartMissionDialog.tsx
  src/web/components/StartMissionButton/start-mission-messages.ts
  src/web/components/TopButtonList/TopButtonList.tsx
Labels: task, dev-friendly-jcc
