Repository jaiarobotics/jaiabot, pull requests merged in 2025-02, with the labels that each got.

#1064 feature/taskpacket-mwh-pp
  cmake/JaiaVersions.cmake
  src/bin/mission_manager/app.cpp
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
  src/lib/messages/CMakeLists.txt
  src/lib/messages/imu.proto
  src/lib/messages/jaia_dccl.proto
  src/python/adafruit/jaiabot_imu.py
  src/python/pyjaia/pyjaia/series.py
  src/python/pyjaia/pyjaia/waves/__init__.py
  src/python/pyjaia/pyjaia/waves/acceleration_analyzer.py
  src/python/pyjaia/pyjaia/waves/analysis.py
  src/python/pyjaia/pyjaia/waves/analysis_html.py
  src/python/pyjaia/pyjaia/waves/config.json
  src/python/pyjaia/pyjaia/waves/drift.py
  src/python/pyjaia/pyjaia/waves/filters.py
  src/python/pyjaia/pyjaia/waves/jaia-analyze-waves.py
  src/python/pyjaia/pyjaia/waves/jaia-simulate-h5.py
  src/python/pyjaia/pyjaia/waves/moskowitz.py
  src/python/pyjaia/pyjaia/waves/processing.py
  src/python/pyjaia/pyjaia/waves/series_set.py
  src/python/pyjaia/pyjaia/waves/types.py
  src/python/pyjaia/pyjaia/waves/window.py
  src/python/pyjaia/setup.py
Labels: feature, task

#1068 feature/3d-depth-plot
  config/templates/bot/jaiabot_simulator.pb.cfg.in
  src/python/pyjaia/pyjaia/contours.py
  src/web/containers/CommandControl/CommandControl.tsx
  src/web/containers/DepthContourPlot3D/DepthColorMap.ts
  src/web/containers/DepthContourPlot3D/DepthContourPlot3D.less
  src/web/containers/DepthContourPlot3D/DepthContourPlot3D.tsx
  src/web/data/task_packets/task-packets.ts
Labels: feature

#1070 feature/new-overlay-for-wave-data
  src/web/containers/CommandControl/CommandControl.tsx
  src/web/data/task_packets/task-packets.ts
  src/web/openlayers/map/layers/layers.ts
  src/web/shared/Styles.ts
  src/web/shared/TaskPacketFeatures.ts
  src/web/shared/noun-wave.svg
Labels: feature

#1057 task/implement-design-for-open-layers-structure/JAIA-1824
  src/web/components/Map/Map.less
  src/web/components/Map/Map.tsx
  src/web/components/Map/__tests__/Map.test.tsx
  src/web/containers/BotDetails/BotDetails.tsx
  src/web/containers/CommandControl/CommandControl.tsx
  src/web/containers/CommandControl/__tests__/CommandControl.test.tsx
  src/web/containers/HubDetails/HubDetails.tsx
  src/web/containers/NodeListPanel/NodeListPanel.tsx
  src/web/context/Global/GlobalContext.tsx
  src/web/data/bots/bot.ts
  src/web/data/bots/bots.ts
  src/web/data/hubs/hub.ts
  src/web/data/hubs/hubs.ts
  src/web/data/jaia_global/jaia-global.ts
  src/web/jcc/App.less
  src/web/jcc/App.tsx
  src/web/jcc/index.tsx
  src/web/openlayers/controls/controls.ts
  src/web/openlayers/features/bot-feature.ts
  src/web/openlayers/features/hub-feature.ts
  src/web/openlayers/layers/__tests__/bot-layer.test.ts
  src/web/openlayers/layers/__tests__/hub-layer.test.ts
  src/web/openlayers/layers/__tests__/layers.test.ts
  src/web/openlayers/layers/jaia-layers.ts
  src/web/openlayers/layers/layers.ts
  src/web/openlayers/layers/tile/osm-layer.ts
  src/web/openlayers/layers/vector/bot-layer.ts
  src/web/openlayers/layers/vector/hub-layer.ts
  src/web/openlayers/layers/vector/jaia-vector-layer.ts
  src/web/openlayers/layers/vector/mission-layer.ts
  src/web/openlayers/map/layers/hub-layers.ts
  src/web/openlayers/maps/map.ts
  src/web/openlayers/views/view.ts
  src/web/style/icons/bot.svg
  src/web/style/icons/hub.svg
  src/web/style/icons/waypoint.svg
  src/web/tests/__mocks__/openlayers/events/map-browser-click.mock.ts
  src/web/types/jaia-system-types.ts
  src/web/types/openlayers-types.ts
  src/web/utils/style.ts
Labels: task, dev-friendly-jcc

#1067 task/refactor-mission-controller-panel/JAIA-1830
  src/web/components/MissionAssignMenu/MissionAssignMenu.less
  src/web/components/MissionAssignMenu/MissionAssignMenu.tsx
  src/web/components/RunAssignMenu/RunAssignMenu.tsx
  src/web/containers/CommandControl/CommandControl.less
  src/web/containers/CommandControl/__tests__/CommandControl.test.tsx
  src/web/containers/MissionControllerPanel/MissionSpeedSettings/MissionSpeedSettings.less
  src/web/containers/MissionControllerPanel/RunPanel/RunList/RunItem/RunItem.tsx
  src/web/containers/MissionsPanel/MissionsList/MissionsList.less
  src/web/containers/MissionsPanel/MissionsList/MissionsList.tsx
  src/web/containers/MissionsPanel/MissionsPanel.less
  src/web/containers/MissionsPanel/MissionsPanel.tsx
  src/web/containers/MissionsPanel/__tests__/MissionsPanel.test.tsx
  src/web/containers/NodeList/NodeList.less
  src/web/context/Global/GlobalActions.ts
  src/web/context/Global/GlobalContext.tsx
  src/web/context/JaiaSystem/JaiaSystemContext.tsx
  src/web/context/JaiaSystem/jaia-system-actions.ts
  src/web/data/jaia_global/jaia-global.ts
  src/web/data/missions/__tests__/missions.test.ts
  src/web/data/missions/mission.ts
  src/web/data/missions/missions.ts
  src/web/data/missions_manager/missions-manager.ts
  src/web/jcc/App.tsx
  src/web/style/stylesheets/buttons.less
  src/web/style/stylesheets/panels.less
  src/web/style/stylesheets/util.less
Labels: task, dev-friendly-jcc

#1075 task/refactor-data-offload-button/JAIA-1853
  src/web/components/DataOffloadButton/DataOffloadButton.tsx
  src/web/components/DataOffloadButton/DataOffloadDialog.tsx
  src/web/components/DataOffloadButton/__tests__/DataOffloadButton.test.tsx
  src/web/components/DataOffloadButton/data-offload-messages.ts
  src/web/containers/CommandControl/CommandControl.less
  src/web/style/stylesheets/button.less
  src/web/style/stylesheets/dialog.less
  src/web/style/stylesheets/util.less
  src/web/utils/command.ts
Labels: task, dev-friendly-jcc

#1079 task/show-waypoints-on-missions-layer/JAIA-1862
  src/web/components/Map/Map.tsx
  src/web/components/Map/__tests__/Map.test.tsx
  src/web/containers/BotDetails/BotDetails.tsx
  src/web/containers/BotDetails/bot-details.ts
  src/web/context/Global/GlobalContext.tsx
  src/web/context/JaiaSystem/JaiaSystemContext.tsx
  src/web/context/JaiaSystem/jaia-system-actions.ts
  src/web/data/missions/__tests__/mission.test.ts
  src/web/data/missions/mission.ts
  src/web/data/missions/missions.ts
  src/web/data/tests/__mocks__/mission-mock.ts
  src/web/data/tests/__mocks__/waypoint-mock.ts
  src/web/data/waypoints/waypoint.ts
  src/web/openlayers/features/waypoint-feature.ts
  src/web/openlayers/layers/vector/mission-layer.ts
  src/web/style/icons/waypoint-arrow.svg
  src/web/style/openlayers/colors.ts
  src/web/style/openlayers/zindex.ts
  src/web/tests/__mocks__/openlayers/events/map-browser-click.mock.ts
  src/web/types/openlayers-types.ts
  src/web/utils/constants.ts
Labels: task, dev-friendly-jcc

#1083 Increase virtualfleet disk size to match non-mindisk image minimum
  config/ansible/cloud/create-virtualfleet.yml
Labels: bug, low risk merge

#1087 bug/python-packages-version-mismatch-debian
  debian/jaiabot-python.postinst
  scripts/bundle_update.sh
Labels: bug, debian, circleci

#1090 bug/build-gives-incorrect-path-to-intervehicle-api-version-jaia-1786
  cmake/CheckDCCLHASH.cmake
  src/lib/messages/CMakeLists.txt
Labels: bug
