Repository jaiarobotics/jaiabot, pull requests merged in 2025-07, with the labels that each got.

#1243 task/refactor-data-offload-queue
  src/bin/hub_manager/hub_manager.cpp
  src/lib/messages/hub.proto
  src/web/components/ButtonList/ButtonList.tsx
  src/web/components/DataOfffloadAllButton/DataOffloadAllButton.tsx
  src/web/components/DataOfffloadAllButton/DataOffloadAllDialog.tsx
  src/web/components/DataOffloadButton/DataOffloadButton.tsx
  src/web/components/DataOffloadButton/DataOffloadDialog.tsx
  src/web/components/DataOffloadButton/__tests__/DataOffloadButton.test.tsx
  src/web/components/DataOffloadButton/data-offload-messages.ts
  src/web/components/DataOffloadPanel/DataOffloadPanel.less
  src/web/components/DataOffloadPanel/DataOffloadPanel.tsx
  src/web/components/DataOffloadQueue/DataOffloadQueue.less
  src/web/components/DataOffloadQueue/DataOffloadQueue.tsx
  src/web/containers/BotDetails/BotDetails.tsx
  src/web/containers/BotDetails/bot-details.ts
  src/web/containers/HubDetails/HubDetails.tsx
  src/web/containers/LayerSwitcherMenu/LayerSwitcherMenu.tsx
  src/web/containers/MissionsPanel/MissionsList/MissionsList.tsx
  src/web/jcc/App.tsx
  src/web/types/context-types.ts
  src/web/types/protobuf-types.ts
  src/web/utils/style.ts
Labels: task, dev-friendly-jcc

#1268 bug/oms-srp-with-no-constant-heading
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
Labels: bug

#1245 task/integrate-task-packets-into-dev-friendly-jcc
  src/web/components/Map/Map.tsx
  src/web/components/TaskPacketPanel/TaskPacketPanel.less
  src/web/components/TaskPacketPanel/TaskPacketPanel.tsx
  src/web/context/JaiaContext.tsx
  src/web/context/jaia-actions.ts
  src/web/data/bots/bot.ts
  src/web/data/jaia_global/jaia-global.ts
  src/web/data/task_packets/task-packets-new.ts
  src/web/data/task_packets/task-packets.ts
  src/web/jcc/App.tsx
  src/web/jcc/index.tsx
  src/web/openlayers/features/dive-feature.ts
  src/web/openlayers/layers/layers.ts
  src/web/openlayers/layers/vector/bot-layer.ts
  src/web/openlayers/layers/vector/dive-layer.ts
  src/web/openlayers/layers/vector/hub-layer.ts
  src/web/openlayers/layers/vector/mission-layer.ts
  src/web/openlayers/layers/zindex.ts
  src/web/style/icons/dive-marker.svg
  src/web/types/context-types.ts
  src/web/types/jaia-system-types.ts
  src/web/types/openlayers-types.ts
  src/web/utils/constants.ts
Labels: task

#1271 task/2.y/release-1.20.1
  src/bin/mission_manager/machine.cpp
  src/bin/mission_manager/machine.h
Labels: task

#1276 task/2.y/integrate-taks-packets-into-developer-friendly-jcc
  src/web/components/Map/Map.tsx
  src/web/components/TaskPacketPanel/TaskPacketPanel.less
  src/web/components/TaskPacketPanel/TaskPacketPanel.tsx
  src/web/context/JaiaContext.tsx
  src/web/context/jaia-actions.ts
  src/web/data/bots/bot.ts
  src/web/data/jaia_global/jaia-global.ts
  src/web/data/task_packets/task-packets-new.ts
  src/web/data/task_packets/task-packets.ts
  src/web/jcc/App.tsx
  src/web/jcc/index.tsx
  src/web/openlayers/features/dive-feature.ts
  src/web/openlayers/layers/layers.ts
  src/web/openlayers/layers/vector/bot-layer.ts
  src/web/openlayers/layers/vector/dive-layer.ts
  src/web/openlayers/layers/vector/hub-layer.ts
  src/web/openlayers/layers/vector/mission-layer.ts
  src/web/openlayers/layers/zindex.ts
  src/web/style/icons/dive-marker.svg
  src/web/types/context-types.ts
  src/web/types/jaia-system-types.ts
  src/web/types/openlayers-types.ts
  src/web/utils/constants.ts
Labels: task, dev-friendly-jcc

#1284 task/add-back-rally-panel
  src/web/components/GoToRallyButton/GoToRallyButton.tsx
  src/web/components/GoToRallyButton/GoToRallyDialog.tsx
  src/web/components/GoToRallyButton/go-to-rally-messages.ts
  src/web/components/Map/Map.tsx
  src/web/components/RallyPanel/RallyPanel.less
  src/web/components/RallyPanel/RallyPanel.tsx
  src/web/context/JaiaContext.tsx
  src/web/context/jaia-actions.ts
  src/web/data/missions_manager/missions-manager.ts
  src/web/jcc/App.tsx
  src/web/openlayers/features/rally-feature.ts
  src/web/openlayers/layers/vector/rally-layer.ts
  src/web/types/context-types.ts
  src/web/types/jaia-system-types.ts
  src/web/types/openlayers-types.ts
Labels: task

#1285 task/add-back-rally-panel (#1284)
  src/web/components/GoToRallyButton/GoToRallyButton.tsx
  src/web/components/GoToRallyButton/GoToRallyDialog.tsx
  src/web/components/GoToRallyButton/go-to-rally-messages.ts
  src/web/components/Map/Map.tsx
  src/web/components/RallyPanel/RallyPanel.less
  src/web/components/RallyPanel/RallyPanel.tsx
  src/web/context/JaiaContext.tsx
  src/web/context/jaia-actions.ts
  src/web/data/missions_manager/missions-manager.ts
  src/web/jcc/App.tsx
  src/web/openlayers/features/rally-feature.ts
  src/web/openlayers/layers/vector/rally-layer.ts
  src/web/types/context-types.ts
  src/web/types/jaia-system-types.ts
  src/web/types/openlayers-types.ts
Labels: task

#1254 task/2.y/add-back-comms-circles
  src/web/jcc/index.tsx
  src/web/openlayers/features/hub-comms-feature.ts
  src/web/openlayers/layers/layers.ts
  src/web/openlayers/layers/vector/hub-comms-layer.ts
  src/web/openlayers/layers/vector/rally-layer.ts
  src/web/openlayers/layers/vector/zindex.ts
  src/web/openlayers/layers/zindex.ts
  src/web/style/openlayers/colors.ts
  src/web/types/openlayers-types.ts
  src/web/utils/constants.ts
Labels: task, dev-friendly-jcc

#1269 bug/web-sql-error-jaia-2022
  src/python/pyjaia/src/pyjaia/task_packet_database.py
Labels: bug, debian

#1286 task/2.y/match-button-order-with-2-y
  src/web/components/ButtonList/ButtonList.tsx
  src/web/style/stylesheets/button-list.less
Labels: task

#1287 task/2.y/add-close-button-to-task-packet-panel
  src/web/components/Map/Map.tsx
  src/web/components/TaskPacketPanel/TaskPacketPanel.less
  src/web/components/TaskPacketPanel/TaskPacketPanel.tsx
  src/web/context/JaiaContext.tsx
  src/web/jcc/index.tsx
  src/web/types/context-types.ts
Labels: task

#1289 task/2.y/release-1.20.2
  src/web/jcc.conf
Labels: task
